<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼를 쓸려면 이렇게 가야된다. -->
<mapper	namespace="com.kh.realfinal.financialterm.model.mapper.FinancialtermMapper">
	<insert id="insertFinancialterm"
		parameterType="Financialterm">
		INSERT INTO FINANCIALTERM(
		fnceDictNm, ksdFnceDictDescContent) VALUES
		(#{fnceDictNm},
		#{ksdFnceDictDescContent})
	</insert>


</mapper>

<!-- dao 쓸거면 이렇게 가야된다
<mapper	namespace="FinancialtermMapper">
	<insert id="insertFinancialterm"
		parameterType="Financialterm">
		INSERT INTO FINANCIALTERM(
		fnceDictNm, ksdFnceDictDescContent) VALUES
		(#{fnceDictNm},
		#{ksdFnceDictDescContent})
	</insert>


</mapper> -->