<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapper 설정 파일임을 선언하는 부분 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.fintech.mvc.financialterm.model.vo.Financialterm">
  <insert id="insertFinancialterm" parameterType="com.fintech.mvc.financialterm.model.vo.Financialterm">
  	INSERT INTO FINANCIALTERM(
  	fnceDictNm, ksdFnceDictDescContent) VALUES
		(#{fnceDictNm}, #{ksdFnceDictDescContent})
  </insert>
  
  
  </mapper>