<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.kh.realfinal.apply.model.mapper.RealEstateListMapper">
  
  
  
  <resultMap type="RealEstateList" id="RealEstateListMap">
  	<id property="house_manage_no" column="HOUSE_MANAGE_NO"/>
  	<result property="house_secd_nm" column="HOUSE_SECD_NM"/>
  	<result property="house_nm" column="HOUSE_NM"/>
  	<result property="hssply_adres" column="HSSPLY_ADRES"/>
  	<result property="rcrit_pblanc_de" column="RCRIT_PBLANC_DE"/>
  	<result property="subscrpt_area_code_nm" column="SUBSCRPT_AREA_CODE_NM"/>
  	<result property="type" column="TYPE"/>
  </resultMap>
  
  <select id="RealboardList" resultMap="RealEstateListMap">
		SELECT 
			HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, 
			HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, TYPE
		FROM (
			SELECT HOUSE_MANAGE_NO,HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, 
					RCRIT_PBLANC_DE, 'U' AS TYPE FROM URBTYOFCTLLTTOTPBLANCDETAIL
    		UNION 
    		SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, 
    				RCRIT_PBLANC_DE, 'R' AS TYPE  FROM REMNDRLTTOTPBLANCDETAIL
    	)
		<where> 
		<if test="locationType != null">
			<foreach collection="locationType" item="list1">
				OR SUBSCRPT_AREA_CODE_NM LIKE '%'||#{list1}||'%'
			</foreach>
		</if>
		<if test="houseType != null">
			<foreach collection="houseType" item="list2">
				OR HOUSE_SECD_NM	LIKE '%'||#{list2}||'%'
			</foreach>
		</if>
		<if test="contentKeyword != null">
			AND HOUSE_NM LIKE '%'||#{contentKeyword}||'%'
		</if>
		<if test="localNameType != null">
			AND SUBSCRPT_AREA_CODE_NM LIKE '%'||#{localNameType}||'%'
		</if>
		</where>
		ORDER BY RCRIT_PBLANC_DE DESC
	</select>
  
  <select id="RealboardListCount" resultType="int" parameterType="map">
		SELECT COUNT(*)	
		FROM (
			SELECT 
				HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, 
				HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, TYPE
			FROM (
				SELECT HOUSE_MANAGE_NO,HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, 
				RCRIT_PBLANC_DE, 'U' AS TYPE FROM URBTYOFCTLLTTOTPBLANCDETAIL
    		UNION 
    		SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, 
    				RCRIT_PBLANC_DE, 'R' AS TYPE  FROM REMNDRLTTOTPBLANCDETAIL
    		)
		<where> 
		<if test="locationType != null">
			<foreach collection="locationType" item="list1">
				OR SUBSCRPT_AREA_CODE_NM LIKE '%'||#{list1}||'%'
			</foreach>
		</if>
		<if test="houseType != null">
			<foreach collection="houseType" item="list2">
				OR HOUSE_SECD_NM	LIKE '%'||#{list2}||'%'
			</foreach>
		</if>
		<if test="contentKeyword != null">
			AND HOUSE_NM LIKE '%'||#{contentKeyword}||'%'
		</if>
		<if test="localNameType != null">
			AND SUBSCRPT_AREA_CODE_NM LIKE '%'||#{localNameType}||'%'
		</if>
		</where>
		ORDER BY RCRIT_PBLANC_DE DESC)
	</select>
  
  
  </mapper>