<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.kh.realfinal.apply.model.mapper.RealEstateListMapper">
  
  
  
  <resultMap type="RealEstateList" id="RealEstateListMap">
  	<id property="house_manage_no" column="HOUSE_MANAGE_NO"/>
  	<result property="house_secd_nm" column="HOUSE_SECD_NM"/>
  	<result property="house_nm" column="HOUSE_NM"/>
  	<result property="hssply_adres" column="HSSPLY_ADRES"/>
  	<result property="rcrit_pblanc_de" column="RCRIT_PBLANC_DE"/>
  	<result property="subscrpt_area_code_nm" column="SUBSCRPT_AREA_CODE_NM"/>
  	<result property="hmpg_adres" column="HMPG_ADRES"/>
  	<result property="type" column="TYPE"/>
  </resultMap>
  
  
  <select id="RealMainboardList" resultMap="RealEstateListMap">
		SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, RCRIT_PBLANC_DE, HMPG_ADRES, TYPE 
		FROM (
			SELECT HOUSE_MANAGE_NO,HOUSE_SECD_NM, HOUSE_NM,RCRIT_PBLANC_DE, HMPG_ADRES, 'U' AS TYPE FROM URBTYOFCTLLTTOTPBLANCDETAIL 
			UNION 
			SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, RCRIT_PBLANC_DE, HMPG_ADRES, 'R' AS TYPE FROM REMNDRLTTOTPBLANCDETAIL
			UNION 
			SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, RCRIT_PBLANC_DE, HMPG_ADRES, 'A' AS TYPE FROM APT_LTTOT_PBLANC_DETAIL
			)
		ORDER BY RCRIT_PBLANC_DE DESC
	</select>
	
	 <select id="RealMainboardListCount" resultType="int" parameterType="map">
		SELECT COUNT(*)
		FROM(
		SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM,  RCRIT_PBLANC_DE, TYPE
		FROM (
		    SELECT HOUSE_MANAGE_NO,HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, RCRIT_PBLANC_DE, 'U' AS TYPE FROM URBTYOFCTLLTTOTPBLANCDETAIL
		    UNION 
		    SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, RCRIT_PBLANC_DE, 'R' AS TYPE  FROM REMNDRLTTOTPBLANCDETAIL
		    UNION
		    SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, RCRIT_PBLANC_DE, 'A' AS TYPE  FROM APT_LTTOT_PBLANC_DETAIL
		    )
		    WHERE RCRIT_PBLANC_DE = TO_DATE('20221019', 'YYYY-MM-DD'))
	</select>
  
  
  
  <select id="RealboardList" resultMap="RealEstateListMap">
		SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, TYPE 
		FROM (
			SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, TYPE 
		FROM (
			SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, TYPE 
		FROM (
			SELECT HOUSE_MANAGE_NO,HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, 'U' AS TYPE FROM URBTYOFCTLLTTOTPBLANCDETAIL 
			UNION 
			SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, 'R' AS TYPE FROM REMNDRLTTOTPBLANCDETAIL
			UNION 
			SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, 'A' AS TYPE FROM APT_LTTOT_PBLANC_DETAIL
			)
		<if test="locationType != null">
		WHERE SUBSCRPT_AREA_CODE_NM IN 
			<foreach collection="locationType" item="list1" open="(" close=")" separator=",">
				#{list1}
			</foreach>
		</if>
		)
		<if test="houseType != null">
		WHERE HOUSE_SECD_NM	IN 
			<foreach collection="houseType" item="list2" open="(" close=")" separator=",">
				#{list2}
			</foreach>
		</if>
		)
		<if test="contentKeyword != null">
			WHERE HOUSE_NM LIKE '%'||#{contentKeyword}||'%'
		</if>
		<if test="localNameType != null">
			WHERE SUBSCRPT_AREA_CODE_NM LIKE '%'||#{localNameType}||'%' 
		</if>
		ORDER BY RCRIT_PBLANC_DE DESC
	</select>
  
  <select id="RealboardListCount" resultType="int" parameterType="map">
		SELECT COUNT(*)	
		FROM (
		SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, 
		TYPE FROM (SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, 
		TYPE FROM (SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, RCRIT_PBLANC_DE, SUBSCRPT_AREA_CODE_NM, 
		TYPE FROM (SELECT HOUSE_MANAGE_NO,HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, RCRIT_PBLANC_DE, 'U' AS TYPE FROM URBTYOFCTLLTTOTPBLANCDETAIL 
		UNION SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, RCRIT_PBLANC_DE, 'R' AS TYPE FROM REMNDRLTTOTPBLANCDETAIL
		UNION SELECT HOUSE_MANAGE_NO, HOUSE_SECD_NM, HOUSE_NM, HSSPLY_ADRES, SUBSCRPT_AREA_CODE_NM, RCRIT_PBLANC_DE, 'A' AS TYPE FROM APT_LTTOT_PBLANC_DETAIL
		)
		<if test="locationType != null">
		WHERE SUBSCRPT_AREA_CODE_NM IN 
			<foreach collection="locationType" item="list1" open="(" close=")" separator=",">
				#{list1}
			</foreach>
		</if>
		)
		<if test="houseType != null">
		WHERE HOUSE_SECD_NM	IN 
			<foreach collection="houseType" item="list2" open="(" close=")" separator=",">
				#{list2}
			</foreach>
		</if>
		)
		<if test="contentKeyword != null">
			WHERE HOUSE_NM LIKE '%'||#{contentKeyword}||'%'
		</if>
		<if test="localNameType != null">
			WHERE SUBSCRPT_AREA_CODE_NM LIKE '%'||#{localNaype}||'%' 
		</if>
		ORDER BY RCRIT_PBLANC_DE DESC)meT
	</select>
	
	
	
  
  
  </mapper>