<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.kh.realfinal.apply.model.mapper.RemndrLttotPblancDetailMapper">
	<sql id="RemndrSql" >
	SELECT 	R.HOUSE_MANAGE_NO,		R.PBLANC_NO,R.HOUSE_NM,
			R.HOUSE_SECD,			R.HOUSE_SECD_NM,	
			R.HSSPLY_ZIP,			R.HSSPLY_ADRES,	
			R.TOT_SUPLY_HSHLDCO,	R.RCRIT_PBLANC_DE,
			R.SUBSCRPT_RCEPT_BGNDE,	R.SUBSCRPT_RCEPT_ENDDE,
			R.SPSPLY_RCEPT_BGNDE,	R.SPSPLY_RCEPT_ENDDE,
			R.GNRL_RCEPT_RCPTDE,	R.GNRL_RCEPT_ENDDE,
			R.PRZWNER_PRESNATN_DE,	R.CNTRCT_CNCLS_BGNDE,
			R.CNTRCT_CNCLS_ENDDE,	R.HMPG_ADRES,
			R.BSNS_MBY_NM,			R.MDHS_TELNO,
			R.MVN_PREARNGE_YM	
	FROM REMNDRLTTOTPBLANCDETAIL R
	</sql>
	


	<resultMap type="RemndrLttotPblancDetail" id="RemndrMap">
		<id property="house_manage_no" column="HOUSE_MANAGE_NO"/>
		<result property="pblanc_no" column="PBLANC_NO"/>
		<result property="house_nm" column="HOUSE_NM"/>
		<result property="house_secd" column="HOUSE_SECD"/>
		<result property="house_secd_nm" column="HOUSE_SECD_NM"/>
		<result property="hssply_zip" column="HSSPLY_ZIP"/>
		<result property="hmpg_adres" column="HMPG_ADRES"/>
		<result property="tot_suply_hshldco" column="TOT_SUPLY_HSHLDCO"/>
		<result property="rcrit_pblanc_de" column="RCRIT_PBLANC_DE"/>
		<result property="subscrpt_rcept_bgnde" column="SUBSCRPT_RCEPT_BGNDE"/>
		<result property="subscrpt_rcept_endde" column="SUBSCRPT_RCEPT_ENDDE"/>
		<result property="spsply_rcept_bgnde" column="SPSPLY_RCEPT_BGNDE"/>
		<result property="spsply_rcept_endde" column="SPSPLY_RCEPT_ENDDE"/>
		<result property="gnrl_rcept_rcptde" column="GNRL_RCEPT_RCPTDE"/>
		<result property="gnrl_rcept_endde" column="GNRL_RCEPT_ENDDE"/>
		<result property="przwner_presnatn_de" column="PRZWNER_PRESNATN_DE"/>
		<result property="cntrct_cncls_bgnde" column="CNTRCT_CNCLS_BGNDE"/>
		<result property="cntrct_cncls_endde" column="CNTRCT_CNCLS_ENDDE"/>
		<result property="hmpg_adres" column="HMPG_ADRES"/>
		<result property="bsns_mby_nm" column="BSNS_MBY_NM"/>
		<result property="mdhs_telno" column="MDHS_TELNO"/>
		<result property="mvn_prearnge_ym" column="MVN_PREARNGE_YM"/>
	</resultMap>
	
	<resultMap type="RemndrLttotPblancDetail" id="RemndrLttotPblancDetailMap" extends="RemndrMap">
		<collection property="RemndrLttotPblancDetailList" javaType="arrayList" resultMap="RemndrMdlMap"/>
	</resultMap>
	
	<resultMap type="RemndrMdl" id="RemndrMdlMap">
		<id property="house_manage_no" column="HOUSE_MANAGE_NO"/>
		<result property="pblanc_no" column="PBLANC_NO"/>
		<result property="model_no" column="MODEL_NO"/>
		<result property="house_ty" column="HOUSE_TY"/>
		<result property="supply_ar" column="SUPPLY_AR"/>
		<result property="suply_hshldco" column="SUPLY_HSHLDCO"/>
		<result property="spsply_hshldco" column="SPSPLY_HSHLDCO"/>
		<result property="lttot_top_amount" column="LTTOT_TOP_AMOUNT"/>
	</resultMap>
	
	<select id="RemndrList" resultMap="RemndrMap">
		SELECT * FROM REMNDRLTTOTPBLANCDETAIL R
		<where> 
		<if test="contentKeyword != null">
			AND R.HOUSE_NM LIKE '%'||#{contentKeyword}||'%'
		</if>
		<if test="sortingType != null">
			AND R.HOUSE_SECD LIKE '%'||#{sortingType}||'%'
		</if>
		</where>
	</select>
	
	<select id="RemndrListCount" resultType="int" parameterType="map">
		SELECT COUNT(*)	FROM REMNDRLTTOTPBLANCDETAIL R
		<where> 
		<if test="contentKeyword != null">
			AND R.HOUSE_NM LIKE '%'||#{contentKeyword}||'%'
		</if>
		<if test="sortingType != null">
			AND R.HOUSE_SECD LIKE '%'||#{sortingType}||'%'
		</if>
		</where>
	</select>
	
	
	
	
	
	<insert id="insertRemndrLttotPblancDetail"
		parameterType="hashMap">
	INSERT INTO REMNDRLTTOTPBLANCDETAIL(
		HOUSE_MANAGE_NO,
		PBLANC_NO,
		HOUSE_NM,
		HOUSE_SECD,
		HOUSE_SECD_NM,
		HSSPLY_ZIP,
		HSSPLY_ADRES,
		TOT_SUPLY_HSHLDCO,
		RCRIT_PBLANC_DE,
		SUBSCRPT_RCEPT_BGNDE,
		SUBSCRPT_RCEPT_ENDDE,
		SPSPLY_RCEPT_BGNDE,
		SPSPLY_RCEPT_ENDDE,
		GNRL_RCEPT_RCPTDE,
		GNRL_RCEPT_ENDDE,
		PRZWNER_PRESNATN_DE,
		CNTRCT_CNCLS_BGNDE,
		CNTRCT_CNCLS_ENDDE,
		HMPG_ADRES,
		BSNS_MBY_NM,
		MDHS_TELNO,
		MVN_PREARNGE_YM
	)
	VALUES(
		#{house_manage_no}, #{pblanc_no}, 
		#{house_nm}, #{house_secd}, #{house_secd_nm}, #{hssply_zip}, 
		#{hmpg_adres}, #{tot_suply_hshldco}, #{rcrit_pblanc_de},
		#{subscrpt_rcept_bgnde}, #{subscrpt_rcept_endde},
		#{spsply_rcept_bgnde}, #{spsply_rcept_endde}, 
		#{gnrl_rcept_rcptde}, #{gnrl_rcept_endde},
		#{przwner_presnatn_de}, 
		#{cntrct_cncls_bgnde}, #{cntrct_cncls_endde}, 
		#{hmpg_adres}, #{bsns_mby_nm}, 
		#{mdhs_telno}, #{mvn_prearnge_ym}
	)
	</insert>
	
	<insert id="insertRemndrMdl"
		parameterType="hashMap">
	INSERT INTO REMNDRMDL(
		HOUSE_MANAGE_NO,
		PBLANC_NO,
		MODEL_NO,
		HOUSE_TY,
		SUPPLY_AR,
		SUPLY_HSHLDCO,
		SPSPLY_HSHLDCO,
		LTTOT_TOP_AMOUNT
	)
	VALUES(
		#{house_manage_no}, #{pblanc_no},
		#{model_no}, #{house_ty}, #{supply_ar},
		#{suply_hshldco}, #{spsply_hshldco}, #{lttot_top_amount}
	)
	</insert>
</mapper>
