<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.kh.realfinal.apply.model.mapper.RemndrMdlMapper">
	<insert id="insertRemndrMdl"
		parameterType="hashMap">
	INSERT INTO REMNDRMDL(
		HOUSE_MANAGE_NO,
		PBLANC_NO,
		MODEL_NO,
		HOUSE_TY,
		SUPPLY_AR,
		SUPLY_HSHLDCO,
		SPSPLY_HSHLDCO,
		LTTOT_TOP_AMOUNT
	)
	VALUES
	(#{house_manage_no}, #{pblanc_no},
	#{model_no}, #{house_ty}, #{supply_ar},
	#{suply_hshldco}, #{spsply_hshldco}, #{lttot_top_amount})
	</insert>
</mapper>
