<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.kh.realfinal.apply.model.mapper.UrbtyOfctlLttotPblancDetailMapper">
	<sql id="UrbtySql">
	SELECT 	U.HOUSE_MANAGE_NO,		U.PBLANC_NO,
			U.HOUSE_NM,				U.HOUSE_SECD,			
			U.HOUSE_SECD_NM,		u.house_dtl_secd,
			u.house_dtl_secd_nm,	u.search_house_secd,
			U.HSSPLY_ZIP,			U.TOT_SUPLY_HSHLDCO,
			U.RCRIT_PBLANC_DE,		U.SUBSCRPT_RCEPT_BGNDE,	
			U.SUBSCRPT_RCEPT_ENDDE,	U.PRZWNER_PRESNATN_DE,	
			U.CNTRCT_CNCLS_BGNDE,	U.CNTRCT_CNCLS_ENDDE,	
			U.HMPG_ADRES,			U.BSNS_MBY_NM,
			U.MDHS_TELNO,			U.MVN_PREARNGE_YM,
			U.HSSPLY_ADRES,			U.LOCAL_NM
	FROM URBTYOFCTLLTTOTPBLANCDETAIL U
	</sql>

	
	<resultMap type="UrbtyOfctlLttotPblancDetail" id="UrbtyMap">
		<id property="house_manage_no" column="HOUSE_MANAGE_NO"/>
		<result property="pblanc_no" column="PBLANC_NO"/>
		<result property="house_nm" column="HOUSE_NM"/>
		<result property="house_secd" column="HOUSE_SECD"/>
		<result property="house_secd_nm" column="HOUSE_SECD_NM"/>
		<result property="house_dtl_secd" column="HOUSE_DTL_SECD"/>
		<result property="house_dtl_secd_nm" column="HOUSE_DTL_SECD_NM"/>
		<result property="search_house_secd" column="SEARCH_HOUSE_SECD"/>
		<result property="hssply_zip" column="HSSPLY_ZIP"/>
		<result property="tot_suply_hshldco" column="TOT_SUPLY_HSHLDCO"/>
		<result property="rcrit_pblanc_de" column="RCRIT_PBLANC_DE"/>
		<result property="subscrpt_rcept_bgnde" column="SUBSCRPT_RCEPT_BGNDE"/>
		<result property="subscrpt_rcept_endde" column="SUBSCRPT_RCEPT_ENDDE"/>
		<result property="przwner_presnatn_de" column="PRZWNER_PRESNATN_DE"/>
		<result property="cntrct_cncls_bgnde" column="CNTRCT_CNCLS_BGNDE"/>
		<result property="cntrct_cncls_endde" column="CNTRCT_CNCLS_ENDDE"/>
		<result property="hmpg_adres" column="HMPG_ADRES"/>
		<result property="bsns_mby_nm" column="BSNS_MBY_NM"/>
		<result property="mdhs_telno" column="MDHS_TELNO"/>
		<result property="mvn_prearnge_ym" column="MVN_PREARNGE_YM"/>
		<result property="hssply_adres" column="HSSPLY_ADRES"/>
		<result property="local_nm" column="LOCAL_NM"/>
	</resultMap>
	
	
	<resultMap type="UrbtyOfctlLttotPblancDetail" id="UrbtyOfctlLttotPblancDetailMap" extends="UrbtyMap">
		<collection property="UrbtyOfctlLttotPblancDetailList" javaType="arrayList" resultMap="UrbtyMdlMap"/>
	</resultMap>
	
	
	<resultMap type="UrbtyMdl" id="UrbtyMdlMap">
		<id property="house_manage_no" column="HOUSE_MANAGE_NO"/>
		<result property="pblanc_no" column="PBLANC_NO"/>
		<result property="model_no" column="MODEL_NO"/>
		<result property="gp" column="GP"/>
		<result property="tp" column="TP"/>
		<result property="excluse_ar" column="EXCLUSE_AR"/>
		<result property="suply_hshldco" column="SUPLY_HSHLDCO"/>
		<result property="suply_amount" column="SUPLY_AMOUNT"/>
		<result property="subscrpt_reqst_amount" column="SUBSCRPT_REQST_AMOUNT"/>
	</resultMap>
	
	
	<select id="urbtyList" resultMap="UrbtyMap">
		SELECT * FROM URBTYOFCTLLTTOTPBLANCDETAIL
	</select>
	
	
	<select id="urbtyListCount" resultType="int" parameterType="map">
		SELECT COUNT(*)	FROM URBTYOFCTLLTTOTPBLANCDETAIL
	</select>
	
	<select id="selectUrbtyNo" parameterType="String" resultMap="UrbtyMap">
		SELECT * FROM URBTYOFCTLLTTOTPBLANCDETAIL
		WHERE HOUSE_MANAGE_NO = #{house_manage_no}
	</select>
	
	<select id="selectUrbtyMdlNo" resultType="String" resultMap="UrbtyMdlMap">
		SELECT ROWNUM, URBTYMDL.* FROM (SELECT * FROM URBTYMDL
		WHERE HOUSE_MANAGE_NO = #{house_manage_no}
        ORDER BY SUPLY_AMOUNT DESC) URBTYMDL WHERE ROWNUM = 1
	</select>
	





	<insert id="insertUrbtyOfctlLttotPblancDetail"
		parameterType="hashMap">
	INSERT INTO URBTYOFCTLLTTOTPBLANCDETAIL(
		HOUSE_MANAGE_NO,
		PBLANC_NO,
		HOUSE_NM,
		HOUSE_SECD,
		HOUSE_SECD_NM,
		HOUSE_DTL_SECD,
		HOUSE_DTL_SECD_NM,
		SEARCH_HOUSE_SECD,
		HSSPLY_ZIP,
		TOT_SUPLY_HSHLDCO,
		RCRIT_PBLANC_DE,
		SUBSCRPT_RCEPT_BGNDE,
		SUBSCRPT_RCEPT_ENDDE,
		PRZWNER_PRESNATN_DE,
		CNTRCT_CNCLS_BGNDE,
		CNTRCT_CNCLS_ENDDE,
		HMPG_ADRES,
		BSNS_MBY_NM,
		MDHS_TELNO,
		MVN_PREARNGE_YM,
		HSSPLY_ADRES
	)
	VALUES(#{house_manage_no}, #{pblanc_no}, 
	#{house_nm}, #{house_secd},
	#{house_secd_nm}, #{house_dtl_secd}, 
	#{house_dtl_secd_nm}, #{search_house_secd}, #{hssply_zip}, 
	#{tot_suply_hshldco},
	#{rcrit_pblanc_de}, #{subscrpt_rcept_bgnde}, 
	#{subscrpt_rcept_endde}, #{przwner_presnatn_de}, 
	#{cntrct_cncls_bgnde}, #{cntrct_cncls_endde}, 
	#{hmpg_adres}, #{bsns_mby_nm}, 
	#{mdhs_telno}, #{mvn_prearnge_ym}, 
	#{hssply_adres})
	</insert>
	
	<insert id="insertUrbtyMdl"
		parameterType="hashMap">
	INSERT INTO URBTYMDL(
		HOUSE_MANAGE_NO,			
		PBLANC_NO,
		MODEL_NO,				
		GP,						
		TP,						
		EXCLUSE_AR,				
		SUPLY_HSHLDCO,			
		SUPLY_AMOUNT,			
	    SUBSCRPT_REQST_AMOUNT
	)
	VALUES
	(#{house_manage_no}, #{pblanc_no},
	#{model_no}, #{gp}, #{tp},
	#{excluse_ar}, #{suply_hshldco}, 
	#{suply_amount}, #{subscrpt_reqst_amount})
	</insert>
</mapper>
