extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Sources and credits'
  
//- Page Content
block content
  .pb-5
    p While making this template we used 3rd party plugins, images, icons, fonts, etc... and want to thank their creators.

    h2.h4.pt-3 Plugins, Libraries and Frameworks:
    ul.list-unstyled
      li
        span.fw-medium Node.js - 
        a(href='https://nodejs.org/en/' target='_blank' rel='noopener') https://nodejs.org/en/
      li
        span.fw-medium Gulp - 
        a(href='https://gulpjs.com/' target='_blank' rel='noopener') https://gulpjs.com/
      li
        span.fw-medium Pug - 
        a(href='https://pugjs.org/api/getting-started.html' target='_blank' rel='noopener') https://pugjs.org/api/getting-started.html
      li
        span.fw-medium Sass - 
        a(href='http://sass-lang.com/' target='_blank' rel='noopener') http://sass-lang.com/
      li
        span.fw-medium Bootstrap - 
        a(href='https://getbootstrap.com/' target='_blank' rel='noopener') https://getbootstrap.com/
      li
        span.fw-medium Smooth Scroll - 
        a(href='https://github.com/cferdinandi/smooth-scroll/' target='_blank' rel='noopener') https://github.com/cferdinandi/smooth-scroll/
      li
        span.fw-medium Tiny Slider - 
        a(href='https://github.com/ganlanyuan/tiny-slider' target='_blank' rel='noopener') https://github.com/ganlanyuan/tiny-slider
      li
        span.fw-medium Lightgallery.js - 
        a(href='https://www.lightgalleryjs.com/' target='_blank' rel='noopener') https://sachinchoolur.github.io/lightgallery.js/
      li
        span.fw-medium noUiSlider - 
        a(href='https://refreshless.com/nouislider/' target='_blank' rel='noopener') https://refreshless.com/nouislider/
      li
        span.fw-medium Simplebar (Custom Scrollbar) - 
        a(href='https://github.com/Grsmto/simplebar' target='_blank' rel='noopener') https://github.com/Grsmto/simplebar
      li
        span.fw-medium Popper.js - 
        a(href='https://popper.js.org/' target='_blank' rel='noopener') https://popper.js.org/
      li
        span.fw-medium Prism.js - 
        a(href='https://prismjs.com/' target='_blank' rel='noopener') https://prismjs.com/
      li
        span.fw-medium Flatpick (Date/time picker) - 
        a(href='https://flatpickr.js.org/' target='_blank' rel='noopener') https://flatpickr.js.org/
      li
        span.fw-medium Cleave.js (Input formatter) - 
        a(href='https://nosir.github.io/cleave.js/' target='_blank' rel='noopener') https://nosir.github.io/cleave.js/
      li
        span.fw-medium Jarallax - 
        a(href='https://github.com/nk-o/jarallax' target='_blank' rel='noopener') https://github.com/nk-o/jarallax
      li
        span.fw-medium Parallax.js - 
        a(href='https://github.com/wagerfield/parallax' target='_blank' rel='noopener') https://github.com/wagerfield/parallax
      li
        span.fw-medium Rellax.js - 
        a(href='https://dixonandmoe.com/rellax/' target='_blank' rel='noopener') https://github.com/wagerfield/parallax

    h2.h4.pt-4 Google Fonts:
    ul.list-unstyled
      li
        span.fw-medium Noto Sans - 
        a(href='https://fonts.google.com/specimen/Noto+Sans' target='_blank' rel='noopener') ​https://fonts.google.com/specimen/Noto+Sans

    h2.h4.pt-4 Font Icons:
    ul.list-unstyled
      li
        span.fw-medium Tabler Icons - 
        a(href='https://tablericons.com/' target='_blank' rel='noopener') https://tablericons.com/
      li
        span.fw-medium Flaticon Icons - 
        a(href='https://www.flaticon.com/packs/social-logo-2?word=socials' target='_blank' rel='noopener') https://www.flaticon.com/packs/social-logo-2?word=socials
        br
        a(href='https://www.flaticon.com/free-icon/paypal_152837?k=160673405187' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/paypal_152837?k=160673405187

    h2.h4.pt-4 Flags <span class='fs-base fw-normal'>(Language switcher):</span>
    ul.list-unstyled
      li
        a(href='https://www.flaticon.com/packs/international-flags-6' target='_blank' rel='noopener') https://www.flaticon.com/packs/international-flags-6

    h2.h4.pt-4 Avatar Library:
    ul.list-unstyled
      li
        a(href='https://drawer.design/products/avatar-library/' target='_blank' rel='noopener') https://drawer.design/products/avatar-library/

    h2.h4.pt-4 Graphic Assets:

    h3.h6 Car Finder Demo
    ul
      li
        a(href='https://www.flaticon.com/packs/transport-logos-3' target='_blank' rel='noopener') https://www.flaticon.com/packs/transport-logos-3
      li
        a(href='https://www.flaticon.com/free-icon/petrol_1820649' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/petrol_1820649
      li
        a(href='https://www.flaticon.com/free-icon/gearbox_1820633' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/gearbox_1820633
      li
        a(href='https://www.freepik.com/premium-vector/autonomous-car-leaves-parking-draiverless-vehicle-city-street-night_10967167.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-vector/autonomous-car-leaves-parking-draiverless-vehicle-city-street-night_10967167.htm
      li
        a(href='https://www.freepik.com/premium-photo/yellow-small-sports-car-coupe_5119388.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/yellow-small-sports-car-coupe_5119388.htm
      li
        a(href='https://www.pexels.com/photo/asphalt-auto-automobile-benz-136872/' target='_blank' rel='noopener') https://www.pexels.com/photo/asphalt-auto-automobile-benz-136872/
      li
        a(href='https://unsplash.com/photos/0hJL8lBl0qQ' target='_blank' rel='noopener') https://unsplash.com/photos/0hJL8lBl0qQ
      li
        a(href='https://www.pexels.com/photo/blue-mercedes-benz-car-parked-802254/' target='_blank' rel='noopener') https://www.pexels.com/photo/blue-mercedes-benz-car-parked-802254/
      li
        a(href='https://unsplash.com/photos/4WBvCqeMaDE' target='_blank' rel='noopener') https://unsplash.com/photos/4WBvCqeMaDE
      li
        a(href='https://unsplash.com/photos/pB7bUdsc0FM' target='_blank' rel='noopener') https://unsplash.com/photos/pB7bUdsc0FM
      li
        a(href='https://unsplash.com/photos/wX2nXgnckqw' target='_blank' rel='noopener') https://unsplash.com/photos/wX2nXgnckqw
      li
        a(href='https://unsplash.com/photos/0hJL8lBl0qQ' target='_blank' rel='noopener') https://unsplash.com/photos/0hJL8lBl0qQ
      li
        a(href='https://www.pexels.com/photo/blue-mercedes-benz-car-parked-802254/' target='_blank' rel='noopener') https://www.pexels.com/photo/blue-mercedes-benz-car-parked-802254/
      li
        a(href='https://unsplash.com/photos/pB7bUdsc0FM' target='_blank' rel='noopener') https://unsplash.com/photos/pB7bUdsc0FM
      li
        a(href='https://unsplash.com/photos/wX2nXgnckqw' target='_blank' rel='noopener') https://unsplash.com/photos/wX2nXgnckqw
      li
        a(href='https://unsplash.com/photos/4WBvCqeMaDE' target='_blank' rel='noopener') https://unsplash.com/photos/4WBvCqeMaDE
      li
        a(href='https://unsplash.com/photos/5CavpszeLCY' target='_blank' rel='noopener') https://unsplash.com/photos/5CavpszeLCY
      li
        a(href='https://unsplash.com/photos/mDtFtaAXr1E' target='_blank' rel='noopener') https://unsplash.com/photos/mDtFtaAXr1E
      li
        a(href='https://unsplash.com/photos/a4S6KUuLeoM' target='_blank' rel='noopener') https://unsplash.com/photos/a4S6KUuLeoM
      li
        a(href='https://www.flaticon.com/free-icon/handshake_1786971' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/handshake_1786971
      li
        a(href='https://www.flaticon.com/free-icon/target_1605401' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/target_1605401
      li
        a(href='https://www.flaticon.com/free-icon/technical-support_1835948' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/technical-support_1835948
      li
        a(href='https://www.freepik.com/free-vector/realistic-complete-set-car-wheels_6883539.htm' target='_blank' rel='noopener') https://www.freepik.com/free-vector/realistic-complete-set-car-wheels_6883539.htm
      li
        a(href='https://www.flaticon.com/free-icon/check_916854' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/check_916854
      li
        a(href='https://www.flaticon.com/free-icon/driving-test_1581984' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/driving-test_1581984
      li
        a(href='https://www.flaticon.com/free-icon/steering-wheel_1581955' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/steering-wheel_1581955
      li
        a(href='https://www.flaticon.com/free-icon/accident_1582003' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/accident_1582003
      li
        a(href='https://www.pexels.com/photo/white-mercedes-benz-car-on-road-4056543/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-mercedes-benz-car-on-road-4056543/
      li
        a(href='https://www.pexels.com/photo/white-porsche-911-on-black-background-4056545/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-porsche-911-on-black-background-4056545/
      li
        a(href='https://www.pexels.com/photo/white-mercedez-benz-parked-near-green-leaf-trees-4065037/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-mercedez-benz-parked-near-green-leaf-trees-4065037/
      li
        a(href='https://www.pexels.com/photo/car-vehicle-luxury-travel-4056581/' target='_blank' rel='noopener') https://www.pexels.com/photo/car-vehicle-luxury-travel-4056581/
      li
        a(href='https://www.pexels.com/photo/white-convertible-coupe-parked-on-green-grass-field-4602172/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-convertible-coupe-parked-on-green-grass-field-4602172/
      li
        a(href='https://www.pexels.com/photo/white-mercedes-benz-parked-on-pavement-road-4056598/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-mercedes-benz-parked-on-pavement-road-4056598/
      li
        a(href='https://www.pexels.com/photo/silver-mercedes-benz-wheel-with-tire-4056596/' target='_blank' rel='noopener') https://www.pexels.com/photo/silver-mercedes-benz-wheel-with-tire-4056596/
      li
        a(href='https://www.pexels.com/photo/black-and-gray-car-interior-4056593/' target='_blank' rel='noopener') https://www.pexels.com/photo/black-and-gray-car-interior-4056593/
      li
        a(href='https://unsplash.com/photos/WNoLnJo7tS8' target='_blank' rel='noopener') https://unsplash.com/photos/WNoLnJo7tS8
      li
        a(href='https://www.freepik.com/free-vector/set-avatar-silhouettes_1265960.htm' target='_blank' rel='noopener') https://www.freepik.com/free-vector/set-avatar-silhouettes_1265960.htm
      li
        a(href='https://unsplash.com/photos/Zz5LQe-VSMY' target='_blank' rel='noopener') https://unsplash.com/photos/Zz5LQe-VSMY
      li
        a(href='https://unsplash.com/photos/6anudmpILw4' target='_blank' rel='noopener') https://unsplash.com/photos/6anudmpILw4
      li
        a(href='https://unsplash.com/photos/-03cAqpaqFg' target='_blank' rel='noopener') https://unsplash.com/photos/-03cAqpaqFg
      li
        a(href='https://unsplash.com/photos/j0YPbvXu4t0' target='_blank' rel='noopener') https://unsplash.com/photos/j0YPbvXu4t0
      li
        a(href='https://unsplash.com/photos/Hhe9c31780A' target='_blank' rel='noopener') https://unsplash.com/photos/Hhe9c31780A
      li
        a(href='https://unsplash.com/photos/pBs0koIAF3s' target='_blank' rel='noopener') https://unsplash.com/photos/pBs0koIAF3s
      li
        a(href='https://unsplash.com/photos/ZRns2R5azu0' target='_blank' rel='noopener') https://unsplash.com/photos/ZRns2R5azu0
      li
        a(href='https://unsplash.com/photos/zGzXsJUBQfs' target='_blank' rel='noopener') https://unsplash.com/photos/zGzXsJUBQfs
      li
        a(href='https://unsplash.com/photos/uEyMAbBU5XU' target='_blank' rel='noopener') https://unsplash.com/photos/uEyMAbBU5XU
      li
        a(href='https://unsplash.com/photos/qZ1KmFjfQq8' target='_blank' rel='noopener') https://unsplash.com/photos/qZ1KmFjfQq8
      li
        a(href='https://unsplash.com/photos/PcbJL9CYSXs' target='_blank' rel='noopener') https://unsplash.com/photos/PcbJL9CYSXs
      li
        a(href='https://www.freepik.com/premium-photo/ev-electric-car-silhouette-with-low-battery-charging-electric-charge-station-3d-render-illustration_16188257.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/ev-electric-car-silhouette-with-low-battery-charging-electric-charge-station-3d-render-illustration_16188257.htm
      li
        a(href='https://www.freepik.com/premium-photo/cars-parked-road_5407454.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/cars-parked-road_5407454.htm
      li
        a(href='https://www.freepik.com/free-photo/female-hands-close-up-with-car-keys_4201866.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/female-hands-close-up-with-car-keys_4201866.htm
      li
        a(href='https://www.freepik.com/free-vector/404-error-background-with-car-wheel-flat-style_2044540.htm' target='_blank' rel='noopener') https://www.freepik.com/free-vector/404-error-background-with-car-wheel-flat-style_2044540.htm

    h3.h6.pt-2 Job Board Demo
    ul
      li
        a(href='https://www.uistore.design/items/free-remote-work-illustrations/' target='_blank' rel='noopener') https://www.uistore.design/items/free-remote-work-illustrations/
      li
        a(href='https://www.flaticon.com/free-icon/bag_2344174' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/bag_2344174
      li
        a(href='https://storyset.com/illustration/profile-data/pana' target='_blank' rel='noopener') https://storyset.com/illustration/profile-data/pana
      li
        a(href='https://storyset.com/illustration/customer-survey/pana' target='_blank' rel='noopener') https://storyset.com/illustration/customer-survey/pana
      li
        a(href='https://storyset.com/illustration/people-search/cuate' target='_blank' rel='noopener') https://storyset.com/illustration/people-search/cuate
      li
        a(href='https://storyset.com/illustration/mobile-login/pana' target='_blank' rel='noopener') https://storyset.com/illustration/mobile-login/pana
      li
        a(href='https://storyset.com/illustration/add-user/pana' target='_blank' rel='noopener') https://storyset.com/illustration/add-user/pana
      li
        a(href='https://www.flaticon.com/free-icon/briefcase_1208207' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/briefcase_1208207
      li
        a(href='https://www.flaticon.com/free-icon/money_711908' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/money_711908
      li
        a(href='https://www.flaticon.com/free-icon/pie-chart_710073' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/pie-chart_710073
      li
        a(href='https://www.flaticon.com/free-icon/meds_1617465' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/meds_1617465
      li
        a(href='https://www.flaticon.com/free-icon/plant_2427773' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/plant_2427773
      li
        a(href='https://www.flaticon.com/free-icon/mac_711306' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/mac_711306
      li
        a(href='https://www.flaticon.com/free-icon/verified_2438078' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/verified_2438078
      li
        a(href='https://unsplash.com/photos/kZokA2VTKn4' target='_blank' rel='noopener') https://unsplash.com/photos/kZokA2VTKn4
      li
        a(href='https://www.freepik.com/premium-photo/chicago-skyline-aerial-drone-view-from-city-chicago-downtown-skyscrapers-lake-michigan-cityscape-illinois-usa_8065792.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/chicago-skyline-aerial-drone-view-from-city-chicago-downtown-skyscrapers-lake-michigan-cityscape-illinois-usa_8065792.htm
      li
        a(href='https://unsplash.com/photos/1Xw7GWnivl4' target='_blank' rel='noopener') https://unsplash.com/photos/1Xw7GWnivl4
      li
        a(href='https://www.freepik.com/free-vector/city-skyline-flat-icons-set_2873100.htm' target='_blank' rel='noopener') https://www.freepik.com/free-vector/city-skyline-flat-icons-set_2873100.htm
      li
        a(href='https://www.uistore.design/items/free-remote-work-illustrations/' target='_blank' rel='noopener') https://www.uistore.design/items/free-remote-work-illustrations/
      li
        a(href='https://www.uistore.design/items/free-remote-work-illustrations/' target='_blank' rel='noopener') https://www.uistore.design/items/free-remote-work-illustrations/
      li
        a(href='https://www.freepik.com/premium-photo/3d-render-close-up-hand-holding-smartphone-with-blank-screen_9258771.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/3d-render-close-up-hand-holding-smartphone-with-blank-screen_9258771.htm
      li
        a(href='https://www.freepik.com/premium-photo/hand-thumbs-up-icon-like-button-3d-render_10215765.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/hand-thumbs-up-icon-like-button-3d-render_10215765.htm
      li
        a(href='https://www.freepik.com/premium-photo/human-brain-blue-background-3d-rendering-with-plug-illustration_10513794.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/human-brain-blue-background-3d-rendering-with-plug-illustration_10513794.htm
      li
        a(href='https://www.freepik.com/premium-photo/business-couple-working-together-project-modern-startup-office_4685329.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/business-couple-working-together-project-modern-startup-office_4685329.htm

    h3.h6.pt-2 Real Estate Demo
    ul
      li
        a(href='https://www.flaticon.com/packs/real-estate-310?word=real%20estate' target='_blank' rel='noopener') https://www.flaticon.com/packs/real-estate-310?word=real%20estate
      li
        a(href='https://www.flaticon.com/free-icon/bath_1343579' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/bath_1343579
      li
        a(href='https://undraw.co/search' target='_blank' rel='noopener') https://undraw.co/search
      li
        a(href='https://stories.freepik.com/illustration/calculator/cuate' target='_blank' rel='noopener') https://stories.freepik.com/illustration/calculator/cuate
      li
        a(href='https://www.freepik.com/premium-photo/residential-modern-apartment-building_4885693.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/residential-modern-apartment-building_4885693.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-hotel-room-design-with-luxury-bed-with-wardrobe-with-sliding-door-large-round-lamp-ceiling_10542002.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-hotel-room-design-with-luxury-bed-with-wardrobe-with-sliding-door-large-round-lamp-ceiling_10542002.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-scene-mock-up-with-yellow-sofa-decoration-room-minimalism-3d-rendering_8324115.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-scene-mock-up-with-yellow-sofa-decoration-room-minimalism-3d-rendering_8324115.htm
      li
        a(href='https://www.freepik.com/premium-photo/contemporary-modern-wall-system-living-room_5187182.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/contemporary-modern-wall-system-living-room_5187182.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-living-room-with-round-window-gray-wall_8566941.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-living-room-with-round-window-gray-wall_8566941.htm
      li
        a(href='https://www.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_9931895.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_9931895.htm
      li
        a(href='https://www.freepik.com/premium-photo/carport-modern-luxury-house_6362640.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/carport-modern-luxury-house_6362640.htm
      li
        a(href='https://www.freepik.com/free-photo/house-isolated-field_10025444.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/house-isolated-field_10025444.htm
      li
        a(href='https://unsplash.com/photos/kZokA2VTKn4' target='_blank' rel='noopener') https://unsplash.com/photos/kZokA2VTKn4
      li
        a(href='https://www.freepik.com/premium-photo/chicago-skyline-aerial-drone-view-from-city-chicago-downtown-skyscrapers-lake-michigan-cityscape-illinois-usa_8065792.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/chicago-skyline-aerial-drone-view-from-city-chicago-downtown-skyscrapers-lake-michigan-cityscape-illinois-usa_8065792.htm
      li
        a(href='https://unsplash.com/photos/-hDsIhpgCdU' target='_blank' rel='noopener') https://unsplash.com/photos/-hDsIhpgCdU
      li
        a(href='https://unsplash.com/photos/1Xw7GWnivl4' target='_blank' rel='noopener') https://unsplash.com/photos/1Xw7GWnivl4
      li
        a(href='https://www.freepik.com/premium-photo/margaret-hunt-hill-bridge_2979026.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/margaret-hunt-hill-bridge_2979026.htm
      li
        a(href='https://www.freepik.com/free-photo/joyful-confident-blonde-businesswoman-suit-smiling-isolated-modern-worker-secretary-executive-successful-cheerful-mood_10204971.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/joyful-confident-blonde-businesswoman-suit-smiling-isolated-modern-worker-secretary-executive-successful-cheerful-mood_10204971.htm
      li
        a(href='https://www.freepik.com/free-photo/attractive-mixed-race-male-with-positive-smile-shows-white-teeth-keeps-hands-stomach-being-high-spirit-wears-white-shirt-rejoices-positive-moments-life-people-emotions-concept_10420306.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/attractive-mixed-race-male-with-positive-smile-shows-white-teeth-keeps-hands-stomach-being-high-spirit-wears-white-shirt-rejoices-positive-moments-life-people-emotions-concept_10420306.htm
      li
        a(href='https://www.freepik.com/free-photo/attractive-laughing-guy-having-fun-smiling-happy_9583956.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/attractive-laughing-guy-having-fun-smiling-happy_9583956.htm
      li
        a(href='https://www.freepik.com/premium-photo/close-up-hand-holding-keys-wooden-house-model-against-blue-background_3731049.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/close-up-hand-holding-keys-wooden-house-model-against-blue-background_3731049.htm
      li
        a(href='https://www.freepik.com/premium-photo/empty-room-with-plants-mockup-have-wooden-floor-yellow-wall-background_4548027.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/empty-room-with-plants-mockup-have-wooden-floor-yellow-wall-background_4548027.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-hotel-room-design-with-luxury-bed-with-wardrobe-with-sliding-door-large-round-lamp-ceiling_10542002.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-hotel-room-design-with-luxury-bed-with-wardrobe-with-sliding-door-large-round-lamp-ceiling_10542002.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440478.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440478.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-living-room-with-round-window-gray-wall_8566941.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-living-room-with-round-window-gray-wall_8566941.htm
      li
        a(href='https://www.freepik.com/premium-photo/poster-mockup-empty-white-wall-living-room-interior-with-blue-velvet-armchair_9939949.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/poster-mockup-empty-white-wall-living-room-interior-with-blue-velvet-armchair_9939949.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-living-room-interior-mockup-living-room-with-white-wall-modern-minimalistic-furniture-scandinavian-style-stylish-living-room-interior-3d-illustration_8138069.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-living-room-interior-mockup-living-room-with-white-wall-modern-minimalistic-furniture-scandinavian-style-stylish-living-room-interior-3d-illustration_8138069.htm
      li
        a(href='https://www.freepik.com/premium-photo/contemporary-modern-wall-system-living-room_5187182.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/contemporary-modern-wall-system-living-room_5187182.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-living-room-interior-design_10202790.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-living-room-interior-design_10202790.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-living-room-interior-design_10202744.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-living-room-interior-design_10202744.htm
      li
        a(href='https://www.freepik.com/free-psd/kid-s-room-with-wooden-bed_7045862.htm' target='_blank' rel='noopener') https://www.freepik.com/free-psd/kid-s-room-with-wooden-bed_7045862.htm
      li
        a(href='https://www.freepik.com/free-psd/realistic-bright-modern-double-bedroom-with-furniture_7041401.htm' target='_blank' rel='noopener') https://www.freepik.com/free-psd/realistic-bright-modern-double-bedroom-with-furniture_7041401.htm
      li
        a(href='https://www.freepik.com/premium-photo/scandinavian-interior-living-room_3813556.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/scandinavian-interior-living-room_3813556.htm
      li
        a(href='https://www.freepik.com/free-photo/beautiful-interior-room-design-concept_11523474.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/beautiful-interior-room-design-concept_11523474.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-interior-kitchen-white-wall-wooden-chairs-green-flower-pot-concept-scandinavian-design_6767060.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-interior-kitchen-white-wall-wooden-chairs-green-flower-pot-concept-scandinavian-design_6767060.htm
      li
        a(href='https://www.freepik.com/free-photo/house-isolated-field_10025444.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/house-isolated-field_10025444.htm
      li
        a(href='https://www.freepik.com/premium-photo/big-comfortable-double-bed-elegant-classic-bedroom_10210640.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/big-comfortable-double-bed-elegant-classic-bedroom_10210640.htm
      li
        a(href='https://www.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_9931895.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_9931895.htm
      li
        a(href='https://www.freepik.com/premium-photo/sea-view-dining-room-kitchen-beach-house_6577287.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/sea-view-dining-room-kitchen-beach-house_6577287.htm
      li
        a(href='https://www.freepik.com/premium-photo/beautiful-house-with-minimalist-architecture-sunny-day_7391036.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/beautiful-house-with-minimalist-architecture-sunny-day_7391036.htm
      li
        a(href='https://www.freepik.com/premium-photo/carport-modern-luxury-house_6362640.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/carport-modern-luxury-house_6362640.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-frame-living-room-with-colorful-white-sofa_5498092.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-frame-living-room-with-colorful-white-sofa_5498092.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-design-bedroom-luxury-pool-villa-house-home-feature-swimming-pool_10669409.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-design-bedroom-luxury-pool-villa-house-home-feature-swimming-pool_10669409.htm
      li
        a(href='https://www.pexels.com/photo/architecture-daylight-driveway-entrance-277667/' target='_blank' rel='noopener') https://www.pexels.com/photo/architecture-daylight-driveway-entrance-277667/
      li
        a(href='https://www.pexels.com/photo/white-and-blue-wooden-house-3958954/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-and-blue-wooden-house-3958954/
      li
        a(href='https://www.pexels.com/photo/apartment-architecture-ceiling-chair-259962/' target='_blank' rel='noopener') https://www.pexels.com/photo/apartment-architecture-ceiling-chair-259962/
      li
        a(href='https://www.flaticon.com/packs/hotel-service-40?word=hotel' target='_blank' rel='noopener') https://www.flaticon.com/packs/hotel-service-40?word=hotel
      li
        a(href='https://www.flaticon.com/free-icon/dish_870539' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/dish_870539
      li
        a(href='https://www.flaticon.com/free-icon/snowflake_100825' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/snowflake_100825
      li
        a(href='https://www.flaticon.com/free-icon/thermometer_1843544' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/thermometer_1843544
      li
        a(href='https://www.flaticon.com/free-icon/iron_481086' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/iron_481086
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440478.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440478.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440446.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440446.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-white-kitchen-studio-room-contemporary-style_11438784.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-white-kitchen-studio-room-contemporary-style_11438784.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440466.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440466.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-white-kitchen-studio-room-contemporary-style_11438760.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-white-kitchen-studio-room-contemporary-style_11438760.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-white-kitchen-studio-room-contemporary-style_11438779.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-white-kitchen-studio-room-contemporary-style_11438779.htm
      li
        a(href='https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440456.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/interior-photography-modern-bedroom-combined-with-bathroom-white_11440456.htm
      li
        a(href='https://www.freepik.com/premium-photo/bathroom-modern-style_9893705.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/
      li
        a(href='https://storyset.com/illustration/active-support/cuate' target='_blank' rel='noopener') https://storyset.com/illustration/active-support/cuate
      li
        a(href='https://storyset.com/illustration/for-sale/rafiki' target='_blank' rel='noopener') https://storyset.com/illustration/for-sale/rafiki
      li
        a(href='https://thenounproject.com/term/safe/3201898/' target='_blank' rel='noopener') https://thenounproject.com/term/safe/3201898/
      li
        a(href='https://thenounproject.com/term/price/3406858/' target='_blank' rel='noopener') https://thenounproject.com/term/price/3406858/
      li
        a(href='https://thenounproject.com/support/3939666' target='_blank' rel='noopener') https://thenounproject.com/support/3939666
      li
        a(href='https://storyset.com/illustration/house-searching/cuate' target='_blank' rel='noopener') https://storyset.com/illustration/house-searching/cuate
      li
        a(href='https://www.freepik.com/free-photo/handsome-confident-smiling-man-with-hands-crossed-chest_9583860.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/handsome-confident-smiling-man-with-hands-crossed-chest_9583860.htm
      li
        a(href='https://www.freepik.com/premium-photo/happy-man-with-arms-crossed_5209618.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/happy-man-with-arms-crossed_5209618.htm
      li
        a(href='https://www.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_10266368.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/portrait-cheerful-attractive-young-woman-longsleeve-standing-with-arms-crossed-smiling_10266368.htm
      li
        a(href='https://www.freepik.com/free-photo/happy-asian-man-touching-chin-looking-camera_4010203.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/happy-asian-man-touching-chin-looking-camera_4010203.htm
      li
        a(href='https://www.freepik.com/free-photo/couple-getting-ready-move-with-their-children_18152813.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/couple-getting-ready-move-with-their-children_18152813.htm
      li
        a(href='https://www.freepik.com/free-photo/couple-getting-ready-move-with-their-children_18152813.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/couple-getting-ready-move-with-their-children_18152813.htm
      li
        a(href='https://www.freepik.com/premium-photo/3d-rendering-large-modern-contemporary-house-wood-concrete_18318368.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/3d-rendering-large-modern-contemporary-house-wood-concrete_18318368.htm
      li
        a(href='https://www.pexels.com/photo/white-concrete-2-storey-house-206172/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-concrete-2-storey-house-206172/
      li
        a(href='https://www.flaticon.com/premium-icon/united-states-of-america_1729835' target='_blank' rel='noopener') https://www.flaticon.com/premium-icon/united-states-of-america_1729835
      li
        a(href='https://www.flaticon.com/premium-icon/city_2222208' target='_blank' rel='noopener') https://www.flaticon.com/premium-icon/city_2222208
      li
        a(href='https://www.flaticon.com/free-icon/field_1150302' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/field_1150302
      li
        a(href='https://www.freepik.com/premium-photo/modern-australian-house-with-garage_10620530.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-australian-house-with-garage_10620530.htm
      li
        a(href='https://www.freepik.com/free-photo/large-white-building-with-red-framed-roof-blue-sky_10075670.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/large-white-building-with-red-framed-roof-blue-sky_10075670.htm
      li
        a(href='https://www.pexels.com/photo/for-sale-sign-in-front-of-a-house-7578848/' target='_blank' rel='noopener') https://www.pexels.com/photo/for-sale-sign-in-front-of-a-house-7578848/
      li
        a(href='https://www.pexels.com/photo/modern-cottage-house-with-parking-7031414/' target='_blank' rel='noopener') https://www.pexels.com/photo/modern-cottage-house-with-parking-7031414/
      li
        a(href='https://www.pexels.com/photo/concrete-house-during-day-2079234/' target='_blank' rel='noopener') https://www.pexels.com/photo/concrete-house-during-day-2079234/
      li
        a(href='https://www.pexels.com/photo/white-and-gray-house-under-the-blue-sky-4832530/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-and-gray-house-under-the-blue-sky-4832530/
      li
        a(href='https://www.freepik.com/premium-photo/3d-rendering-modern-luxury-house-with-garage_10726890.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/3d-rendering-modern-luxury-house-with-garage_10726890.htm
      li
        a(href='https://www.freepik.com/premium-photo/modern-fireplace-with-live-fire-living-room-dining-room_21379694.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/modern-fireplace-with-live-fire-living-room-dining-room_21379694.htm
      li
        a(href='https://www.freepik.com/premium-photo/western-kitchen-luxury-home_6361897.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/western-kitchen-luxury-home_6361897.htm
      li
        a(href='https://www.freepik.com/premium-photo/new-stylish-modern-interior-design-loft-style-house_21466743.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/new-stylish-modern-interior-design-loft-style-house_21466743.htm

    h3.h6.pt-2 City Guide Demo
    ul
      li
        a(href='https://uigstudio.com/freebies/uig-illustration-set-freebie' target='_blank' rel='noopener') https://uigstudio.com/freebies/uig-illustration-set-freebie
      li
        a(href='https://stories.freepik.com/illustration/city-driver/cuate' target='_blank' rel='noopener') https://stories.freepik.com/illustration/city-driver/cuate
      li
        a(href='https://drawer.design/products/avatar-library/' target='_blank' rel='noopener') https://drawer.design/products/avatar-library/
      li
        a(href='https://www.flaticon.com/free-icon/bed_818387' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/bed_818387
      li
        a(href='https://www.flaticon.com/free-icon/ticket_711917' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/ticket_711917
      li
        a(href='https://www.flaticon.com/free-icon/museum_221946' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/museum_221946
      li
        a(href='https://www.flaticon.com/free-icon/cutlery_375833' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/cutlery_375833
      li
        a(href='https://www.flaticon.com/free-icon/shopping-bag_711895' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/shopping-bag_711895
      li
        a(href='https://www.flaticon.com/free-icon/dumbell_2324705' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/dumbell_2324705
      li
        a(href='https://www.flaticon.com/free-icon/disco-ball_3563972' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/disco-ball_3563972
      li
        a(href='https://www.flaticon.com/free-icon/meds_1617465' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/meds_1617465
      li
        a(href='https://www.flaticon.com/free-icon/makeup_3248946' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/makeup_3248946
      li
        a(href='https://www.flaticon.com/free-icon/car_3267665' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/car_3267665
      li
        a(href='https://www.freepik.com/premium-photo/brandenburg-gate-berlin-germany-sunset-panoramic-image_7945150.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/brandenburg-gate-berlin-germany-sunset-panoramic-image_7945150.htm
      li
        a(href='https://www.freepik.com/premium-photo/oberbaum-bridge-oberbaumbruecke-berlin-sunset_4438322.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/oberbaum-bridge-oberbaumbruecke-berlin-sunset_4438322.htm
      li
        a(href='https://www.freepik.com/free-photo/theatine-church-sunlight-cloudy-sky-munich-germany_9927481.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/theatine-church-sunlight-cloudy-sky-munich-germany_9927481.htm
      li
        a(href='https://www.freepik.com/premium-photo/aerial-panorama-central-berlin_6395343.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/aerial-panorama-central-berlin_6395343.htm
      li
        a(href='https://freepik.com/free-photo/white-bedroom-in-hotel_5016670.htm' target='_blank' rel='noopener') https://freepik.com/free-photo/white-bedroom-in-hotel_5016670.htm
      li
        a(href='https://www.freepik.com/premium-photo/home-house-exterior-design-showing-tropical-pool-villa-with-sun-bed_4108445.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/home-house-exterior-design-showing-tropical-pool-villa-with-sun-bed_4108445.htm
      li
        a(href='https://freepik.com/premium-photo/bedroom-interior-dssign-with-modern-minimalist-style-cozy-white-room-and-simple-comforts_5650030.htm' target='_blank' rel='noopener') https://freepik.com/premium-photo/bedroom-interior-dssign-with-modern-minimalist-style-cozy-white-room-and-simple-comforts_5650030.htm
      li
        a(href='https://www.pexels.com/photo/group-of-people-having-neon-party-1684187/' target='_blank' rel='noopener') https://www.pexels.com/photo/group-of-people-having-neon-party-1684187/
      li
        a(href='https://www.pexels.com/photo/athletes-audience-ball-bleachers-270085/' target='_blank' rel='noopener') https://www.pexels.com/photo/athletes-audience-ball-bleachers-270085/
      li
        a(href='https://unsplash.com/photos/hgO1wFPXl3I' target='_blank' rel='noopener') https://unsplash.com/photos/hgO1wFPXl3I
      li
        a(href='https://unsplash.com/photos/dnkM5wPjVdg' target='_blank' rel='noopener') https://unsplash.com/photos/dnkM5wPjVdg
      li
        a(href='https://www.freepik.com/premium-photo/happy-women-out-shopping-mall_8702145.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/happy-women-out-shopping-mall_8702145.htm
      li
        a(href='https://unsplash.com/photos/OdQ06PzSWM8' target='_blank' rel='noopener') https://unsplash.com/photos/OdQ06PzSWM8
      li
        a(href='https://unsplash.com/photos/JyVrdJ7TR6Y' target='_blank' rel='noopener') https://unsplash.com/photos/JyVrdJ7TR6Y
      li
        a(href='https://www.pexels.com/photo/photo-of-man-walking-on-desert-4449321/' target='_blank' rel='noopener') https://www.pexels.com/photo/photo-of-man-walking-on-desert-4449321/
      li
        a(href='https://www.freepik.com/free-vector/error-404-concept-landing-page_4660885.htm' target='_blank' rel='noopener') https://www.freepik.com/free-vector/error-404-concept-landing-page_4660885.htm
      li
        a(href='https://www.freepik.com/premium-photo/operator-call-center-answers-customer-requests-online-phone-modern-company-office_5132081.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/operator-call-center-answers-customer-requests-online-phone-modern-company-office_5132081.htm
      li
        a(href='https://www.freepik.com/free-photo/female-tourists-who-are-taking-photos-atmosphere_3953427.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/female-tourists-who-are-taking-photos-atmosphere_3953427.htm
      li
        a(href='https://www.freepik.com/free-photo/people-traveling-without-covid-worries_16694321.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/people-traveling-without-covid-worries_16694321.htm
      li
        a(href='https://www.freepik.com/free-photo/dreamy-nostalgic-stylish-bearded-guy-posing-against-white-wall-with-glasses_11104107.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/dreamy-nostalgic-stylish-bearded-guy-posing-against-white-wall-with-glasses_11104107.htm
      li
        a(href='https://www.freepik.com/premium-photo/portrait-young-woman-standing-with-her-crossed-arms-against-white-background_3724413.htm' target='_blank' rel='noopener') https://www.freepik.com/premium-photo/portrait-young-woman-standing-with-her-crossed-arms-against-white-background_3724413.htm
      li
        a(href='https://www.freepik.com/free-photo/waist-up-shot-handsome-self-confident-cheerful-male-entrepreneur-has-broad-smile_10749454.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/waist-up-shot-handsome-self-confident-cheerful-male-entrepreneur-has-broad-smile_10749454.htm
      li
        a(href='https://www.freepik.com/free-photo/happy-bearded-young-man-looks-with-joyful-expression-has-friendly-smile-wears-yellow-sweater-red-hat_10631827.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/happy-bearded-young-man-looks-with-joyful-expression-has-friendly-smile-wears-yellow-sweater-red-hat_10631827.htm
    
    h3.h6.pt-2 Pricing Plans Icons
    ul
      li
        a(href='https://www.flaticon.com/free-icon/promotion_3165587' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/promotion_3165587
      li
        a(href='https://www.flaticon.com/free-icon/target_3165466' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/target_3165466
      li
        a(href='https://www.flaticon.com/free-icon/startup_3165462' target='_blank' rel='noopener') https://www.flaticon.com/free-icon/startup_3165462
