extends ../partials/layout-components

//- Override default config variables
append config
  - var styles = ['vendor/simplebar/dist/simplebar.min.css']
  - var scripts = ['vendor/simplebar/dist/simplebar.min.js']
  - var pageTitle = 'Icon font'
  - var pageSubtitle = 'Collection of vector icons in the format of font. To add icon simply apply css class listed under each icon to <code>&lt;i&gt;</code> or <code>&lt;span&gt;</code> tag.'
  - var isPageTitleBadge = true
  - var anchorNav = [{'title': 'UI icons', 'link': '#ui-icons'}, {'title': 'Brand icons', 'link': '#brand-icons'}, {'title': 'Yoga demo icons', 'link': '#yoga-icons'}, {'title': 'Coworking demo icons', 'link': '#coworking-icons'}]
    
//- Page Content
block content
  section.card.border-0.mb-4
    .card-body.text-center
      h2#ui-icons.h4.pb-2.pb-lg-3.mb-4 UI icons
      .row.row-cols-2.row-cols-sm-3.row-cols-md-4.g-4
        .col
          i.h2.text-nav.fw-normal.ai-activity
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-activity
        .col
          i.h2.text-nav.fw-normal.ai-align-center
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-align-center
        .col
          i.h2.text-nav.fw-normal.ai-align-justify
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-align-justify
        .col
          i.h2.text-nav.fw-normal.ai-align-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-align-left
        .col
          i.h2.text-nav.fw-normal.ai-align-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-align-right
        .col
          i.h2.text-nav.fw-normal.ai-anchor
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-anchor
        .col
          i.h2.text-nav.fw-normal.ai-archive
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-archive
        .col
          i.h2.text-nav.fw-normal.ai-arrow-down-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-down-left
        .col
          i.h2.text-nav.fw-normal.ai-arrow-down-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-down-right
        .col
          i.h2.text-nav.fw-normal.ai-arrow-down
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-down
        .col
          i.h2.text-nav.fw-normal.ai-arrow-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-left
        .col
          i.h2.text-nav.fw-normal.ai-arrow-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-right
        .col
          i.h2.text-nav.fw-normal.ai-arrow-up-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-up-left
        .col
          i.h2.text-nav.fw-normal.ai-arrow-up-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-up-right
        .col
          i.h2.text-nav.fw-normal.ai-arrow-up
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-arrow-up
        .col
          i.h2.text-nav.fw-normal.ai-at
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-at
        .col
          i.h2.text-nav.fw-normal.ai-award
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-award
        .col
          i.h2.text-nav.fw-normal.ai-bar-chart-1
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bar-chart-1
        .col
          i.h2.text-nav.fw-normal.ai-bar-chart-2
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bar-chart-2
        .col
          i.h2.text-nav.fw-normal.ai-bar-chart-3
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bar-chart-3
        .col
          i.h2.text-nav.fw-normal.ai-battery
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-battery
        .col
          i.h2.text-nav.fw-normal.ai-battery-1
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-battery-1
        .col
          i.h2.text-nav.fw-normal.ai-battery-2
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-battery-2
        .col
          i.h2.text-nav.fw-normal.ai-battery-3
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-battery-3
        .col
          i.h2.text-nav.fw-normal.ai-battery-charge
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-battery-charge
        .col
          i.h2.text-nav.fw-normal.ai-bell
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bell
        .col
          i.h2.text-nav.fw-normal.ai-bell-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bell-minus
        .col
          i.h2.text-nav.fw-normal.ai-bell-off
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bell-off
        .col
          i.h2.text-nav.fw-normal.ai-bell-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bell-plus
        .col
          i.h2.text-nav.fw-normal.ai-bluetooth
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bluetooth
        .col
          i.h2.text-nav.fw-normal.ai-book
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-book
        .col
          i.h2.text-nav.fw-normal.ai-bookmark-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bookmark-minus
        .col
          i.h2.text-nav.fw-normal.ai-bookmark-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bookmark-plus
        .col
          i.h2.text-nav.fw-normal.ai-bookmark
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bookmark
        .col
          i.h2.text-nav.fw-normal.ai-box
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-box
        .col
          i.h2.text-nav.fw-normal.ai-briefcase
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-briefcase
        .col
          i.h2.text-nav.fw-normal.ai-briefcase-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-briefcase-plus
        .col
          i.h2.text-nav.fw-normal.ai-bulb
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bulb
        .col
          i.h2.text-nav.fw-normal.ai-bulb-alt
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-bulb-alt
        .col
          i.h2.text-nav.fw-normal.ai-calendar
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-calendar
        .col
          i.h2.text-nav.fw-normal.ai-calendar-check
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-calendar-check
        .col
          i.h2.text-nav.fw-normal.ai-calendar-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-calendar-minus
        .col
          i.h2.text-nav.fw-normal.ai-calendar-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-calendar-plus
        .col
          i.h2.text-nav.fw-normal.ai-calendar-x
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-calendar-x
        .col
          i.h2.text-nav.fw-normal.ai-camera
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-camera
        .col
          i.h2.text-nav.fw-normal.ai-camera-off
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-camera-off
        .col
          i.h2.text-nav.fw-normal.ai-capsule
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-capsule
        .col
          i.h2.text-nav.fw-normal.ai-card
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-card
        .col
          i.h2.text-nav.fw-normal.ai-cart
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cart
        .col
          i.h2.text-nav.fw-normal.ai-cast
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cast
        .col
          i.h2.text-nav.fw-normal.ai-chart
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chart
        .col
          i.h2.text-nav.fw-normal.ai-check
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-check
        .col
          i.h2.text-nav.fw-normal.ai-check-alt
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-check-alt
        .col
          i.h2.text-nav.fw-normal.ai-checks
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-checks
        .col
          i.h2.text-nav.fw-normal.ai-chevron-down
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevron-down
        .col
          i.h2.text-nav.fw-normal.ai-chevron-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevron-left
        .col
          i.h2.text-nav.fw-normal.ai-chevron-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevron-right
        .col
          i.h2.text-nav.fw-normal.ai-chevron-up
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevron-up
        .col
          i.h2.text-nav.fw-normal.ai-chevrons-down
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevrons-down
        .col
          i.h2.text-nav.fw-normal.ai-chevrons-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevrons-left
        .col
          i.h2.text-nav.fw-normal.ai-chevrons-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevrons-right
        .col
          i.h2.text-nav.fw-normal.ai-chevrons-up
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chevrons-up
        .col
          i.h2.text-nav.fw-normal.ai-chip
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-chip
        .col
          i.h2.text-nav.fw-normal.ai-circle-alert
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-alert
        .col
          i.h2.text-nav.fw-normal.ai-circle-arrow-down
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-arrow-down
        .col
          i.h2.text-nav.fw-normal.ai-circle-arrow-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-arrow-left
        .col
          i.h2.text-nav.fw-normal.ai-circle-arrow-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-arrow-right
        .col
          i.h2.text-nav.fw-normal.ai-circle-arrow-up
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-arrow-up
        .col
          i.h2.text-nav.fw-normal.ai-circle-check
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-check
        .col
          i.h2.text-nav.fw-normal.ai-circle-check-filled
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-check-filled
        .col
          i.h2.text-nav.fw-normal.ai-circle-help
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-help
        .col
          i.h2.text-nav.fw-normal.ai-circle-info
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-info
        .col
          i.h2.text-nav.fw-normal.ai-circle-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-minus
        .col
          i.h2.text-nav.fw-normal.ai-circle-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-plus
        .col
          i.h2.text-nav.fw-normal.ai-circle-slash
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-slash
        .col
          i.h2.text-nav.fw-normal.ai-circle-x
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-circle-x
        .col
          i.h2.text-nav.fw-normal.ai-clipboard
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-clipboard
        .col
          i.h2.text-nav.fw-normal.ai-cloud
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud
        .col
          i.h2.text-nav.fw-normal.ai-cloud-download
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud-download
        .col
          i.h2.text-nav.fw-normal.ai-cloud-drizzle
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud-drizzle
        .col
          i.h2.text-nav.fw-normal.ai-cloud-lightning
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud-lightning
        .col
          i.h2.text-nav.fw-normal.ai-cloud-rain
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud-rain
        .col
          i.h2.text-nav.fw-normal.ai-cloud-snow
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud-snow
        .col
          i.h2.text-nav.fw-normal.ai-cloud-upload
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cloud-upload
        .col
          i.h2.text-nav.fw-normal.ai-code
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-code
        .col
          i.h2.text-nav.fw-normal.ai-code-curly
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-code-curly
        .col
          i.h2.text-nav.fw-normal.ai-collapse
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-collapse
        .col
          i.h2.text-nav.fw-normal.ai-command
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-command
        .col
          i.h2.text-nav.fw-normal.ai-compass
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-compass
        .col
          i.h2.text-nav.fw-normal.ai-copy
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-copy
        .col
          i.h2.text-nav.fw-normal.ai-crop
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-crop
        .col
          i.h2.text-nav.fw-normal.ai-cross
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cross
        .col
          i.h2.text-nav.fw-normal.ai-cross-alt
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cross-alt
        .col
          i.h2.text-nav.fw-normal.ai-crosshair
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-crosshair
        .col
          i.h2.text-nav.fw-normal.ai-cup
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cup
        .col
          i.h2.text-nav.fw-normal.ai-cup-hot
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cup-hot
        .col
          i.h2.text-nav.fw-normal.ai-dashboard
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dashboard
        .col
          i.h2.text-nav.fw-normal.ai-database
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-database
        .col
          i.h2.text-nav.fw-normal.ai-delete
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-delete
        .col
          i.h2.text-nav.fw-normal.ai-disc
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-disc
        .col
          i.h2.text-nav.fw-normal.ai-discount
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-discount
        .col
          i.h2.text-nav.fw-normal.ai-dislike
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dislike
        .col
          i.h2.text-nav.fw-normal.ai-dollar
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dollar
        .col
          i.h2.text-nav.fw-normal.ai-dots
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dots
        .col
          i.h2.text-nav.fw-normal.ai-dots-horizontal
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dots-horizontal
        .col
          i.h2.text-nav.fw-normal.ai-dots-vertical
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dots-vertical
        .col
          i.h2.text-nav.fw-normal.ai-download
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-download
        .col
          i.h2.text-nav.fw-normal.ai-drawer
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-drawer
        .col
          i.h2.text-nav.fw-normal.ai-droplet
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-droplet
        .col
          i.h2.text-nav.fw-normal.ai-edit
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-edit
        .col
          i.h2.text-nav.fw-normal.ai-edit-alt
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-edit-alt
        .col
          i.h2.text-nav.fw-normal.ai-emoji-happy
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-emoji-happy
        .col
          i.h2.text-nav.fw-normal.ai-emoji-meh
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-emoji-meh
        .col
          i.h2.text-nav.fw-normal.ai-emoji-sad
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-emoji-sad
        .col
          i.h2.text-nav.fw-normal.ai-emoji-smile
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-emoji-smile
        .col
          i.h2.text-nav.fw-normal.ai-emoji-surprise
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-emoji-surprise
        .col
          i.h2.text-nav.fw-normal.ai-expand
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-expand
        .col
          i.h2.text-nav.fw-normal.ai-external-link
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-external-link
        .col
          i.h2.text-nav.fw-normal.ai-fast-forward
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-fast-forward
        .col
          i.h2.text-nav.fw-normal.ai-file
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-file
        .col
          i.h2.text-nav.fw-normal.ai-file-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-file-minus
        .col
          i.h2.text-nav.fw-normal.ai-file-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-file-plus
        .col
          i.h2.text-nav.fw-normal.ai-file-text
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-file-text
        .col
          i.h2.text-nav.fw-normal.ai-filter
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-filter
        .col
          i.h2.text-nav.fw-normal.ai-flag
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-flag
        .col
          i.h2.text-nav.fw-normal.ai-folder
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-folder
        .col
          i.h2.text-nav.fw-normal.ai-folder-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-folder-minus
        .col
          i.h2.text-nav.fw-normal.ai-folder-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-folder-plus
        .col
          i.h2.text-nav.fw-normal.ai-gift
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-gift
        .col
          i.h2.text-nav.fw-normal.ai-globe
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-globe
        .col
          i.h2.text-nav.fw-normal.ai-grid
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-grid
        .col
          i.h2.text-nav.fw-normal.ai-hard-drive
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-hard-drive
        .col
          i.h2.text-nav.fw-normal.ai-hashtag
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-hashtag
        .col
          i.h2.text-nav.fw-normal.ai-headphone
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-headphone
        .col
          i.h2.text-nav.fw-normal.ai-heart
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-heart
        .col
          i.h2.text-nav.fw-normal.ai-heart-filled
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-heart-filled
        .col
          i.h2.text-nav.fw-normal.ai-help
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-help
        .col
          i.h2.text-nav.fw-normal.ai-hide
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-hide
        .col
          i.h2.text-nav.fw-normal.ai-home
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-home
        .col
          i.h2.text-nav.fw-normal.ai-horizontal-align-center
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-horizontal-align-center
        .col
          i.h2.text-nav.fw-normal.ai-horizontal-align-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-horizontal-align-left
        .col
          i.h2.text-nav.fw-normal.ai-horizontal-align-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-horizontal-align-right
        .col
          i.h2.text-nav.fw-normal.ai-image
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-image
        .col
          i.h2.text-nav.fw-normal.ai-inbox
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-inbox
        .col
          i.h2.text-nav.fw-normal.ai-joystick
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-joystick
        .col
          i.h2.text-nav.fw-normal.ai-key
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-key
        .col
          i.h2.text-nav.fw-normal.ai-layer
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-layer
        .col
          i.h2.text-nav.fw-normal.ai-layout-column
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-layout-column
        .col
          i.h2.text-nav.fw-normal.ai-layout-grid
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-layout-grid
        .col
          i.h2.text-nav.fw-normal.ai-layout-row
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-layout-row
        .col
          i.h2.text-nav.fw-normal.ai-layout-side
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-layout-side
        .col
          i.h2.text-nav.fw-normal.ai-like
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-like
        .col
          i.h2.text-nav.fw-normal.ai-link
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-link
        .col
          i.h2.text-nav.fw-normal.ai-list
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-list
        .col
          i.h2.text-nav.fw-normal.ai-lock-closed
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-lock-closed
        .col
          i.h2.text-nav.fw-normal.ai-lock-open
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-lock-open
        .col
          i.h2.text-nav.fw-normal.ai-login
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-login
        .col
          i.h2.text-nav.fw-normal.ai-logout
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-logout
        .col
          i.h2.text-nav.fw-normal.ai-mail
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-mail
        .col
          i.h2.text-nav.fw-normal.ai-mail-filled
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-mail-filled
        .col
          i.h2.text-nav.fw-normal.ai-map-pin
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-map-pin
        .col
          i.h2.text-nav.fw-normal.ai-map
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-map
        .col
          i.h2.text-nav.fw-normal.ai-maximize
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-maximize
        .col
          i.h2.text-nav.fw-normal.ai-menu
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-menu
        .col
          i.h2.text-nav.fw-normal.ai-message
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-message
        .col
          i.h2.text-nav.fw-normal.ai-message-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-message-minus
        .col
          i.h2.text-nav.fw-normal.ai-message-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-message-plus
        .col
          i.h2.text-nav.fw-normal.ai-messages
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-messages
        .col
          i.h2.text-nav.fw-normal.ai-microphone
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-microphone
        .col
          i.h2.text-nav.fw-normal.ai-microphone-off
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-microphone-off
        .col
          i.h2.text-nav.fw-normal.ai-minimize
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-minimize
        .col
          i.h2.text-nav.fw-normal.ai-mobile
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-mobile
        .col
          i.h2.text-nav.fw-normal.ai-monitor
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-monitor
        .col
          i.h2.text-nav.fw-normal.ai-moon
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-moon
        .col
          i.h2.text-nav.fw-normal.ai-movie
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-movie
        .col
          i.h2.text-nav.fw-normal.ai-music
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-music
        .col
          i.h2.text-nav.fw-normal.ai-note
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-note
        .col
          i.h2.text-nav.fw-normal.ai-octagon-alert
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-octagon-alert
        .col
          i.h2.text-nav.fw-normal.ai-octagon
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-octagon
        .col
          i.h2.text-nav.fw-normal.ai-open-book
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-open-book
        .col
          i.h2.text-nav.fw-normal.ai-paint-roll
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-paint-roll
        .col
          i.h2.text-nav.fw-normal.ai-paperclip
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-paperclip
        .col
          i.h2.text-nav.fw-normal.ai-pause
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pause
        .col
          i.h2.text-nav.fw-normal.ai-pen
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pen
        .col
          i.h2.text-nav.fw-normal.ai-pencil
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pencil
        .col
          i.h2.text-nav.fw-normal.ai-phone
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-phone
        .col
          i.h2.text-nav.fw-normal.ai-phone-call
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-phone-call
        .col
          i.h2.text-nav.fw-normal.ai-phone-in
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-phone-in
        .col
          i.h2.text-nav.fw-normal.ai-phone-out
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-phone-out
        .col
          i.h2.text-nav.fw-normal.ai-phone-x
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-phone-x
        .col
          i.h2.text-nav.fw-normal.ai-pie-chart
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pie-chart
        .col
          i.h2.text-nav.fw-normal.ai-pin
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pin
        .col
          i.h2.text-nav.fw-normal.ai-planet
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-planet
        .col
          i.h2.text-nav.fw-normal.ai-play
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-play
        .col
          i.h2.text-nav.fw-normal.ai-play-filled
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-play-filled
        .col
          i.h2.text-nav.fw-normal.ai-play-next
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-play-next
        .col
          i.h2.text-nav.fw-normal.ai-play-previous
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-play-previous
        .col
          i.h2.text-nav.fw-normal.ai-plug
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-plug
        .col
          i.h2.text-nav.fw-normal.ai-power
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-power
        .col
          i.h2.text-nav.fw-normal.ai-printer
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-printer
        .col
          i.h2.text-nav.fw-normal.ai-printer
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-printer
        .col
          i.h2.text-nav.fw-normal.ai-pulse
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pulse
        .col
          i.h2.text-nav.fw-normal.ai-quotes
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-quotes
        .col
          i.h2.text-nav.fw-normal.ai-redo
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-redo
        .col
          i.h2.text-nav.fw-normal.ai-refresh
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-refresh
        .col
          i.h2.text-nav.fw-normal.ai-repeat
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-repeat
        .col
          i.h2.text-nav.fw-normal.ai-rewind
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-rewind
        .col
          i.h2.text-nav.fw-normal.ai-rocket
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-rocket
        .col
          i.h2.text-nav.fw-normal.ai-rotate-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-rotate-left
        .col
          i.h2.text-nav.fw-normal.ai-rotate-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-rotate-right
        .col
          i.h2.text-nav.fw-normal.ai-rss
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-rss
        .col
          i.h2.text-nav.fw-normal.ai-save
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-save
        .col
          i.h2.text-nav.fw-normal.ai-scan
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-scan
        .col
          i.h2.text-nav.fw-normal.ai-search
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-search
        .col
          i.h2.text-nav.fw-normal.ai-search-settings
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-search-settings
        .col
          i.h2.text-nav.fw-normal.ai-send
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-send
        .col
          i.h2.text-nav.fw-normal.ai-server
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-server
        .col
          i.h2.text-nav.fw-normal.ai-settings
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-settings
        .col
          i.h2.text-nav.fw-normal.ai-share
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-share
        .col
          i.h2.text-nav.fw-normal.ai-shield
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-shield
        .col
          i.h2.text-nav.fw-normal.ai-shopping-bag
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-shopping-bag
        .col
          i.h2.text-nav.fw-normal.ai-show
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-show
        .col
          i.h2.text-nav.fw-normal.ai-shuffle
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-shuffle
        .col
          i.h2.text-nav.fw-normal.ai-slider
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-slider
        .col
          i.h2.text-nav.fw-normal.ai-speaker
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-speaker
        .col
          i.h2.text-nav.fw-normal.ai-square
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-square
        .col
          i.h2.text-nav.fw-normal.ai-square-info
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-square-info
        .col
          i.h2.text-nav.fw-normal.ai-square-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-square-minus
        .col
          i.h2.text-nav.fw-normal.ai-square-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-square-plus
        .col
          i.h2.text-nav.fw-normal.ai-square-x
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-square-x
        .col
          i.h2.text-nav.fw-normal.ai-star
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-star
        .col
          i.h2.text-nav.fw-normal.ai-star-half
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-star-half
        .col
          i.h2.text-nav.fw-normal.ai-star-filled
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-star-filled
        .col
          i.h2.text-nav.fw-normal.ai-sticker
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-sticker
        .col
          i.h2.text-nav.fw-normal.ai-sun
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-sun
        .col
          i.h2.text-nav.fw-normal.ai-table
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-table
        .col
          i.h2.text-nav.fw-normal.ai-table-column
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-table-column
        .col
          i.h2.text-nav.fw-normal.ai-table-row
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-table-row
        .col
          i.h2.text-nav.fw-normal.ai-tablet
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-tablet
        .col
          i.h2.text-nav.fw-normal.ai-tag
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-tag
        .col
          i.h2.text-nav.fw-normal.ai-terminal
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-terminal
        .col
          i.h2.text-nav.fw-normal.ai-time
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-time
        .col
          i.h2.text-nav.fw-normal.ai-toggle-left
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-toggle-left
        .col
          i.h2.text-nav.fw-normal.ai-toggle-right
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-toggle-right
        .col
          i.h2.text-nav.fw-normal.ai-tool
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-tool
        .col
          i.h2.text-nav.fw-normal.ai-trash
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-trash
        .col
          i.h2.text-nav.fw-normal.ai-triangle
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-triangle
        .col
          i.h2.text-nav.fw-normal.ai-triangle-alert
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-triangle-alert
        .col
          i.h2.text-nav.fw-normal.ai-undo
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-undo
        .col
          i.h2.text-nav.fw-normal.ai-upload
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-upload
        .col
          i.h2.text-nav.fw-normal.ai-user
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-user
        .col
          i.h2.text-nav.fw-normal.ai-user-check
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-user-check
        .col
          i.h2.text-nav.fw-normal.ai-user-group
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-user-group
        .col
          i.h2.text-nav.fw-normal.ai-user-minus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-user-minus
        .col
          i.h2.text-nav.fw-normal.ai-user-plus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-user-plus
        .col
          i.h2.text-nav.fw-normal.ai-user-x
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-user-x
        .col
          i.h2.text-nav.fw-normal.ai-vertical-align-bottom
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vertical-align-bottom
        .col
          i.h2.text-nav.fw-normal.ai-vertical-align-center
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vertical-align-center
        .col
          i.h2.text-nav.fw-normal.ai-vertical-align-top
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vertical-align-top
        .col
          i.h2.text-nav.fw-normal.ai-video
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-video
        .col
          i.h2.text-nav.fw-normal.ai-video-off
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-video-off
        .col
          i.h2.text-nav.fw-normal.ai-volume
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-volume
        .col
          i.h2.text-nav.fw-normal.ai-volume-1
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-volume-1
        .col
          i.h2.text-nav.fw-normal.ai-volume-2
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-volume-2
        .col
          i.h2.text-nav.fw-normal.ai-volume-x
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-volume-x
        .col
          i.h2.text-nav.fw-normal.ai-vote-down
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vote-down
        .col
          i.h2.text-nav.fw-normal.ai-vote-up
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vote-up
        .col
          i.h2.text-nav.fw-normal.ai-wallet
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-wallet
        .col
          i.h2.text-nav.fw-normal.ai-wifi
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-wifi
        .col
          i.h2.text-nav.fw-normal.ai-wifi-off
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-wifi-off
        .col
          i.h2.text-nav.fw-normal.ai-zoom-in
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-zoom-in
        .col
          i.h2.text-nav.fw-normal.ai-zoom-out
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-zoom-out

      h2#brand-icons.h4.pt-4.pb-2.pb-lg-3.my-4 Brand icons
      .row.row-cols-2.row-cols-sm-3.row-cols-md-4.g-4
        .col
          i.h2.text-nav.fw-normal.ai-airbnb
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-airbnb
        .col
          i.h2.text-nav.fw-normal.ai-apple
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-apple
        .col
          i.h2.text-nav.fw-normal.ai-behance
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-behance
        .col
          i.h2.text-nav.fw-normal.ai-blogger
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-blogger
        .col
          i.h2.text-nav.fw-normal.ai-codepen
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-codepen
        .col
          i.h2.text-nav.fw-normal.ai-discord
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-discord
        .col
          i.h2.text-nav.fw-normal.ai-disqus
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-disqus
        .col
          i.h2.text-nav.fw-normal.ai-dribbble
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dribbble
        .col
          i.h2.text-nav.fw-normal.ai-dropbox
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-dropbox
        .col
          i.h2.text-nav.fw-normal.ai-evernote
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-evernote
        .col
          i.h2.text-nav.fw-normal.ai-facebook
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-facebook
        .col
          i.h2.text-nav.fw-normal.ai-flickr
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-flickr
        .col
          i.h2.text-nav.fw-normal.ai-foursquare
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-foursquare
        .col
          i.h2.text-nav.fw-normal.ai-github
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-github
        .col
          i.h2.text-nav.fw-normal.ai-google
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-google
        .col
          i.h2.text-nav.fw-normal.ai-google-drive
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-google-drive
        .col
          i.h2.text-nav.fw-normal.ai-google-play
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-google-play
        .col
          i.h2.text-nav.fw-normal.ai-hangouts
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-hangouts
        .col
          i.h2.text-nav.fw-normal.ai-instagram
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-instagram
        .col
          i.h2.text-nav.fw-normal.ai-kickstarter
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-kickstarter
        .col
          i.h2.text-nav.fw-normal.ai-linkedin
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-linkedin
        .col
          i.h2.text-nav.fw-normal.ai-medium
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-medium
        .col
          i.h2.text-nav.fw-normal.ai-messenger
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-messenger
        .col
          i.h2.text-nav.fw-normal.ai-odnoklassniki
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-odnoklassniki
        .col
          i.h2.text-nav.fw-normal.ai-patreon
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-patreon
        .col
          i.h2.text-nav.fw-normal.ai-paypal
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-paypal
        .col
          i.h2.text-nav.fw-normal.ai-pinterest
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-pinterest
        .col
          i.h2.text-nav.fw-normal.ai-quora
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-quora
        .col
          i.h2.text-nav.fw-normal.ai-reddit
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-reddit
        .col
          i.h2.text-nav.fw-normal.ai-skype
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-skype
        .col
          i.h2.text-nav.fw-normal.ai-slack
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-slack
        .col
          i.h2.text-nav.fw-normal.ai-snapchat
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-snapchat
        .col
          i.h2.text-nav.fw-normal.ai-soundcloud
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-soundcloud
        .col
          i.h2.text-nav.fw-normal.ai-spotify
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-spotify
        .col
          i.h2.text-nav.fw-normal.ai-stack-overflow
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-stack-overflow
        .col
          i.h2.text-nav.fw-normal.ai-steam
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-steam
        .col
          i.h2.text-nav.fw-normal.ai-telegram
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-telegram
        .col
          i.h2.text-nav.fw-normal.ai-tiktok
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-tiktok
        .col
          i.h2.text-nav.fw-normal.ai-tinder
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-tinder
        .col
          i.h2.text-nav.fw-normal.ai-trello
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-trello
        .col
          i.h2.text-nav.fw-normal.ai-tumblr
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-tumblr
        .col
          i.h2.text-nav.fw-normal.ai-twitch
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-twitch
        .col
          i.h2.text-nav.fw-normal.ai-twitter
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-twitter
        .col
          i.h2.text-nav.fw-normal.ai-viber
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-viber
        .col
          i.h2.text-nav.fw-normal.ai-vimeo
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vimeo
        .col
          i.h2.text-nav.fw-normal.ai-vk
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-vk
        .col
          i.h2.text-nav.fw-normal.ai-wechat
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-wechat
        .col
          i.h2.text-nav.fw-normal.ai-whatsapp
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-whatsapp
        .col
          i.h2.text-nav.fw-normal.ai-wordpress
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-wordpress
        .col
          i.h2.text-nav.fw-normal.ai-xing
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-xing
        .col
          i.h2.text-nav.fw-normal.ai-yelp
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-yelp
        .col
          i.h2.text-nav.fw-normal.ai-youtube
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-youtube

      h2#yoga-icons.h4.pt-4.pb-2.pb-lg-3.my-4 Yoga demo icons
      .row.row-cols-2.row-cols-sm-3.row-cols-md-4.g-4
        .col
          i.h2.text-nav.fw-normal.ai-cafe
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-cafe
        .col
          i.h2.text-nav.fw-normal.ai-flower
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-flower
        .col
          i.h2.text-nav.fw-normal.ai-rug
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-rug
        .col
          i.h2.text-nav.fw-normal.ai-sofa
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-sofa
        .col
          i.h2.text-nav.fw-normal.ai-spa
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-spa
        .col
          i.h2.text-nav.fw-normal.ai-towel
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-towel

      h2#coworking-icons.h4.pt-4.pb-2.pb-lg-3.my-4 Coworking demo icons
      .row.row-cols-2.row-cols-sm-3.row-cols-md-4.g-4
        .col
          i.h2.text-nav.fw-normal.ai-canteen
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-canteen
        .col
          i.h2.text-nav.fw-normal.ai-clock
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-clock
        .col
          i.h2.text-nav.fw-normal.ai-parking
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-parking
        .col
          i.h2.text-nav.fw-normal.ai-shower
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-shower
        .col
          i.h2.text-nav.fw-normal.ai-space
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-space
        .col
          i.h2.text-nav.fw-normal.ai-stairs
          .border-top.border-bottom.mt-1.py-1.fs-sm ai-stairs
