<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.realfinal.mypageFinPro.model.mapper.MypageFinProMapper">
	<resultMap type="MypageFinance" id="mypageFinProResultMap">
		<result property="likeNo" column="LIKENO"/>
		<result property="userNo" column="USERNO"/>
		<result property="finType" column="FINTYPE"/>
		<result property="prtId" column="PRTID"/>
		<result property="finPrdtNm" column="FINPRDTNM"/>
		<result property="korCoNm" column="KORCONM"/>
		<result property="minRate" column="MINRATE"/>
		<result property="maxRate" column="MAXRATE"/>
	</resultMap>
	
	<insert id="insertMypageFin" parameterType="map">
		INSERT INTO MYPAGEFINANCE(LIKENO, USERNO, FINTYPE, PRTID)
		VALUES(LIKENO.NEXTVAL, #{userNo}, #{finType}, #{prtId})
	</insert>
	
	<select id="selectFinLikeList" resultMap="mypageFinProResultMap" parameterType="map" resultType="list">
		SELECT DISTINCT FINLIKE.* FROM(SELECT PRTID, inssvn_fin_prdt_nm AS FINPRDTNM, inssvn_kor_co_nm AS KORCONM,
		intr_rate AS MINRATE, intr_rate2 AS MAXRATE, I.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN INSTLSAVING I ON I.INSSVN_ID = PRTID
		JOIN INSSVN_OPTION O ON O.INSSVN_ID = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}  
		UNION ALL
		SELECT PRTID, MORTGAGE_FIN_PRDT_NM AS FINPRDTNM, MORTGAGE_KOR_CO_NM AS KORCONM,
		MORTGAGE_LEND_RATE_MIN AS MINRATE, MORTGAGE_LEND_RATE_MAX AS MAXRATE, M.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN MORTGAGELOAN M ON M.MORTGAGE_ID = PRTID
		JOIN MORTGAGELOAN_OPTION O ON O.MORTGAGE_ID = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}
		UNION ALL
		SELECT PRTID, FIXDEPO_FIN_PRDT_NM AS FINPRDTNM, FIXDEPO_KOR_CO_NM AS KORCONM,
		INTR_RATE AS MINRATE, INTR_RATE2 AS MAXRATE, D.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN FIXDEPOSIT D ON D.FIXDEPOSIT_ID = PRTID
		JOIN FIXDEPOSIT_OPTION O ON O.FIXDEPOSIT_NO = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}
		UNION ALL
		SELECT PRTID, LEASELOAN_FIN_PRDT_NM AS FINPRDTNM, LEASELOAN_KOR_CO_NM AS KORCONM,
		LEASELOAN_LEND_RATE_MIN AS MINRATE, LEASELOAN_LEND_RATE_MAX AS MAXRATE, L.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN LEASELOAN L ON L.LEASELOAN_ID = PRTID
		JOIN LEASELOAN_OPTION O ON O.LEASELOAN_ID = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}) FINLIKE
		<if test="finPrdtNm != null">
			WHERE FINPRDTNM LIKE '%'||#{finPrdtNm}||'%'
		</if>
		ORDER BY FINLIKE.MAXRATE DESC
	</select>
	
	<select id="selectFinLikeCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT DISTINCT FINLIKE.* FROM(SELECT PRTID, inssvn_fin_prdt_nm AS FINPRDTNM, inssvn_kor_co_nm AS KORCONM,
		intr_rate AS MINRATE, intr_rate2 AS MAXRATE, I.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN INSTLSAVING I ON I.INSSVN_ID = PRTID
		JOIN INSSVN_OPTION O ON O.INSSVN_ID = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}  
		UNION ALL
		SELECT PRTID, MORTGAGE_FIN_PRDT_NM AS FINPRDTNM, MORTGAGE_KOR_CO_NM AS KORCONM,
		MORTGAGE_LEND_RATE_MIN AS MINRATE, MORTGAGE_LEND_RATE_MAX AS MAXRATE, M.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN MORTGAGELOAN M ON M.MORTGAGE_ID = PRTID
		JOIN MORTGAGELOAN_OPTION O ON O.MORTGAGE_ID = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}
		UNION ALL
		SELECT PRTID, FIXDEPO_FIN_PRDT_NM AS FINPRDTNM, FIXDEPO_KOR_CO_NM AS KORCONM,
		INTR_RATE AS MINRATE, INTR_RATE2 AS MAXRATE, D.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN FIXDEPOSIT D ON D.FIXDEPOSIT_ID = PRTID
		JOIN FIXDEPOSIT_OPTION O ON O.FIXDEPOSIT_NO = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}
		UNION ALL
		SELECT PRTID, LEASELOAN_FIN_PRDT_NM AS FINPRDTNM, LEASELOAN_KOR_CO_NM AS KORCONM,
		LEASELOAN_LEND_RATE_MIN AS MINRATE, LEASELOAN_LEND_RATE_MAX AS MAXRATE, L.FINTYPE AS FINTYPE
		FROM MYPAGEFINANCE
		JOIN LEASELOAN L ON L.LEASELOAN_ID = PRTID
		JOIN LEASELOAN_OPTION O ON O.LEASELOAN_ID = PRTID
		JOIN USER_T T ON T.USER_NO = USERNO
		WHERE USERNO = #{userNo}) FINLIKE
		<if test="finPrdtNm != null">
			WHERE FINPRDTNM LIKE '%'||#{finPrdtNm}||'%'
		</if>
		ORDER BY FINLIKE.MAXRATE DESC)	
	</select>
	
	
	
	

</mapper>