<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.kh.realfinal.publicservice.model.mapper.PublicServiceMapper">
	<insert id="insertPublicService"
		parameterType="PublicService">
		INSERT INTO PUBLICSERVICE(SERVICEID, SERVICENAME, SERVICEPURPOSE, SELECTTIONCRITERIA, 
				DOCUMENTS, ORGANIZATIONNAME, CONTACTPHONE, DEADLINE, APPLICATIONMETHOD, SITEURL, 
				RECEPTIONORGNAME, SUPPORTCONTENT, SUPPORTTARGET, SUPPORTTYPE, STATUTE) 
		VALUES(#{serviceId}, #{serviceName}, #{servicePurpose}, #{selecttionCriteria}, #{documents}, 
				#{organizationName}, #{contactPhone}, #{deadline}, #{applicationMethod}, #{siteUrl}, 
				#{receptionOrgName}, #{supportContent}, #{supportTarget}, #{supportType}, #{statute})
	</insert>
</mapper>