extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Icon font'
  - var pageSubtitle = 'Collection of vector icons in the format of font. To add icon simply apply css class listed under each icon to <code>&lt;i&gt;</code> tag.'
  - var isPageTitleBadge = true
  
//- Page Content
block content

  section.pb-5.mb-md-2
    .card.border-0.shadow-sm
      .card-body.text-center
        .row
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-alarm.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-alarm
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-alert-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-alert-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-alert-octagon.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-alert-octagon
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-alert-triange.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-alert-triange
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-align-justify.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-align-justify
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-align-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-align-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-align-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-align-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-anchor.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-anchor
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-archive.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-archive
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-back-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-back-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-back.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-back
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-down.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-forward-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-forward-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-forward.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-forward
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-long-down.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-long-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-long-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-long-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-long-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-long-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-long-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-long-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrow-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrow-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-arrows-sort.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-arrows-sort
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-award.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-award
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bell-off.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bell-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bell-on.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bell-on
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bell.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bell
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bookmark-filled.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bookmark-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bookmark.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bookmark
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-briefcase.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-briefcase
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-building.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-building
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-calendar.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-calendar
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-calendar-alt.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-calendar-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-camera-plus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-camera-plus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-car.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-car
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cart.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cash.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chat-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chat-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chat-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chat-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chat-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chat-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-check.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-check-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-check-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-checkbox.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-checkbox
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-checkbox-checked.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-checkbox-checked
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-checkbox-checked-alt.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-checkbox-checked-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chevron-down.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chevron-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chevron-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chevron-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chevron-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chevron-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chevron-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chevron-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chevrons-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chevrons-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-chevrons-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-chevrons-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-clock.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-clock
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cloud-download.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cloud-download
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cloud-upload.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cloud-upload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-code.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-code
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-down-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-down-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-down-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-down-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-left-down.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-left-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-left-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-left-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-right-down.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-right-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-right-up.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-right-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-up-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-up-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-corner-up-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-corner-up-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-credit-card-off.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-credit-card-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-credit-card.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-credit-card
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cup.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cup
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dashboard.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dashboard
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-device-desktop.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-device-desktop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-device-laptop.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-device-laptop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-device-mobile.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-device-mobile
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-device-tablet.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-device-tablet
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dislike.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dislike
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dots-horisontal.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dots-horisontal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dots-vertical.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dots-vertical
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-download-file.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-download-file
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-download.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-download
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-edit.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-edit
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-education.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-education
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-expand.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-expand
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-external-link.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-external-link
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-eye-off.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-eye-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-eye-on.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-eye-on
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-file.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-file
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-file-clean.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-file-clean
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-filter-alt-horizontal.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-filter-alt-horizontal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-filter-alt-vertical.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-filter-alt-vertical
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-filter.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-filter
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-filter-off.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-filter-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-flag.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-flag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-flame.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-flame
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-folder.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-folder-minus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-folder-minus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-folder-off.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-folder-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-folder-plus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-folder-plus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-folder-x.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-folder-x
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-folders.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-folders
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-footer.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-footer
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-friends.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-friends
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-geo.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-geo
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-gift.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-gift
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-glass.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-glass
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-globe.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-globe
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-grid.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-grid
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-header.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-header
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-heart-filled.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-heart-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-heart.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-heart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-help.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-help
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-home.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-home
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-image.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-image
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-info-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-info-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-info-square.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-info-square
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-layers.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-layers
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-like.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-like
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-link.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-link
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-list.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-list
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-lock.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-lock
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-login.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-login
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-logout.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-logout
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-mail.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-mail
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-man.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-man
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-map.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-map
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-map-pin.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-map-pin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-map-pins.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-map-pins
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-microphone.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-microphone
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-minus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-minus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-minus-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-minus-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-minus-square.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-minus-square
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-music.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-music
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-paperclip.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-paperclip
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-pencil.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-pencil
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-phone.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-phone
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-pinned.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-pinned
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-plane.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-plane
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-play.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-play
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-play-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-play-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-play-filled.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-play-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-plus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-plus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-plus-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-plus-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-plus-square.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-plus-square
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-power.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-power
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-quote.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-quote
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-refresh.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-refresh
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-reply.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-reply
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-rotate-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-rotate-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-rotate-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-rotate-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-route.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-route
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-search.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-search
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-send.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-send
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-settings.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-settings
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-share.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-share
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-sidebar-left.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-sidebar-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-sidebar-right.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-sidebar-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-star.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-star
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-star-filled.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-star-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-star-half.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-star-half
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-switch-horizontal.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-switch-horizontal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-switch-vertical.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-switch-vertical
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-ticket.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-ticket
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-trash.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-trash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-truck.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-truck
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-unlock.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-unlock
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-upload-file.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-upload-file
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-upload.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-upload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-user.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-user
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-user-check.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-user-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-user-minus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-user-minus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-user-plus.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-user-plus
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-user-x.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-user-x
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-users.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-users
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-video-off.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-video-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-video.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-video
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-wallet.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-wallet
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-woman.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-woman
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-x.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-x
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-x-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-x-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-x-square.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-x-square
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-zoom-in.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-zoom-in
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-zoom-out.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-zoom-out
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-airbnb.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-airbnb
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-behance.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-behance
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-discord.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-discord
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dribbble.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dribbble
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dropbox.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dropbox
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-facebook.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-facebook
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-facebook-square.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-facebook-square
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-foursquare.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-foursquare
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-github.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-github
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-google-drive.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-google-drive
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-google-play.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-google-play
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-google.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-google
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-hangouts.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-hangouts
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-instagram.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-instagram
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-linkedin.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-linkedin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-medium.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-medium
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-messenger.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-messenger
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-odnoklassniki.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-odnoklassniki
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-paypal.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-paypal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-pinterest.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-pinterest
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-rss.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-rss
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-skype.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-skype
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-slack.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-slack
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-snapchat.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-snapchat
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-soundcloud.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-soundcloud
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-telegram.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-telegram
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-telegram-circle.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-telegram-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-tiktok.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-tiktok
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-tumblr.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-tumblr
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-twitch.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-twitch
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-twitter.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-twitter
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-viber.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-viber
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-vimeo.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-vimeo
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-vk.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-vk
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-wechat.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-wechat
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-whatsapp.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-whatsapp
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-xing.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-xing
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-youtube.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-youtube
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-accounting.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-accounting
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-apartment.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-apartment
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bath.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bath
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-bed.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-bed
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-billboard-house.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-billboard-house
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cafe.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cafe
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cctv.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cctv
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-cocktail.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-cocktail
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-computer.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-computer
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-disco-ball.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-disco-ball
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dish.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dish
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-double-bed.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-double-bed
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-dumbell.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-dumbell
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-entertainment.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-entertainment
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-gearbox.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-gearbox
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-hotel-bell.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-hotel-bell
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-house-chosen.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-house-chosen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-iron.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-iron
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-laundry.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-laundry
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-makeup.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-makeup
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-meds.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-meds
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-museum.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-museum
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-no-smoke.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-no-smoke
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-parking.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-parking
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-pet.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-pet
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-petrol.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-petrol
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-pie-chart.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-pie-chart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-plant.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-plant
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-real-estate-buy.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-real-estate-buy
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-real-estate-house.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-real-estate-house
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-rent.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-rent
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-security.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-security
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-shop.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-shop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-shopping-bag.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-shopping-bag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-single-bed.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-single-bed
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-snowflake.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-snowflake
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-spa.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-spa
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-swimming-pool.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-swimming-pool
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-thermometer.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-thermometer
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-tv.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-tv
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.fi-wifi.opacity-80
            .border-top.border-bottom.fs-sm.mt-1.py-1 fi-wifi
