//- Additional page styles and scripts
- var styles = []
- var scripts = []

//- Body attributes object for extra classes or inline styles
- var bodyAttributes = {}

//- Page title
- var pageTitle = 'Multipurpose Bootstrap Template'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isPageTitleBadge = false
- var isNestedFile = false
- var isFixedButton = false
- var isSignedIn = false
- var isShopPage = false
- var isThemeModeSwitch = true
- var isScrollDownButton = false
- var isPageLoading = true
- var isTagManager = false
- var isCustomizer = false

//- Active menu item
- var parentMenu

//- Navbar
- var navbarExtraClass

//- Button shapes for Navbar and Footer partials
- var buttonShape
