extends partials/layout

//- Override default config variables
append config
  - var scripts = ['vendor/@lottiefiles/lottie-player/dist/lottie-player.js']
  - var pageTitle = '404 Error v.1'


//- Page Content
block content
  .container.d-flex.flex-column.justify-content-center.min-vh-100.py-5
    lottie-player(src='assets/json/animation-404-light.json' background='transparent' speed='1' loop autoplay).d-dark-mode-none.mt-n5
    lottie-player(src='assets/json/animation-404-dark.json' background='transparent' speed='1' loop autoplay).d-none.d-dark-mode-block.mt-n5
    .text-center.pt-4.mt-lg-2
      h1.display-5 Page not found
      p.fs-lg.pb-2.pb-md-0.mb-4.mb-md-5 The page you are looking for was moved, removed or might never existed.
      a(href='index.html').btn.btn-lg.btn-primary Go to homepage
