extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Account - Sign In'


//- Page Content
block content
  .d-lg-flex.position-relative.h-100

    // Home button
    a(href='index.html' data-bs-toggle='tooltip' data-bs-placement='left' title='Back to home').text-nav.btn.btn-icon.bg-light.border.rounded-circle.position-absolute.top-0.end-0.p-0.mt-3.me-3.mt-sm-4.me-sm-4
      i.ai-home

    // Sign in form
    .d-flex.flex-column.align-items-center.w-lg-50.h-100.px-3.px-lg-5.pt-5
      .w-100.mt-auto(style='max-width: 526px;')
        h1 Sign in to Around
        p.pb-3.mb-3.mb-lg-4 Don't have an account yet?&nbsp;&nbsp;<a href='account-signup.html'>Register here!</a>
        form(novalidate).needs-validation
          .pb-3.mb-3
            .position-relative
              i.ai-mail.fs-lg.position-absolute.top-50.start-0.translate-middle-y.ms-3
              input(type='email' placeholder='Email address' required).form-control.form-control-lg.ps-5
          .mb-4
            .position-relative
              i.ai-lock-closed.fs-lg.position-absolute.top-50.start-0.translate-middle-y.ms-3
              .password-toggle
                input(type='password' placeholder='Password' required).form-control.form-control-lg.ps-5
                label(aria-label='Show/hide password').password-toggle-btn
                  input(type='checkbox').password-toggle-check
                  span.password-toggle-indicator
          .d-flex.flex-wrap.align-items-center.justify-content-between.pb-4
            form-check.my-1
              input(type='checkbox')#keep-signedin.form-check-input
              label(for='keep-signedin').form-check-label.ms-1 Keep me signed in
            a(href='account-password-recovery.html').fs-sm.fw-semibold.text-decoration-none.my-1 Forgot password?
          button(type='submit').btn.btn-lg.btn-primary.w-100.mb-4 Sign in
          h2.h6.text-center.pt-3.pt-lg-4.mb-4 Or sign in with your social account
          .row.row-cols-1.row-cols-sm-2.gy-3
            .col
              a(href='#').btn.btn-icon.btn-outline-secondary.btn-google.btn-lg.w-100
                i.ai-google.fs-xl.me-2
                | Google
            .col
              a(href='#').btn.btn-icon.btn-outline-secondary.btn-facebook.btn-lg.w-100
                i.ai-facebook.fs-xl.me-2
                | Facebook

      // Copyright
      p.w-100.fs-sm.pt-5.mt-auto.mb-5(style='max-width: 526px;')
        span.text-muted &copy; All rights reserved. Made by
        a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link.d-inline-block.p-0.ms-1 Createx Studio

    // Cover image
    .w-50.bg-size-cover.bg-repeat-0.bg-position-center(style='background-image: url(assets/img/account/cover.jpg);')
