extends partials/layout

//- Override default config variables
append config
  - var scripts = ['vendor/cleave.js/dist/cleave.min.js']
  - var parentMenu = 'Account'
  - var pageTitle = 'Account - Billing'
  - var isSignedIn = true
  - var isFixedButton = true
  - var bodyAttributes = {'class': 'bg-secondary'}


//- Navbar
block navbar
  include partials/navbar.pug


//- Page Content
block content

  // Add payment card modal
  #addCard.modal.fade(data-bs-backdrop='static' tabindex='-1' role='dialog')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header.border-0
          h4.modal-title Add new card
          button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
        form(novalidate).modal-body.needs-validation.pt-0
          .mb-4
            label(for='card-name').form-label Name on card
            input(type='text' placeholder='John Doe' required)#card-name.form-control
          .mb-4
            label(for='card-number').form-label Card number
            .input-group
              input(type='text' data-format='{"creditCard": true}' placeholder='XXXX XXXX XXXX XXXX' required)#card-number.form-control
              .input-group-text.py-0
                .credit-card-icon
          .row.row-cols-2.g-4.pb-2.pb-sm-3.mb-4
            .col
              label(for='card-expiration').form-label Expiration date
              input(type='text' data-format='{"date": true, "datePattern": ["m", "y"]}' placeholder='MM/YY' required)#card-expiration.form-control
            .col
              label(for='card-cvv').form-label CVV Code
              input(type='text' data-format='{"numericOnly": true, "blocks": [3]}' placeholder='XXX' required)#card-cvv.form-control
          .d-flex.flex-column.flex-sm-row
            button(type='reset' data-bs-dismiss='modal').btn.btn-secondary.mb-3.mb-sm-0
              | Cancel
            button(type='submit').btn.btn-primary.ms-sm-3
              | Save new card


  // Add new address modal
  #addAddress.modal.fade(data-bs-backdrop='static' tabindex='-1' role='dialog')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
      .modal-content
        .modal-header.border-0
          h4.modal-title Add new address
          button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
        form(novalidate).modal-body.needs-validation.pt-0
          .alert.alert-warning.d-flex.mb-4
            i.ai-triangle-alert.fs-xl.me-2
            p.mb-0 Updating your address may affect your <a href='#' class='alert-link'>Tax Location</a>
          
          .row.row-cols-1.row-cols-lg-2.g-4.pb-2.pb-sm-3.mb-4
            .col
              label(for='country').form-label Country
              select(required)#country.form-select
                option(value='' disabled selected) Select a country
                option(value='Australia') Australia
                option(value='Belgium') Belgium
                option(value='Canada') Canada
                option(value='Denmark') Denmark
                option(value='USA') USA
            .col
              label(for='city').form-label City
              select(required)#city.form-select
                option(value='' disabled selected) Select a city
                option(value='Sydney') Sydney
                option(value='Brussels') Brussels
                option(value='Toronto') Toronto
                option(value='Copenhagen') Copenhagen
                option(value='New York') New York
            .col
              label(for='state').form-label State
              select(required)#state.form-select
                option(value='' disabled selected) Select a state
                option(value='Arizona') Arizona
                option(value='California') California
                option(value='Florida') Florida
                option(value='Georgia') Georgia
                option(value='Texas') Texas
                option(value='Virginia') Virginia
            .col
              label(for='address1').form-label Address line 1
              input(type='text' required)#address1.form-control
            .col
              label(for='address2').form-label Address line 2
              input(type='text')#address2.form-control
            .col
              label(for='postcode').form-label Post code
              input(type='text' data-format='{"delimiter": "-", "blocks": [3, 4], "uppercase": true}' placeholder='XXX-XXXX')#postcode.form-control
            .col
              .form-check
                input(type='checkbox')#set-primary.form-check-input
                label(for='set-primary').form-check-label.text-dark.fw-medium Set as primary billing address
          .d-flex.flex-column.flex-sm-row
            button(type='reset' data-bs-dismiss='modal').btn.btn-secondary.mb-3.mb-sm-0
              | Cancel
            button(type='submit').btn.btn-primary.ms-sm-3
              | Save address


  .container.py-5.mt-4.mt-lg-5.mb-lg-4.my-xl-5
    .row.pt-sm-2.pt-lg-0

      // Sidebar (offcanvas on sreens < 992px)
      aside.col-lg-3.pe-lg-4.pe-xl-5.mt-n3
        .position-lg-sticky.top-0
          .d-none.d-lg-block(style='padding-top: 105px;')
          include partials/sidebar-account.pug


      // Page content
      .col-lg-9.pt-4.pb-2.pb-sm-4
        h1.h2.mb-4 Billing

        // Payment methods
        section.card.border-0.py-1.p-md-2.p-xl-3.p-xxl-4.mb-4
          .card-body
            .d-flex.align-items-center.mt-sm-n1.pb-4.mb-0.mb-lg-1.mb-xl-3
              i.ai-card.text-primary.lead.pe-1.me-2
              h2.h4.mb-0 Payment methods
            
            .alert.alert-danger.d-flex.mb-4
              i.ai-octagon-alert.fs-xl.me-2
              p.mb-0 Your primary credit card expired on 01/04/2022. Please add a new card or update this one.
            
            .row.row-cols-1.row-cols-md-2.g-4

              // Payment method (primary)
              .col
                .card.h-100.rounded-3.p-3.p-sm-4
                  .d-flex.align-items-center.pb-2.mb-1
                    h3.h6.text-nowrap.text-truncate.mb-0 Isabella Bocouse
                    span.badge.bg-faded-primary.text-primary.fs-xs.ms-3 Primary
                    .d-flex.ms-auto
                      button(type='button' data-bs-toggle='tooltip' title='Edit').nav-link.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-edit-alt
                      button(type='button' data-bs-toggle='tooltip' title='Delete').nav-link.text-danger.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-trash
                  .d-flex.align-items-center
                    <svg width='52' height='42' viewBox='0 0 52 42' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M22.6402 28.2865H18.5199L21.095 12.7244H25.2157L22.6402 28.2865ZM15.0536 12.7244L11.1255 23.4281L10.6607 21.1232L10.6611 21.124L9.27467 14.1256C9.27467 14.1256 9.10703 12.7244 7.32014 12.7244H0.8262L0.75 12.9879C0.75 12.9879 2.73586 13.3942 5.05996 14.7666L8.63967 28.2869H12.9327L19.488 12.7244H15.0536ZM47.4619 28.2865H51.2453L47.9466 12.7239H44.6345C43.105 12.7239 42.7324 13.8837 42.7324 13.8837L36.5873 28.2865H40.8825L41.7414 25.9749H46.9793L47.4619 28.2865ZM42.928 22.7817L45.093 16.9579L46.3109 22.7817H42.928ZM36.9095 16.4667L37.4975 13.1248C37.4975 13.1248 35.6831 12.4463 33.7916 12.4463C31.7469 12.4463 26.8913 13.3251 26.8913 17.5982C26.8913 21.6186 32.5902 21.6685 32.5902 23.7803C32.5902 25.8921 27.4785 25.5137 25.7915 24.182L25.1789 27.6763C25.1789 27.6763 27.0187 28.555 29.8296 28.555C32.6414 28.555 36.8832 27.1234 36.8832 23.2271C36.8832 19.1808 31.1331 18.8041 31.1331 17.0449C31.1335 15.2853 35.1463 15.5113 36.9095 16.4667Z' fill='#2566AF'/><path d='M10.6611 22.1235L9.2747 15.1251C9.2747 15.1251 9.10705 13.7239 7.32016 13.7239H0.8262L0.75 13.9874C0.75 13.9874 3.87125 14.6235 6.86507 17.0066C9.72766 19.2845 10.6611 22.1235 10.6611 22.1235Z' fill='#E6A540'/></svg>
                    .ps-3.fs-sm
                      .text-dark Visa •••• 9016
                      .text-muted Debit - Expires 03/24

              // Payment method
              .col
                .card.h-100.rounded-3.p-3.p-sm-4
                  .d-flex.align-items-center.pb-2.mb-1
                    h3.h6.text-nowrap.text-truncate.mb-0 Isabella Bocouse
                    .d-flex.ms-auto
                      button(type='button' data-bs-toggle='tooltip' title='Edit').nav-link.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-edit-alt
                      button(type='button' data-bs-toggle='tooltip' title='Delete').nav-link.text-danger.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-trash
                  .d-flex.align-items-center
                    <svg width='52' height='42' viewBox='0 0 52 42' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M31.4109 30.6159H20.5938V10.7068H31.4111L31.4109 30.6159Z' fill='#FF5F00'/><path d='M21.28 20.6617C21.28 16.6232 23.1264 13.0256 26.0016 10.7072C23.8252 8.94968 21.1334 7.99582 18.3618 8.00001C11.5344 8.00001 6 13.6688 6 20.6617C6 27.6547 11.5344 33.3235 18.3618 33.3235C21.1334 33.3277 23.8254 32.3738 26.0018 30.6163C23.1268 28.2983 21.28 24.7005 21.28 20.6617Z' fill='#EB001B'/><path d='M46.0028 20.6617C46.0028 27.6547 40.4684 33.3235 33.641 33.3235C30.8691 33.3276 28.1768 32.3738 26 30.6163C28.876 28.2979 30.7224 24.7005 30.7224 20.6617C30.7224 16.623 28.876 13.0256 26 10.7072C28.1768 8.94974 30.8689 7.99589 33.6408 8.00001C40.4682 8.00001 46.0026 13.6688 46.0026 20.6617' fill='#F79E1B'/></svg>
                    .ps-3.fs-sm
                      .text-dark MasterCard •••• 4242
                      .text-muted Checking - Expires 01/25

              // Payment method
              .col
                .card.h-100.rounded-3.p-3.p-sm-4
                  .d-flex.align-items-center.pb-2.mb-1
                    h3.h6.text-nowrap.text-truncate.mb-0 Isabella Bocouse
                    .d-flex.ms-auto
                      button(type='button' data-bs-toggle='tooltip' title='Edit').nav-link.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-edit-alt
                      button(type='button' data-bs-toggle='tooltip' title='Delete').nav-link.text-danger.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-trash
                  .d-flex.align-items-center
                    <svg width='52' height='42' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 42'><path fill='#03a9f4' d='M37.3,11.8c-0.2-0.1-0.5-0.1-0.7,0c-0.2,0.1-0.4,0.3-0.4,0.6c0,0.2-0.1,0.5-0.1,0.7c-1.4,6.3-4.2,9.4-8.5,9.4h-6.4c-0.3,0-0.6,0.2-0.7,0.6l-2.1,10L18,35.5c-0.2,1.2,0.5,2.3,1.7,2.5c0.1,0,0.3,0,0.4,0h4.3c1,0,1.8-0.7,2.1-1.6l1.7-6.9h3.7c4.4,0,7.4-3.5,8.5-9.8l0,0C41.1,16.7,39.9,13.5,37.3,11.8z'/><path fill='#283593' d='M36,6.5c-1.4-1.6-3.4-2.5-5.5-2.5H18.6c-1.8,0-3.3,1.3-3.5,3l-3.7,24.4c-0.2,1.2,0.6,2.3,1.8,2.4c0.1,0,0.2,0,0.3,0H19c0.3,0,0.6-0.2,0.7-0.6l2-9.4h5.8c5.1,0,8.4-3.5,9.9-10.5c0.1-0.3,0.1-0.6,0.1-0.8C38,10.3,37.4,8.1,36,6.5z'/></svg>
                    .ps-2.fs-sm
                      .text-dark Electronic payment system
                      .text-muted bocouse@example.com

              // Add payment method
              .col
                .card.h-100.justify-content-center.align-items-center.border-dashed.rounded-3.py-5.px-3.px-sm-4
                  a(href='#addCard' data-bs-toggle='modal').stretched-link.d-flex.align-items-center.fw-semibold.text-decoration-none
                    i.ai-circle-plus.fs-xl.me-2
                    | Add new payment methods
                  
       
        // Billing address
        section.card.border-0.py-1.p-md-2.p-xl-3.p-xxl-4
          .card-body
            .d-flex.align-items-center.pb-4.mt-sm-n1.mb-0.mb-lg-1.mb-xl-3
              i.ai-map-pin.text-primary.lead.pe-1.me-2
              h2.h4.mb-0 Billing address

            .row.row-cols-1.row-cols-md-2.g-4

              // Address (primary)
              .col
                .card.h-100.rounded-3.p-3.p-sm-4
                  .d-flex.align-items-center.pb-2.mb-1
                    h3.h6.text-nowrap.text-truncate.mb-0 Billing address #1
                    span.badge.bg-faded-primary.text-primary.fs-xs.ms-3 Primary
                    .d-flex.ms-auto
                      button(type='button' data-bs-toggle='tooltip' title='Edit').nav-link.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-edit-alt
                      button(type='button' data-bs-toggle='tooltip' title='Delete').nav-link.text-danger.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-trash
                  p.mb-0 314 Robinson Lane,<br>Wilmington, DE 19805,<br>USA

              // Address
              .col
                .card.h-100.rounded-3.p-3.p-sm-4
                  .d-flex.align-items-center.pb-2.mb-1
                    h3.h6.text-nowrap.text-truncate.mb-0 Billing address #2
                    .d-flex.ms-auto
                      button(type='button' data-bs-toggle='tooltip' title='Edit').nav-link.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-edit-alt
                      button(type='button' data-bs-toggle='tooltip' title='Delete').nav-link.text-danger.fs-xl.fw-normal.py-1.pe-0.ps-1.ms-2
                        i.ai-trash
                  p.mb-0 401 Magnetic Drive Unit 2,<br>Toronto, Ontario, M3J 3H9<br>Canada

              // Add address
              .col
                .card.h-100.justify-content-center.align-items-center.border-dashed.rounded-3.py-5.px-3.px-sm-4
                  a(href='#addAddress' data-bs-toggle='modal').stretched-link.d-flex.align-items-center.fw-semibold.text-decoration-none.my-sm-3
                    i.ai-circle-plus.fs-xl.me-2
                    | Add new address

            .py-4.mt-sm-2.mt-md-3
              h3.h6.mb-1 Tax location
              p.mb-0 United States - 10% VAT
            
            .alert.alert-info.d-flex.mb-0
              i.ai-circle-info.fs-xl.me-2
              p.mb-0 Your text location determines the taxes that are applied to your bill. <a href='#' class='alert-link'>Learn more</a>

  
  // Divider for dark mode only
  hr.d-none.d-dark-mode-block


  // Sidebar toggle button
  button(data-bs-toggle='offcanvas' data-bs-target='#sidebarAccount').d-lg-none.btn.btn-sm.fs-sm.btn-primary.w-100.rounded-0.fixed-bottom
    i.ai-menu.me-2
    | Account menu


//- Footer
block footer
  include partials/footer-shop.pug
