extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Account - Password Recovery'


//- Page Content
block content
  .d-flex.flex-column.align-items-center.position-relative.h-100.px-3.pt-5

    // Home button
    a(href='index.html' data-bs-toggle='tooltip' data-bs-placement='left' title='Back to home').text-nav.btn.btn-icon.bg-light.border.rounded-circle.position-absolute.top-0.end-0.zindex-2.p-0.mt-3.me-3.mt-sm-4.me-sm-4
      i.ai-home

    
    // Content
    .mt-auto(style='max-width: 700px;')
      h1.pt-3.pb-2.pb-lg-3 Forgot your password?
      p.pb-2 Change your password in three easy steps. This helps to keep your new password secure.
      ul.list-unstyled.pb-2.pb-lg-0.mb-4.mb-lg-5
        li.d-flex.mb-2
          span.text-primary.fw-semibold.me-2 1.
          | Fill in your email address below.
        li.d-flex.mb-2
          span.text-primary.fw-semibold.me-2 2.
          | We'll email you a temporary code.
        li.d-flex.mb-2
          span.text-primary.fw-semibold.me-2 3.
          | Use the code to change your password on our secure website.
      .card.dark-mode.border-0.bg-primary
        form.card-body
          .mb-4
            .position-relative
              i.ai-mail.fs-lg.position-absolute.top-50.start-0.translate-middle-y.text-light.opacity-80.ms-3
              input(type='email' placeholder='Email address' required).form-control.form-control-lg.ps-5
          button(type='submit').btn.btn-light Get new password
    
    
    // Copyright
    p.w-100.fs-sm.pt-5.mt-auto.mb-5(style='max-width: 700px;')
      span.text-muted &copy; All rights reserved. Made by
      a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link.d-inline-block.p-0.ms-1 Createx Studio
