extends ../partials/layout-docs

//- Override default config variables
append config
  - var styles = ['vendor/simplebar/dist/simplebar.min.css']
  - var scripts = ['vendor/simplebar/dist/simplebar.min.js']
  - var pageTitle = 'Sources and credits'
    
//- Page Content
block content

  p While making this template we used 3rd party plugins, images, icons, fonts, etc... and want to thank their creators.
  h2.h4.pt-3 Plugins, Libraries and Frameworks
  ul.list-unstyled
    li.mb-2
      span.text-nav.fw-semibold Bootstrap 5 - 
      a(href='https://getbootstrap.com/' target='_blank' rel='noopener') https://getbootstrap.com/
    li.mb-2
      span.text-nav.fw-semibold Sass - 
      a(href='http://sass-lang.com/' target='_blank' rel='noopener') http://sass-lang.com/
    li.mb-2
      span.text-nav.fw-semibold Swiper - 
      a(href='https://swiperjs.com/' target='_blank' rel='noopener') https://swiperjs.com/
    li.mb-2
      span.text-nav.fw-semibold Jarallax - 
      a(href='https://github.com/nk-o/jarallax' target='_blank' rel='noopener') https://github.com/nk-o/jarallax
    li.mb-2
      span.text-nav.fw-semibold Lightgallery.js - 
      a(href='https://www.lightgalleryjs.com/' target='_blank' rel='noopener') https://www.lightgalleryjs.com/
    li.mb-2
      span.text-nav.fw-semibold FullCalendar - 
      a(href='https://fullcalendar.io/' target='_blank' rel='noopener') https://fullcalendar.io/
    li.mb-2
      span.text-nav.fw-semibold noUiSlider - 
      a(href='https://refreshless.com/nouislider/' target='_blank' rel='noopener') https://refreshless.com/nouislider/
    li.mb-2
      span.text-nav.fw-semibold Shuffle - 
      a(href='https://vestride.github.io/Shuffle/' target='_blank' rel='noopener') https://vestride.github.io/Shuffle/
    li.mb-2
      span.text-nav.fw-semibold AOS (Animate on Scroll) - 
      a(href='https://michalsnik.github.io/aos/' target='_blank' rel='noopener') https://michalsnik.github.io/aos/
    li.mb-2
      span.text-nav.fw-semibold Leaflet - 
      a(href='https://leafletjs.com/' target='_blank' rel='noopener') https://leafletjs.com/
    li.mb-2
      span.text-nav.fw-semibold LottieFiles Web Player - 
      a(href='https://lottiefiles.com/web-player' target='_blank' rel='noopener') https://lottiefiles.com/web-player
    li.mb-2
      span.text-nav.fw-semibold Image Comparison Slider - 
      a(href='https://img-comparison-slider.sneas.io/' target='_blank' rel='noopener') https://img-comparison-slider.sneas.io/
    li.mb-2
      span.text-nav.fw-semibold Smooth Scroll - 
      a(href='https://github.com/cferdinandi/smooth-scroll/' target='_blank' rel='noopener') https://github.com/cferdinandi/smooth-scroll/
    li.mb-2
      span.text-nav.fw-semibold Parallax.js - 
      a(href='https://github.com/wagerfield/parallax' target='_blank' rel='noopener') https://github.com/wagerfield/parallax
    li.mb-2
      span.text-nav.fw-semibold Chartist - 
      a(href='https://gionkunz.github.io/chartist-js/' target='_blank' rel='noopener') https://gionkunz.github.io/chartist-js/
    li.mb-2
      span.text-nav.fw-semibold Flatpickr - 
      a(href='https://flatpickr.js.org/' target='_blank' rel='noopener') https://flatpickr.js.org/
    li.mb-2
      span.text-nav.fw-semibold Cleave.js - 
      a(href='https://nosir.github.io/cleave.js/' target='_blank' rel='noopener') https://nosir.github.io/cleave.js/
    li.mb-2
      span.text-nav.fw-semibold imagesLoaded - 
      a(href='https://imagesloaded.desandro.com/' target='_blank' rel='noopener') https://imagesloaded.desandro.com/
    li.mb-2
      span.text-nav.fw-semibold TimezZ - 
      a(href='https://github.com/BrooonS/timezz' target='_blank' rel='noopener') https://github.com/BrooonS/timezz
    li.mb-2
      span.text-nav.fw-semibold Popper.js - 
      a(href='https://popper.js.org/' target='_blank' rel='noopener') https://popper.js.org/
    li.mb-2
      span.text-nav.fw-semibold Prism.js - 
      a(href='https://prismjs.com/' target='_blank' rel='noopener') https://prismjs.com/
    li.mb-2
      span.text-nav.fw-semibold Node.js - 
      a(href='https://nodejs.org/en/' target='_blank' rel='noopener') https://nodejs.org/en/
    li.mb-2
      span.text-nav.fw-semibold Gulp - 
      a(href='https://gulpjs.com/' target='_blank' rel='noopener') https://gulpjs.com/
    
  h2.h4.pt-3.pt-lg-4 Google Fonts
  ul.list-unstyled
    li
      span.text-nav.fw-semibold Inter - 
      a(href='https://fonts.google.com/specimen/Inter' target='_blank' rel='noopener') https://fonts.google.com/specimen/Inter
    
  h2.h4.pt-3.pt-lg-4 Font Icons <span class='fs-base fw-medium text-muted'>(converted to font with Icomoon)</span>
  ul.list-unstyled
    li.mb-2
      span.text-nav.fw-semibold Atomicons - 
      a(href='https://atomicons.com/' target='_blank' rel='noopener') https://atomicons.com/
    li.mb-2
      span.text-nav.fw-semibold Social Icons - 
      a(href='https://www.flaticon.com/packs/social-logo-2' target='_blank' rel='noopener') https://www.flaticon.com/packs/social-logo-2
    
  h2.h4.pt-3.pt-lg-4 Avatar Library
  ul.list-unstyled
    li: a(href='https://ui8.net/themeselect/products/free-avatar-library-for-figma-and-sketch' target='_blank' rel='noopener') https://ui8.net/themeselect/products/free-avatar-library-for-figma-and-sketch
    
  h2.h4.pt-3.pt-lg-4 Flags <span class='fs-base fw-medium text-muted'>(Language switcher)</span>
  ul.list-unstyled
    li: a(href='https://www.flaticon.com/packs/international-flags-6' target='_blank' rel='noopener') https://www.flaticon.com/packs/international-flags-6
    
  h2.h4.pt-3.pt-lg-4 Logos
  ul.list-unstyled
    li.mb-2: a(href='https://logoipsum.com/' target='_blank' rel='noopener') https://logoipsum.com/
    li.mb-2: a(href='https://worldvectorlogo.com' target='_blank' rel='noopener') https://worldvectorlogo.com
    
  h2.h4.pt-3.pt-lg-4 Graphic Assets
  ul.list-unstyled.mb-0
    li.mb-2
      span.text-nav.fw-semibold Freepick - 
      a(href='https://freepik.com' target='_blank' rel='noopener') https://freepik.com
    li.mb-2
      span.text-nav.fw-semibold Flaticon - 
      a(href='https://www.flaticon.com/' target='_blank' rel='noopener') https://www.flaticon.com/
    li.mb-2
      span.text-nav.fw-semibold Pexels - 
      a(href='https://www.pexels.com' target='_blank' rel='noopener') https://www.pexels.com
    li.mb-2
      span.text-nav.fw-semibold Unsplash - 
      a(href='https://unsplash.com/' target='_blank' rel='noopener') https://unsplash.com/
    li.mb-2
      span.text-nav.fw-semibold Craftwork - 
      a(href='https://craftwork.design/' target='_blank' rel='noopener') https://craftwork.design/
    li.mb-2
      span.text-nav.fw-semibold UI8 - 
      a(href='https://ui8.net/' target='_blank' rel='noopener') https://ui8.net/
