extends ../partials/layout-docs

//- Override default config variables
append config
  - var styles = ['vendor/simplebar/dist/simplebar.min.css']
  - var scripts = ['vendor/simplebar/dist/simplebar.min.js']
  - var pageTitle = 'Installing Vendor plugins with Npm and Gulp'
    
//- Page Content
block content

  h2.h5 Follow this 4 easy steps to install 3rd party plugin and use it in your Around based project:
  ol.mb-4
    li.mb-2 Open your Terminal window and navigate to the root directory of your project (where you <span class='fw-semibold'>package.json</span> file is located).
    li.mb-2 Run <kbd>npm install &lt;package name&gt; --save</kbd>. This command does two things: downloads package to <code>node_modules</code> folder and writes dependency to your <code>package.json</code> file inside <code>dependencies object</code>.
    li.mb-2 Run <kbd>gulp vendor</kbd>. This command will clean <code>assets/vendor</code> folder and move all the dpendencies that are listed in <code>package.json</code> file under <code>dependencies object</code> to <code>assets/vendor</code> including your newly downloaded plugins.
    li And last step is to link to plugin's scripts and styles inside your document. If you use Pug templates you can link to venndor plugins using an array of dependencies. See the screenshot below:
  img(src='../assets/img/docs/vendor-plugins.png' alt='Screenshot').rounded-3
