extends ../partials/layout-docs

//- Override default config variables
append config
  - var styles = ['vendor/simplebar/dist/simplebar.min.css']
  - var scripts = ['vendor/simplebar/dist/simplebar.min.js']
  - var pageTitle = 'Utility classes'
    
//- Page Content
block content

  .alert.alert-info.d-flex.mb-4(role='alert')
    i.ai-circle-info.lead.me-2.me-sm-3
    p.mb-1 Bootstrap includes dozens of utilities - classes with a single purpose to reduce the frequency of highly repetitive declarations.

  p Along with <a href='https://getbootstrap.com/docs/5.2/utilities/borders/' class='fw-semibold' target='_blank' rel='noopener'>default Bootstrap utility classes</a> Around introduces its own. They all live inside <code>Around/src/scss/_utilities.scss</code> file.
  a(href='../components/utilities.html' target='_blank' rel='noopener').d-block.fw-semibold.mb-1 The list of most important Around utilities as well as their visual reference and code snippets can be found here
  