<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.realfinal.opinion.model.mapper.OpinionMapper">
	<resultMap type="Opinion" id="opinionResultMap">
		<result property="opinionNo" column="OPINIONNO"/>
		<result property="title" column="TITLE"/>
		<result property="link" column="LINK"/>
		<result property="imageUrl" column="IMAGEURL"/>
		<result property="columnist" column="COLUMNIST"/>
		<result property="content" column="CONTENT"/>
		<result property="pubDate" column="PUBDATE"/>	
		<result property="hit" column="HIT"/>
		<result property="reply_cnt" column="REPLY_CNT"/>
		<result property="rownum" column="ROWNUM"/>
	</resultMap>
	
	<resultMap type="Opinion" id="opinionDetailResultMap" extends="opinionResultMap">
		<collection property="replies" javaType="arrayList" columnPrefix="OPR_" resultMap="opinionReplyResultMap"/>
	</resultMap>
	
	<resultMap type="OpinionReply" id="opinionReplyResultMap">
		<id property="o_reply_no" column="O_REPLY_NO"/>
		<result property="o_reply_content" column="O_REPLY_CONTENT"/>
		<result property="opinionNo" column="OPINIONNO"/>
		<result property="o_reply_writer_no" column="O_REPLY_WRITER_NO"/>
		<result property="o_reply_writer_id" column="USER_ID"/>
		<result property="o_reply_writer_nickName" column="O_USER_NICKNAME"/>
		<result property="o_reply_register" column="O_REPLY_REGISTER"/>
		<result property="o_reply_modify" column="O_REPLY_MODIFY"/>
	</resultMap>
	
	<insert id="insertOpinion" parameterType="Opinion">
		INSERT INTO Opinion(		
			OPINIONNO, TITLE, LINK, IMAGEURL, COLUMNIST, CONTENT, PUBDATE
		) VALUES(
			SEQ_OPINIONNO.NEXTVAL, #{title}, #{link}, #{imageUrl}, #{columnist}, 
			#{content}, #{pubDate}
		)	
	</insert>
	
	<!-- 갯수 -->
	<select id="selectOpinionCount" resultType="int"  parameterType="map">
		SELECT COUNT(1)
		FROM OPINION
	</select>
	
	<!-- 오피니언 메인 목록 전체 -->
	<select id="selectOpinion" resultMap="opinionResultMap" parameterType="map">
		SELECT 
			OPINIONNO, TITLE, LINK, IMAGEURL, COLUMNIST, CONTENT, PUBDATE
		FROM OPINION
		ORDER BY OPINIONNO DESC
	</select>
	
	<!-- 오피니언 메인 상단 1개 고정 -->
	<select id="selectOpinionMain1" resultMap="opinionResultMap" parameterType="map">
		SELECT 
			OPINIONNO, TITLE, LINK, IMAGEURL, COLUMNIST, CONTENT, PUBDATE
		FROM OPINION
		WHERE OPINIONNO = 15
	</select>
	
	<!-- 오피니언 메인 오른쪽 사이드바 4개 -->
	<select id="selectOpinionMainSide" resultMap="opinionResultMap" parameterType="map">
		SELECT ROWNUM, A.*
		FROM
			(
			SELECT 
				OPINIONNO, TITLE, LINK, IMAGEURL, COLUMNIST, CONTENT, PUBDATE
			FROM OPINION
			ORDER BY HIT DESC
			) A
		WHERE ROWNUM <![CDATA[<=]]> 4
	</select>
	
	<!-- 오피니언 메인, 메인 논설위원 10개 -->
	<select id="selectEditorialist" resultMap="opinionResultMap" parameterType="map">
		SELECT *
		FROM
			(
			SELECT 
				OPINIONNO, TITLE, IMAGEURL, COLUMNIST, PUBDATE
			FROM OPINION
			ORDER BY PUBDATE
			)
		WHERE ROWNUM <![CDATA[<=]]> 10
	</select>
	
	<!-- 정치 오피니언 2개 -->
	<select id="selectOpinionForPolitics" resultMap="opinionResultMap" parameterType="map">
		SELECT ROWNUM, A.*
		FROM (
			SELECT
				OPINIONNO, TITLE, IMAGEURL, PUBDATE
			FROM OPINION
			WHERE ROWNUM <![CDATA[<=]]> 2
			ORDER BY OPINIONNO DESC
			) A
	</select>
	
	<!-- 오피니언 상세 -->
	<select id="selectOpinionOne" parameterType="int" resultMap="opinionDetailResultMap">
		SELECT 
		    OPI.OPINIONNO, 
		    OPI.TITLE, 
		    OPI.COLUMNIST, 
		    OPI.IMAGEURL, 
		    OPI.HIT, 
		    OPI.CONTENT, 
		    OPI.PUBDATE,
		    U.USER_ID AS OPR_USER_ID, 
		    OPR.O_REPLY_NO AS OPR_O_REPLY_NO, 
		    OPR.OPINIONNO AS OPR_OPINIONNO, 
		    OPR.O_REPLY_CONTENT AS OPR_O_REPLY_CONTENT, 
		    OPR.O_WRITER_NO AS OPR_O_REPLY_WRITER_NO,
		    U.USER_NICKNAME AS OPR_O_USER_NICKNAME, 
		    OPR.O_REPLY_REGISTER AS OPR_O_REPLY_REGISTER, 
		    OPR.O_REPLY_MODIFY AS OPR_O_REPLY_MODIFY,
		    (SELECT COUNT(1) 
		        FROM OPINION_REPLY OPR
		        WHERE OPI.OPINIONNO = OPR.OPINIONNO ) AS REPLY_CNT
		FROM OPINION OPI
		LEFT OUTER JOIN OPINION_REPLY OPR ON(OPI.OPINIONNO = OPR.OPINIONNO)
		LEFT OUTER JOIN USER_T U ON(OPR.O_WRITER_NO = U.USER_NO)
		WHERE OPI.OPINIONNO = #{opinionNo}
		ORDER BY OPR.O_REPLY_REGISTER ASC
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertOpinionReply" parameterType="OpinionReply">
		INSERT INTO OPINION_REPLY 
			(O_REPLY_NO, O_WRITER_NO, OPINIONNO, O_REPLY_CONTENT, O_REPLY_REGISTER, O_REPLY_MODIFY)
			VALUES(
				SEQ_REPLY_NO.NEXTVAL, #{o_reply_writer_no}, #{opinionNo}, #{o_reply_content}, SYSDATE, SYSDATE)
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="editOpinionReply" parameterType="OpinionReply">
		UPDATE OPINION_REPLY SET O_REPLY_CONTENT = #{o_reply_content}
		WHERE O_REPLY_NO = #{o_reply_no}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteOpinionReply" parameterType="int">
		DELETE OPINION_REPLY WHERE O_REPLY_NO = #{o_reply_no} 
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateOpinionHit" parameterType="int">
		UPDATE OPINION 
		SET HIT = #{hit}
		WHERE OPINIONNO = #{opinionNo}
	</update>
	
</mapper>