<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.realfinal.opinion.model.mapper.OpinionMapper">
	<resultMap type="Opinion" id="opinionResultMap">
		<result property="opinionNo" column="OPINIONNO"/>
		<result property="title" column="TITLE"/>
		<result property="link" column="LINK"/>
		<result property="imageUrl" column="IMAGEURL"/>
		<result property="columnist" column="COLUMNIST"/>
		<result property="content" column="CONTENT"/>
		<result property="pubDate" column="PUBDATE"/>	
	</resultMap>
	
	<insert id="insertOpinion" parameterType="Opinion">
		INSERT INTO Opinion(		
			OPINIONNO, TITLE, LINK, IMAGEURL, COLUMNIST, CONTENT, PUBDATE
		) VALUES(
			SEQ_OPINIONNO.NEXTVAL, #{title}, #{link}, #{imageUrl}, #{columnist}, 
			#{content}, #{pubDate}
		)	
	</insert>
	
	<select id="selectOpinion" resultMap="opinionResultMap" parameterType="map">
		SELECT 
			OPINIONNO, TITLE, LINK, IMAGEURL, COLUMNIST, CONTENT, PUBDATE
		FROM OPINION
		ORDER BY OPINIONNO DESC
	</select>
	
	<select id="selectOpinionCount" resultType="int"  parameterType="map">
		SELECT COUNT(1)
		FROM OPINION
	</select>

	<select id="selectOpinionOne" resultMap="opinionResultMap">
		SELECT OPINIONNO, TITLE, LINK, DESCRIPTION, PUBDATE
		FROM OPINION 
		WHERE OPINIONNO = #{opinionNo}
	</select>
	
	
	
</mapper>