// Footer
footer.footer.bg-faded-light
  .border-bottom.border-light.py-4
    .container.d-sm-flex.align-items-center.justify-content-between
      a(href='real-estate-home-v1.html').d-inline-block
        img(src='img/logo/logo-light.svg' width='116' alt='logo')
      .d-flex.pt-3.pt-sm-0
        .dropdown.ms-n3
          button(type='button' data-bs-toggle='dropdown').btn.btn-light.btn-link.btn-sm.dropdown-toggle.fw-normal.py-2
            i.fi-globe.me-2
            | Eng
          .dropdown-menu.dropdown-menu-dark.w-100
            a(href='#').dropdown-item Deutsch
            a(href='#').dropdown-item Français
            a(href='#').dropdown-item Español
        .dropdown
          button(type='button' data-bs-toggle='dropdown').btn.btn-light.btn-link.btn-sm.dropdown-toggle.fw-normal.py-2.pe-0
            i.fi-map-pin.me-2
            | New York
          .dropdown-menu.dropdown-menu-dark.dropdown-menu-sm-end(style='min-width: 7.5rem;')
            a(href='#').dropdown-item Chicago
            a(href='#').dropdown-item Dallas
            a(href='#').dropdown-item Los Angeles
            a(href='#').dropdown-item San Diego
  .container.pt-4.pb-3.pt-lg-5.pb-lg-4
    .row.pt-2.pt-lg-0
      .col-lg-3.pb-2.mb-4
        h3.h5.text-light.mb-2 Subscribe to our newsletter
        p.fs-sm.text-light.opacity-70 Don’t miss any relevant offers!
        form.form-group.form-group-light.w-100
          .input-group.input-group-sm
            span.input-group-text 
              i.fi-mail
            input(type='text' placeholder='Your email').form-control
          button(type='button').btn.btn-primary.btn-icon.btn-sm
            i.fi-send
      .col-lg-2.col-md-3.col-sm-6.offset-xl-1.mb-2.mb-sm-4
        h3.fs-base.text-light Buying &amp; Selling
        ul.list-unstyled.fs-sm
          li: a(href='#').nav-link-light Find a car
          li: a(href='#').nav-link-light Sell your car
          li: a(href='#').nav-link-light Car dealers
          li: a(href='#').nav-link-light Compare cars
          li: a(href='#').nav-link-light Online car appraisal
      .col-lg-2.col-md-3.col-sm-6.mb-2.mb-sm-4
        h3.fs-base.text-light About
        ul.list-unstyled.fs-sm
          li: a(href='#').nav-link-light About Finder
          li: a(href='#').nav-link-light Contact us
          li: a(href='#').nav-link-light FAQs &amp; support
          li: a(href='#').nav-link-light Mobile app
          li: a(href='#').nav-link-light Blog
      .col-lg-2.col-md-3.col-sm-6.mb-2.mb-sm-4
        h3.fs-base.text-light Profile
        ul.list-unstyled.fs-sm
          li: a(href='#').nav-link-light My account
          li: a(href='#').nav-link-light Wishlist
          li: a(href='#').nav-link-light My listings
          li: a(href='#').nav-link-light Add listing
      .col-xl-2.col-lg-3.col-sm-6.col-md-3.mb-2.mb-sm-4
        a(href='tel:4065550120').d-flex.align-items-center.text-decoration-none.mb-2
          i.fi-device-mobile.me-2
          span.text-light (406) 555-0120
        a(href='mailto:example@email.com').d-flex.align-items-center.text-decoration-none.mb-2
          i.fi-mail.me-2
          span.text-light example@email.com
        .d-flex.flex-wrap.pt-4
          a(href='#').btn.btn-icon.btn-translucent-light.btn-xs.rounded-circle.mb-2.me-2
            i.fi-facebook
          a(href='#').btn.btn-icon.btn-translucent-light.btn-xs.rounded-circle.mb-2.me-2
            i.fi-twitter
          a(href='#').btn.btn-icon.btn-translucent-light.btn-xs.rounded-circle.mb-2.me-2
            i.fi-telegram
          a(href='#').btn.btn-icon.btn-translucent-light.btn-xs.rounded-circle.mb-2
            i.fi-messenger
  .container.d-lg-flex.align-items-center.justify-content-between.fs-sm.pb-3
    .d-flex.flex-wrap.justify-content-center.order-lg-2.mb-3
      a(href='#').nav-link.nav-link-light.fw-normal Terms of use
      a(href='#').nav-link.nav-link-light.fw-normal Privacy policy
      a(href='#').nav-link.nav-link-light.fw-normal Accessibility statement
      a(href='#').nav-link.nav-link-light.fw-normal.pe-0 Interest based ads
    p.text-center.text-lg-start.order-lg-1.mb-lg-0
      span.text-light.opacity-50 &copy; All rights reserved. Made by 
      a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link-light.fw-bold Createx Studio
