if parentMenu === 'Home' || parentMenu === 'Catalog' || parentMenu === 'Pages'

  // Sign In Modal
  #signin-modal.modal.fade(tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered.p-2.my-0.mx-auto(style='max-width: 950px;')
      .modal-content.bg-dark.border-light
        .modal-body.px-0.py-2.py-sm-0
          button(type='button' data-bs-dismiss='modal').btn-close.btn-close-white.position-absolute.top-0.end-0.mt-3.me-3
          .row.mx-0.align-items-center
            .col-md-6.border-end-md.border-light.p-4.p-sm-5
              h2.h3.text-light.mb-4.mb-sm-5 Hey there!<br>Welcome back.
              img(src='img/signin-modal/signin-dark.svg' class='d-block mx-auto' width='344' alt='Illustartion')
              .text-light.mt-4.mt-sm-5
                span.opacity-60 Don't have an account? 
                a(href='#signup-modal' data-bs-toggle='modal' data-bs-dismiss='modal').text-light Sign up here
            .col-md-6.px-4.pt-2.pb-4.px-sm-5.pb-sm-5.pt-md-5
              a(href='#').btn.btn-outline-info.w-100.mb-3
                i.fi-google.fs-lg.me-1
                | Sign in with Google
              a(href='#').btn.btn-outline-info.w-100.mb-3
                i.fi-facebook.fs-lg.me-1
                | Sign in with Facebook
              .d-flex.align-items-center.py-3.mb-3
                hr.hr-light.w-100
                .text-light.opacity-70.px-3 Or
                hr.hr-light.w-100
              form(novalidate).needs-validation
                .mb-4
                  label(for='signin-email').form-label.text-light.mb-2 Email address
                  input(type='email' id='signin-email' placeholder='Enter your email' required).form-control.form-control-light
                .mb-4
                  .d-flex.align-items-center.justify-content-between.mb-2
                    label(for='signin-password').form-label.text-light.mb-0 Password
                    a(href='#').fs-sm.text-light Forgot password?
                  .password-toggle
                    input(type='password' id='signin-password' placeholder='Enter password' required).form-control.form-control-light
                    label(aria-label='Show/hide password').password-toggle-btn
                      input(type='checkbox').password-toggle-check
                      span.password-toggle-indicator
                button(type='submit').btn.btn-primary.btn-lg.w-100 Sign in         


  // Sign Up Modal
  #signup-modal.modal.fade(tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered.p-2.my-0.mx-auto(style='max-width: 950px;')
      .modal-content.bg-dark.border-light
        .modal-body.px-0.py-2.py-sm-0
          button(type='button' data-bs-dismiss='modal').btn-close.btn-close-white.position-absolute.top-0.end-0.mt-3.me-3
          .row.mx-0.align-items-center
            .col-md-6.border-end-md.border-light.p-4.p-sm-5
              h2.h3.text-light.mb-4.mb-sm-5 Join Finder.<br>Get premium benefits:
              ul.list-unstyled.mb-4.mb-sm-5
                li.d-flex.mb-2
                  i.fi-check-circle.text-primary.mt-1.me-2
                  span.text-light Add and promote your listings
                li.d-flex.mb-2
                  i.fi-check-circle.text-primary.mt-1.me-2
                  span.text-light Easily manage your wishlist
                li.d-flex.mb-0
                  i.fi-check-circle.text-primary.mt-1.me-2
                  span.text-light Leave reviews
              img(src='img/signin-modal/signup-dark.svg' class='d-block mx-auto' width='344' alt='Illustartion')
              .text-light.mt-sm-4.pt-md-3
                span.opacity-60 Already have an account? 
                a(href='#signin-modal' data-bs-toggle='modal' data-bs-dismiss='modal').text-light Sign in
            .col-md-6.px-4.pt-2.pb-4.px-sm-5.pb-sm-5.pt-md-5
              a(href='#').btn.btn-outline-info.w-100.mb-3
                i.fi-google.fs-lg.me-1
                | Sign in with Google
              a(href='#').btn.btn-outline-info.w-100.mb-3
                i.fi-facebook.fs-lg.me-1
                | Sign in with Facebook
              .d-flex.align-items-center.py-3.mb-3
                hr.hr-light.w-100
                .text-light.opacity-70.px-3 Or
                hr.hr-light.w-100
              form(novalidate).needs-validation
                .mb-4
                  label(for='signup-name').form-label.text-light Full name
                  input(type='text' id='signup-name' placeholder='Enter your full name' required).form-control.form-control-light
                .mb-4
                  label(for='signup-email').form-label.text-light Email address
                  input(type='email' id='signup-email' placeholder='Enter your email' required).form-control.form-control-light
                .mb-4
                  label(for='signup-password').form-label.text-light Password <span class='fs-sm opacity-50'>min. 8 char</span>
                  .password-toggle
                    input(type='password' id='signup-password' minlength='8' required).form-control.form-control-light
                    label(aria-label='Show/hide password').password-toggle-btn
                      input(type='checkbox').password-toggle-check
                      span.password-toggle-indicator
                .mb-4
                  label(for='signup-password-confirm').form-label.text-light Confirm password
                  .password-toggle
                    input(type='password' id='signup-password-confirm' minlength='8' required).form-control.form-control-light
                    label(aria-label='Show/hide password').password-toggle-btn
                      input(type='checkbox').password-toggle-check
                      span.password-toggle-indicator
                .form-check.form-check-light.mb-4
                  input(type='checkbox' id='agree-to-terms' required).form-check-input
                  label(for='agree-to-terms').form-check-label
                    <span class='opacity-70'>By joining, I agree to the</span> <a href='#' class='text-light'>Terms of use</a> <span class='opacity-70'>and</span> <a href='#' class='text-light'>Privacy policy</a>
                button(type='submit').btn.btn-primary.btn-lg.w-100 Sign up         


// Navbar
header(data-scroll-header).navbar.navbar-expand-lg.navbar-dark.fixed-top
  .container
    a(href='car-finder-home.html').navbar-brand.me-3.me-xl-4
      img(src='img/logo/logo-light.svg' width='116' alt='Finder').d-block
    button(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation').navbar-toggler.ms-auto
      span.navbar-toggler-icon
    if parentMenu === 'Account' || parentMenu === 'Vendor'
      .dropdown.d-none.d-lg-block.order-lg-3.my-n2.me-3
        a(href='car-finder-account-info.html').d-block.py-2
          img(src='img/avatars/02.jpg' width='40' alt='Robert Fox').rounded-circle
        .dropdown-menu.dropdown-menu-dark.dropdown-menu-end
          .d-flex.align-items-start.border-bottom.border-light.px-3.py-1.mb-2(style='width: 16rem;')
            img(src='img/avatars/01.jpg' width='48' alt='Robert Fox').rounded-circle
            .ps-2
              h6.fs-base.text-light.mb-0 Robert Fox
              +star-rating(5,'sm')
              .fs-xs.py-2
                | (302) 555-0107
                br
                | robert_fox@email.com
          a(href='car-finder-account-info.html').dropdown-item
            i.fi-user.me-2
            | Personal Info
          a(href='car-finder-account-security.html').dropdown-item
            i.fi-lock.me-2
            | Password &amp; Security
          a(href='car-finder-account-cars.html').dropdown-item
            i.fi-car.me-2
            | My Cars
          a(href='car-finder-account-wishlist.html').dropdown-item
            i.fi-heart.me-2
            | Wishlist
            span.badge.bg-faded-light.ms-2 4
          a(href='car-finder-account-reviews.html').dropdown-item
            i.fi-star.me-2
            | Reviews
          a(href='car-finder-account-notifications.html').dropdown-item
            i.fi-bell.me-2
            | Notifications
          .dropdown-divider
          a(href='car-finder-help-center.html').dropdown-item Help
          a(href='signin-dark.html').dropdown-item Sign Out
    else
      a(href='#signin-modal' data-bs-toggle='modal').btn.btn-link.btn-light.btn-sm.d-none.d-lg-block.order-lg-3
        i.fi-user.me-2
        | Sign in
    a(href='car-finder-sell-car.html').btn.btn-primary.btn-sm.ms-2.order-lg-3
      i.fi-plus.me-2
      | Sell car
    #navbarNav.collapse.navbar-collapse.order-lg-2
      ul.navbar-nav.navbar-nav-scroll(style='max-height: 35rem;')
        // Demos switcher
        li.nav-item.dropdown.me-lg-2
          a(href='#' data-bs-toggle='dropdown' role='button' aria-expanded='false').nav-link.dropdown-toggle.align-items-center.pe-lg-4
            i.fi-layers.me-2
            | Demos
            span.d-none.d-lg-block.position-absolute.top-50.end-0.translate-middle-y.border-end.border-light(style='width: 1px; height: 30px;')
          ul.dropdown-menu.dropdown-menu-dark
            li
              a(href='real-estate-home-v1.html').dropdown-item
                i.fi-building.fs-base.me-2
                | Real Estate Demo
            li.dropdown-divider
            li
              a(href='car-finder-home.html').dropdown-item
                i.fi-car.fs-base.me-2
                | Car Finder Demo
            li.dropdown-divider
            li
              a(href='job-board-home-v1.html').dropdown-item
                i.fi-briefcase.fs-base.me-2
                | Job Board Demo
            li.dropdown-divider
            li
              a(href='city-guide-home-v1.html').dropdown-item
                i.fi-map-pin.fs-base.me-2
                | City Guide Demo
            li.dropdown-divider
            li
              a(href='index.html').dropdown-item
                i.fi-home.fs-base.me-2
                | Main Page
            li
              a(href='components/typography.html').dropdown-item
                i.fi-list.fs-base.me-2
                | Components
            li
              a(href='docs/dev-setup.html').dropdown-item
                i.fi-file.fs-base.me-2
                | Documentation
        
        // Menu items
        li()&attributes(parentMenu === 'Home' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
          a(href='car-finder-home.html').nav-link Home
        li()&attributes(parentMenu === 'Catalog' ? {'class': 'nav-item dropdown active'} : {'class': 'nav-item dropdown'})
          a(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav-link.dropdown-toggle Catalog
          ul.dropdown-menu.dropdown-menu-dark
            li: a(href='car-finder-catalog-list.html').dropdown-item List View
            li: a(href='car-finder-catalog-grid.html').dropdown-item Grid View
            li: a(href='car-finder-single.html').dropdown-item Car Single Page
        li()&attributes(parentMenu === 'Account' ? {'class': 'nav-item dropdown active'} : {'class': 'nav-item dropdown'})
          a(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav-link.dropdown-toggle Account
          ul.dropdown-menu.dropdown-menu-dark
            li: a(href='car-finder-account-info.html').dropdown-item Personal Info
            li: a(href='car-finder-account-security.html').dropdown-item Password &amp; Security
            li: a(href='car-finder-account-cars.html').dropdown-item My Cars
            li: a(href='car-finder-account-wishlist.html').dropdown-item Wishlist
            li: a(href='car-finder-account-reviews.html').dropdown-item Reviews
            li: a(href='car-finder-account-notifications.html').dropdown-item Notifications
            li: a(href='signin-dark.html').dropdown-item Sign In
            li: a(href='signup-dark.html').dropdown-item Sign Up
        li()&attributes(parentMenu === 'Vendor' ? {'class': 'nav-item dropdown active'} : {'class': 'nav-item dropdown'})
          a(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav-link.dropdown-toggle Vendor
          ul.dropdown-menu.dropdown-menu-dark
            li: a(href='car-finder-sell-car.html').dropdown-item Sell Car
            li: a(href='car-finder-promotion.html').dropdown-item Ad Promotion Page
            li: a(href='car-finder-vendor.html').dropdown-item Vendor Page
        li()&attributes(parentMenu === 'Pages' ? {'class': 'nav-item dropdown active'} : {'class': 'nav-item dropdown'})
          a(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav-link.dropdown-toggle Pages
          ul.dropdown-menu.dropdown-menu-dark
            li: a(href='car-finder-about.html').dropdown-item About
            li.dropdown
              a(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').dropdown-item.dropdown-toggle Blog
              ul.dropdown-menu.dropdown-menu-dark
                li: a(href='car-finder-blog.html').dropdown-item Blog Grid
                li: a(href='car-finder-blog-single.html').dropdown-item Single Post
            li: a(href='car-finder-contacts.html').dropdown-item Contacts
            li: a(href='car-finder-help-center.html').dropdown-item Help Center
            li: a(href='car-finder-404.html').dropdown-item 404 Not Found
        if parentMenu === 'Account' || parentMenu === 'Vendor'
          li.nav-item.dropdown.d-lg-none
            a(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').nav-link.dropdown-toggle.d-flex.align-items-center
              img(src='img/avatars/02.jpg' width='30' alt='Robert Fox').rounded-circle.me-2
              | Robert Fox
            .dropdown-menu.dropdown-menu-dark
              .ps-3
                +star-rating(5,'sm')
                .fs-xs.py-2
                  | (302) 555-0107
                  br
                  | robert_fox@email.com
              a(href='car-finder-account-info.html').dropdown-item
                i.fi-user.me-2
                | Personal Info
              a(href='car-finder-account-security.html').dropdown-item
                i.fi-lock.me-2
                | Password &amp; Security
              a(href='car-finder-account-cars.html').dropdown-item
                i.fi-car.me-2
                | My Cars
              a(href='car-finder-account-wishlist.html').dropdown-item
                i.fi-heart.me-2
                | Wishlist
                span.badge.bg-faded-light.ms-2 4
              a(href='car-finder-account-reviews.html').dropdown-item
                i.fi-star.me-2
                | Reviews
              a(href='car-finder-account-notifications.html').dropdown-item
                i.fi-bell.me-2
                | Notifications
              .dropdown-divider
              a(href='car-finder-help-center.html').dropdown-item Help
              a(href='signin-dark.html').dropdown-item Sign Out
        else
          li.nav-item.d-lg-none
            a(href='#signin-modal' data-bs-toggle='modal').nav-link
              i.fi-user.me-2
              | Sign in
