<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼를 쓸려면 이렇게 가야된다. -->

<mapper	namespace="com.kh.realfinal.financialStock.model.mapper.StockpriceMapper">
	
	<resultMap type="Stockprice" id="StockpriceList">
	<result property="basDt"       column="BASDT"/>
	<result property="srtnCd"      column="SRTNCD"/>
	<result property="isinCd"      column="ISINCD"/>
	<result property="itmsNm"      column="ITMSNM"/>
	<result property="mrktCtg"     column="MRKTCTG"/>
	<result property="clpr"        column="CLPR"/>
	<result property="vs"          column="VS"/>
	<result property="fltRt"       column="FLTRT"/>
	<result property="mkp"         column="MKP"/>
	<result property="hipr"        column="HIPR"/>
	<result property="lopr"        column="LOPR"/>
	<result property="trqu"        column="TRQU"/>
	<result property="trPrc"       column="TRPRC"/>
	<result property="lstgStCnt"   column="LSTGSTCNT"/>
	<result property="mrktTotAmt"  column="MRKTTOTAMT"/>
	
	</resultMap>

	<select id="selectKospiList" resultMap="StockpriceList">
		SELECT * FROM STOCKPRICE WHERE MRKTCTG ='KOSPI' AND basDt ='20221007' ORDER BY mrktTotAmt DESC
	</select>
	<select id="selectKosdaqList" resultMap="StockpriceList">
		SELECT * FROM STOCKPRICE WHERE MRKTCTG ='KOSDAQ' AND basDt ='20221007' ORDER BY mrktTotAmt DESC
	</select>
	
	<select id="selectKospistockCount" resultType="int">
		SELECT COUNT(*) FROM STOCKPRICE WHERE MRKTCTG ='KOSPI' AND basDt ='20221007' ORDER BY mrktTotAmt DESC
	</select>
	
	<select id="selectKospistockList" resultMap="StockpriceList">
		SELECT * FROM STOCKPRICE WHERE MRKTCTG ='KOSPI' AND basDt ='20221007' ORDER BY mrktTotAmt DESC
	</select>

	<resultMap type="IndexPrice" id="IndexPriceList">
	<result property="basDt" column="BASDT" />
	<result property="idxNm" column="IDXNM" />
	<result property="idxCsf" column="IDXCSF" />
	<result property="clpr" column="CLPR" />
	<result property="vs" column="VS" />
	<result property="fltRt" column="FLTRT" />
	<result property="mkp" column="MKP" />
	<result property="hipr" column="HIPR" />
	<result property="lopr" column="LOPR" />
	<result property="trqu" column="TRQU" />
	<result property="trPrc" column="TRPRC" />
	<result property="lstgMrktTotAmt" column="LSTGMRKTTOTAMT" />
	<result property="lsYrEdVsFltRg" column="LSYREDVSFLTRG" />
	<result property="lsYrEdVsFltRt" column="LSYREDVSFLTRT" />
	<result property="yrWRcrdHgst" column="YRWRCRDHGST" />
	<result property="yrWRcrdHgstDt" column="YRWRCRDHGSTDT" />
	<result property="yrWRcrdLwst" column="YRWRCRDLWST" />
	<result property="yrWRcrdLwstDt" column="YRWRCRDLWSTDT" />
	
	</resultMap>


	<select id="selectIndexKospiList" resultMap="IndexPriceList">
		SELECT * FROM INDEXPRICE WHERE IDXNM = '코스피'  ORDER BY BASDT DESC
	</select>

	<select id="selectIndexKosdaqList" resultMap="IndexPriceList">
		SELECT * FROM INDEXPRICE WHERE IDXNM = '코스닥'  ORDER BY BASDT DESC
	</select>
	
	<select id="selectKospiDateList" resultType="String">
		SELECT BASDT FROM INDEXPRICE WHERE IDXNM = '코스피'  ORDER BY BASDT ASC
	</select>
	<select id="selectKospiClprList" resultType="String">
		SELECT CLPR FROM INDEXPRICE WHERE IDXNM = '코스피'  ORDER BY BASDT ASC
	</select>






















	<insert id="insertStockprice"
		parameterType="Stockprice">
		INSERT INTO STOCKPRICE (BASDT, SRTNCD, ISINCD, ITMSNM, 
								MRKTCTG, CLPR, VS, FLTRT, MKP, 
								HIPR, LOPR, TRQU, TRPRC, LSTGSTCNT, MRKTTOTAMT) 
					    VALUES(#{basDt}, #{srtnCd}, #{isinCd}, #{itmsNm}
								,#{mrktCtg}, #{clpr}, #{vs}, #{fltRt}, #{mkp},
								#{hipr}, #{lopr}, #{trqu}, #{trPrc}, #{lstgStCnt}, #{mrktTotAmt})
	</insert>
	
	<insert id="insertIndexPrice" parameterType="IndexPrice">
  	INSERT INTO INDEXPRICE (BASDT, IDXNM, IDXCSF, CLPR, VS, FLTRT, MKP,
	HIPR, LOPR,TRQU,TRPRC,LSTGMRKTTOTAMT,LSYREDVSFLTRG,LSYREDVSFLTRT,YRWRCRDHGST,
	YRWRCRDHGSTDT,YRWRCRDLWST,YRWRCRDLWSTDT)VALUES(#{basDt},#{idxNm},#{idxCsf}, 
	#{clpr},#{vs},#{fltRt},#{mkp},#{hipr},#{lopr},#{trqu},#{trPrc},#{lstgMrktTotAmt},
	#{lsYrEdVsFltRg},#{lsYrEdVsFltRt},#{yrWRcrdHgst},#{yrWRcrdHgstDt},#{yrWRcrdLwst},#{yrWRcrdLwstDt}
	)
  	
  </insert>
  
  <insert id="insertFinancialterm"
		parameterType="Financialterm">
		INSERT INTO FINANCIALTERM(
		fnceDictNm, ksdFnceDictDescContent) VALUES
		(#{fnceDictNm},
		#{ksdFnceDictDescContent})
	</insert>
	
	<insert id="insertExchangeRate"
		parameterType="ExchangeRate">
		INSERT INTO EXCHANGERATE (
			DOLLAR, YUAN, THEDATE) 
		VALUES(#{dollar}, #{yuan}, #{theDate})		
		
	</insert>
</mapper>
