<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kh.realfinal.indexprice.model.mapper.IndexPriceMapper">
  <insert id="insertIndexPrice" parameterType="IndexPrice">
  	INSERT INTO INDEXPRICE (BASDT, IDXNM, IDXCSF, CLPR, VS, FLTRT, MKP,
	HIPR, LOPR,TRQU,TRPRC,LSTGMRKTTOTAMT,LSYREDVSFLTRG,LSYREDVSFLTRT,YRWRCRDHGST,
	YRWRCRDHGSTDT,YRWRCRDLWST,YRWRCRDLWSTDT)VALUES(#{basDt},#{idxNm},#{idxCsf}, 
	#{clpr},#{vs},#{fltRt},#{mkp},#{hipr},#{lopr},#{trqu},#{trPrc},#{lstgMrktTotAmt},
	#{lsYrEdVsFltRg},#{lsYrEdVsFltRt},#{yrWRcrdHgst},#{yrWRcrdHgstDt},#{yrWRcrdLwst},#{yrWRcrdLwstDt}
	)
  	
  </insert>
  
  
  </mapper>