extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['tiny-slider/dist/tiny-slider.css', 'nouislider/dist/nouislider.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'nouislider/dist/nouislider.min.js']
  - var parentMenu = 'Catalog'
  - var pageTitle = 'Car Finder | Catalog List'
  - var bodyClass = 'bg-dark fixed-bottom-btn'

//- Navbar
block navbar
  include partials/navbar-car-finder

//- Page Content
block content

  // Page container
  .container.mt-5.mb-md-4.py-5
    
    .row.py-md-1

      // Filers sidebar (Offcanvas on mobile)
      .col-lg-3.pe-xl-4
        include partials/sidebar-filters-car-finder

      
      // Catalog list view
      .col-lg-9

        // Breadcrumb
        nav(aria-label='Breadcrumb').mb-3.pt-md-2.pt-lg-4
          ol.breadcrumb.breadcrumb-light
            li.breadcrumb-item
              a(href='car-finder-home.html') Home
            li(aria-current='page').breadcrumb-item.active
              | Used cars
        
        // Page title
        .d-flex.align-items-center.justify-content-between.pb-4.mb-2
          h1.text-light.me-3.mb-0 Used cars
          .text-light
            i.fi-car.fs-lg.me-2
            span.align-middle 249 offers

        // Sorting + View
        .d-sm-flex.align-items-center.justify-content-between.pb-4.mb-2
          .d-flex.align-items-center.me-sm-4
            label(for='sorting1').fs-sm.text-light.me-2.pe-1.text-nowrap
              i.fi-arrows-sort.mt-n1.me-2
              | Sort by:
            select(id='sorting1').form-select.form-select-light.form-select-sm.me-sm-4
              option Newest
              option Popular
              option Price: Low - High
              option Price: Hight - Low
            .d-none.d-md-block.border-end.border-light(style='height: 1.25rem;')
            .d-none.d-sm-block.fw-bold.text-light.opacity-70.text-nowrap.ps-md-4
              i.fi-switch-horizontal.me-2
              span.align-middle Compare (0)
          .d-none.d-sm-flex
            a(href='car-finder-catalog-list.html' data-bs-toggle='tooltip' title='List view').nav-link.nav-link-light.px-2.active
              i.fi-list
            a(href='car-finder-catalog-grid.html' data-bs-toggle='tooltip' title='Grid view').nav-link.nav-link-light.px-2
              i.fi-grid
        
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info Used
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/09.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/09.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 1995
              .form-check.form-check-light
                input(type='checkbox' id='compare1').form-check-input
                label(for='compare1').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Ford Truck Lifted
            .text-primary.fw-bold.mb-1 $24,000
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | Chicago
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 278K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Manual
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Diesel
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info.mb-1 Used
              span(data-bs-toggle='popover' data-bs-placement='bottom' data-bs-trigger='hover' data-bs-html='true' data-bs-content='<div class="d-flex"><i class="fi-award mt-1 me-2"></i><div>This car is checked and<br>certified by Finder.</div></div>').d-table.badge.bg-success Certified
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/10.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/10.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2018
              .form-check.form-check-light
                input(type='checkbox' id='compare2').form-check-input
                label(for='compare2').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Mercedes Benz C300 Sport
            .text-primary.fw-bold.mb-1 $53,400
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | San Francisco
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 35K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Automatic
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Hybrid
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info Used
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/11.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/11.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2019
              .form-check.form-check-light
                input(type='checkbox' id='compare3').form-check-input
                label(for='compare3').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Mazda MX-5 Miata Convertible
            .text-primary.fw-bold.mb-1 $36,500
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | Los Angeles
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 18K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Manual
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Gasoline
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info Used
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/12.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/12.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2019
              .form-check.form-check-light
                input(type='checkbox' id='compare4').form-check-input
                label(for='compare4').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Nissan 370Z Nismo
            .text-primary.fw-bold.mb-1 $37,900
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | New York
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 16K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Automatic
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Gasoline
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info.mb-1 Used
              span(data-bs-toggle='popover' data-bs-placement='bottom' data-bs-trigger='hover' data-bs-html='true' data-bs-content='<div class="d-flex"><i class="fi-award mt-1 me-2"></i><div>This car is checked and<br>certified by Finder.</div></div>').d-table.badge.bg-success Certified
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/13.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/13.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2018
              .form-check.form-check-light
                input(type='checkbox' id='compare5').form-check-input
                label(for='compare5').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light BMW 640 XI Gran Turismo
            .text-primary.fw-bold.mb-1 $44,300
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | New Jersey
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 10K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Automatic
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Gasoline
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info Used
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/14.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/14.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2015
              .form-check.form-check-light
                input(type='checkbox' id='compare6').form-check-input
                label(for='compare6').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Toyota GT86
            .text-primary.fw-bold.mb-1 $16,000
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | Chicago
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 46K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Manual
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Gasoline
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info.mb-1 Used
              span(data-bs-toggle='popover' data-bs-placement='bottom' data-bs-trigger='hover' data-bs-html='true' data-bs-content='<div class="d-flex"><i class="fi-award mt-1 me-2"></i><div>This car is checked and<br>certified by Finder.</div></div>').d-table.badge.bg-success Certified
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/15.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/15.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2019
              .form-check.form-check-light
                input(type='checkbox' id='compare7').form-check-input
                label(for='compare7').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Volkswagen GTI S
            .text-primary.fw-bold.mb-1 $29,000
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | San Francisco
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 25K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Automatic
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Hybrid
        
        // Item
        .card.card-light.card-hover.card-horizontal.mb-4
          .tns-carousel-wrapper.card-img-top.card-img-hover
            a(href='car-finder-single.html').img-overlay
            .position-absolute.start-0.top-0.pt-3.ps-3
              span.d-table.badge.bg-info Used
            .content-overlay.end-0.top-0.pt-3.pe-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                i.fi-heart
            .tns-carousel-inner.position-absolute.top-0.h-100
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/16.jpg);')
              .bg-size-cover.bg-position-center.w-100.h-100(style='background-image: url(img/car-finder/catalog/16.jpg);')
          .card-body
            .d-flex.align-items-center.justify-content-between.pb-1
              span.fs-sm.text-light.me-3 2017
              .form-check.form-check-light
                input(type='checkbox' id='compare8').form-check-input
                label(for='compare8').form-check-label.fs-sm
                  | Compare
            h3.h6.mb-1
              a(href='car-finder-single.html').nav-link-light Ford Explorer XLT
            .text-primary.fw-bold.mb-1 $26,900
            .fs-sm.text-light.opacity-70
              i.fi-map-pin.me-1
              | Kansas
            .border-top.border-light.mt-3.pt-3
              .row.g-2
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-dashboard.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light 34K mi
                .col.me-sm-1
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-gearbox.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Manual
                .col
                  .bg-dark.rounded.text-center.w-100.h-100.p-2
                    i.fi-petrol.d-block.h4.text-light.mb-0.mx-center
                    span.fs-xs.text-light Diesel
            
        
        // Sorting + Pagination
        .d-flex.align-items-center.justify-content-between.py-2
          .d-flex.align-items-center.me-sm-4
            label(for='sorting2').fs-sm.text-light.me-2.pe-1.text-nowrap
              i.fi-arrows-sort.mt-n1.me-2
              | Sort by:
            select(id='sorting2').form-select.form-select-light.form-select-sm.me-2.me-sm-4
              option Newest
              option Popular
              option Price: Low - High
              option Price: Hight - Low
            .d-none.d-md-block.border-end.border-light(style='height: 1.25rem;')
            .d-none.d-md-block.fw-bold.text-light.opacity-70.text-nowrap.ps-md-4
              i.fi-switch-horizontal.me-2
              span.align-middle Compare (0)

          nav(aria-label='Pagination')
            ul.pagination.pagination-light.mb-0
              li.page-item.d-sm-none.text-nowrap
                span.page-link.page-link-static 1 / 5
              li.page-item.active.d-none.d-sm-block(aria-current='page')
                span.page-link
                  | 1
                  span.visually-hidden (current)
              li.page-item.d-none.d-sm-block
                a(href='#').page-link 2
              li.page-item.d-none.d-sm-block
                a(href='#').page-link 3
              li.page-item.d-none.d-sm-block
                | ...
              li.page-item.d-none.d-sm-block
                a(href='#').page-link 8
              li.page-item
                a(href='#' aria-label='Next').page-link
                  i.fi-chevron-right


//- Footer
block footer
  include partials/footer-car-finder

  // Filters sidebar toggle button (mobile)
  button(type='button' data-bs-toggle='offcanvas' data-bs-target='#filters-sidebar').btn.btn-primary.btn-sm.w-100.rounded-0.fixed-bottom.d-lg-none
    i.fi-filter.me-2
    | Filters
