extends partials/layout

//- Override default config variables
append config
  - var vendorScripts = ['@lottiefiles/lottie-player/dist/lottie-player.js']
  - var parentMenu = 'Pages'
  - var pageTitle = 'Car Finder | 404 Not Found'
  - var bodyClass = 'bg-dark'

//- Page Content
block content

  section.d-flex.align-items-center.position-relative.min-vh-100.py-5

    // Bg overlay
    span(style='width: 50vw; height: 50vw; background-color: rgba(83, 74, 117, 0.3); filter: blur(6.4vw);').position-absolute.top-50.start-50.translate-middle.zindex-1.rounded-circle.mt-sm-0.mt-n5

    // Overlay content
    .container.d-flex.justify-content-center.position-relative.zindex-5.text-center
      .col-lg-8.col-md-10.col-12.px-0
        h1.display-1.mb-lg-5.mb-4.text-light
          | Oops!
        div(style='max-width: 556px;').ratio.ratio-16x9.mx-auto.mb-lg-5.mb-4.py-4
          lottie-player(src='json/animation-car-finder-404.json' background='transparent' speed='1' loop autoplay).py-4
        p.h2.mb-lg-5.mb-4.pb-2.text-light
          | The requested page doesn’t exist
        a(href='car-finder-home.html').btn.btn-lg.btn-primary.w-sm-auto.w-100.mb-3.me-sm-4
          | Go to homepage
        a(href='car-finder-contacts.html').btn.btn-lg.btn-outline-light.w-sm-auto.w-100.mb-3
          | Contact us
