extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['lightgallery/css/lightgallery-bundle.min.css', 'tiny-slider/dist/tiny-slider.css', 'nouislider/dist/nouislider.min.css', 'flatpickr/dist/flatpickr.min.css', 'tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['lightgallery/lightgallery.min.js', 'flatpickr/dist/flatpickr.min.js', 'tiny-slider/dist/min/tiny-slider.js', 'tiny-slider/dist/min/tiny-slider.js']
  - var parentMenu = 'Catalog'
  - var pageTitle = 'City Guide | Single Place - Info'

//- Navbar
block navbar
  include partials/navbar-city-guide

//- Page Content
block content

  // Page header
  section.container.pt-5.mt-5

    // Breadcrumb
    nav(aria-label='breadcrumb').mb-3.pt-md-3
      ol.breadcrumb
        li.breadcrumb-item
          a(href='city-guide-home-v1.html') Home
        li.breadcrumb-item
          a(href='city-guide-catalog.html') Find accommodation
        li(aria-current='page').breadcrumb-item.active
          | Berlin Business Hotel

    .d-sm-flex.align-items-center.justify-content-between.mb-4.pb-sm-2
      h1.h2.me-3.mb-sm-0 Berlin Business Hotel
      .text-nowrap
        button(type='button' data-bs-toggle='tooltip' title='Add to Wishlist').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle
          i.fi-heart
        .dropdown.d-inline-block(data-bs-toggle='tooltip' title='Share')
          button(type='button' data-bs-toggle='dropdown').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.ms-2
            i.fi-share
          .dropdown-menu.dropdown-menu-end.my-1
            button(type='button').dropdown-item
              i.fi-facebook.fs-base.opacity-75.me-2
              | Facebook
            button(type='button').dropdown-item
              i.fi-twitter.fs-base.opacity-75.me-2
              | Twitter
            button(type='button').dropdown-item
              i.fi-instagram.fs-base.opacity-75.me-2
              | Instagram

    // Nav pills
    ul.nav.nav-pills.border-bottom.pb-3.mb-4
      li.nav-item
        a(href='city-guide-single.html').nav-link.d-flex.align-items-center
          i.fi-image.me-2
          | Gallery
      li.nav-item
        a(href='city-guide-single-info.html').nav-link.d-flex.align-items-center.active
          i.fi-info-circle.me-2
          | Info
      li.nav-item
        a(href='city-guide-single-reviews.html').nav-link.d-flex.align-items-center
          i.fi-edit.me-2
          | Reviews


  // Page content 
  section.container.pb-5.mb-md-4
    .row

      // Left column
      .col-md-7.mb-md-0.mb-4.pb-md-0.pb-2

        h2.h4 About
        ul.list-unstyled
          li
            i.fi-star-filled.mt-n1.me-1.text-warning.align-middle
            b 4.9 
            span.text-muted (48 reviews)
          li
            i.fi-wallet.mt-n1.me-1.align-middle.opacity-70
            | $$
          li
            i.fi-map-pin.mt-n1.me-1.align-middle.opacity-70
            | 1.4 km from center

        .mb-4.pb-md-3
          p.mb-1 Lorem tincidunt lectus vitae id vulputate diam quam. Imperdiet non scelerisque turpis sed etiam ultrices. Blandit mollis dignissim egestas consectetur porttitor. Vulputate dolor pretium, dignissim eu augue sit ut convallis. Lectus est, magna urna feugiat sed ultricies sed in lacinia. Fusce potenti sit id pharetra vel ornare. Vestibulum sed tellus ullamcorper arcu.
          #seeMoreAbout.collapse
            p.mb-1 Asperiores eos molestias, aspernatur assumenda vel corporis ex, magni excepturi totam exercitationem quia inventore quod amet labore impedit quae distinctio? Officiis blanditiis consequatur alias, atque, sed est incidunt accusamus repudiandae tempora repellendus obcaecati delectus ducimus inventore tempore harum numquam autem eligendi culpa.
          a(href='#seeMoreAbout' data-bs-toggle='collapse' data-bs-label-collapsed='Show more' data-bs-label-expanded='Show less' role='button' aria-expanded='false' aria-controls='seeMoreAbout').collapse-label.collapsed

        // Amenities
        .mb-4.pb-md-3
          h2.h4 Amenities
          ul.list-unstyled.row.row-cols-lg-3.row-cols-md-2.row-cols-1.gy-1.mb-1.text-nowrap
            li.col
              i.fi-wifi.mt-n1.me-2.fs-lg.align-middle
              | Free WiFi
            li.col
              i.fi-swimming-pool.mt-n1.me-2.fs-lg.align-middle
              | 2 swimming pools
            li.col
              i.fi-pet.mt-n1.me-2.fs-lg.align-middle
              | Pets-friendly
            li.col
              i.fi-parking.mt-n1.me-2.fs-lg.align-middle
              | Free parking
            li.col
              i.fi-spa.mt-n1.me-2.fs-lg.align-middle
              | Spa lounge
            li.col
              i.fi-cafe.mt-n1.me-2.fs-lg.align-middle
              | Restaurant
            li.col
              i.fi-hotel-bell.mt-n1.me-2.fs-lg.align-middle
              | Room service
            li.col
              i.fi-cocktail.mt-n1.me-2.fs-lg.align-middle
              | Bar
            li.col
              i.fi-dumbell.mt-n1.me-2.fs-lg.align-middle
              | Fitness Center
          #seeMoreAmenities.collapse
            ul.list-unstyled.row.row-cols-lg-3.row-cols-md-2.row-cols-1.gy-1.mb-1.text-nowrap
              li.col
                i.fi-dish.mt-n1.me-2.fs-lg.align-middle
                | Dishwasher
              li.col
                i.fi-thermometer.mt-n1.me-2.fs-lg.align-middle
                | Heating
          a(href='#seeMoreAmenities' data-bs-toggle='collapse' data-bs-label-collapsed='Show more' data-bs-label-expanded='Show less' role='button' aria-expanded='false' aria-controls='seeMoreAmenities').collapse-label.collapsed

        // Room types
        .mb-4.pb-md-3
          h2.h4 Room types
          ul.list-unstyled.row.row-cols-lg-3.row-cols-md-2.row-cols-1.gy-1.mb-1.text-nowrap
            li.col
              i.fi-no-smoke.mt-n1.me-2.fs-lg.align-middle
              | Non-smoking rooms
            li.col
              i.fi-single-bed.mt-n1.me-2.fs-lg.align-middle
              | Single rooms
            li.col
              i.fi-double-bed.mt-n1.me-2.fs-lg.align-middle
              | Family suites

        // Awards
        h2.h4 Awards
        ul.list-unstyled
          li.d-flex.align-items-center.mb-2
            img(src='img/city-guide/single/awards/01.jpg' width='40' alt='Award logo').flex-shrink-0.me-2
            div 2020 Traveler’s Choice
          li.d-flex.align-items-center.mb-2
            img(src='img/city-guide/single/awards/02.jpg' width='40' alt='Award logo').flex-shrink-0.me-2
            div TUI Top Quality 2020
          li.d-flex.align-items-center.mb-2
            img(src='img/city-guide/single/awards/03.jpg' width='40' alt='Award logo').flex-shrink-0.me-2
            div TUI Holly 2019

        hr.my-4

        // Payment
        .d-lg-flex.align-items-center.pb-2.pb-lg-0
          h4.fs-lg.mb-lg-0 Cards accepted at this hotel:
          .ps-lg-3
            img(src='img/city-guide/single/payment/visa.svg' width='54' alt='Visa').me-2.border.rounded-1.shadow-sm
            img(src='img/city-guide/single/payment/mastercard.svg' width='54' alt='Mastercard').me-2.border.rounded-1.shadow-sm
            img(src='img/city-guide/single/payment/maestro.svg' width='54' alt='Maestro').me-2.border.rounded-1.shadow-sm
            img(src='img/city-guide/single/payment/american-express.svg' width='54' alt='American Express').border.rounded-1.shadow-sm

      
      // Sidebar
      aside.col-md-5

        // Place card
        .card.mb-4.p-2.shadow-sm
          .card-body

            // Place info
            .d-flex.align-items-start.mb-3.pb-2.border-bottom
              img(src='img/city-guide/brands/hotel.svg' width='60' alt='Thumbnail')
              .ps-2.ms-1
                h3.h5.mb-2  Berlin Business Hotel
                ul.list-unstyled.d-flex.flex-wrap.fs-sm
                  li.me-2.mb-1.pe-1
                    i.fi-star-filled.mt-n1.me-1.text-warning.align-middle.opacity-70
                    b 4.9 
                    | (48)
                  li.me-2.mb-1.pe-1
                    i.fi-wallet.mt-n1.me-1.align-middle.opacity-70
                    | $$
                  li.me-2.mb-1.pe-1
                    i.fi-map-pin.mt-n1.me-1.align-middle.opacity-70
                    | 1.4 km from center

            // Place contacts
            .mb-3.pb-3.border-bottom
              h4.h5.mb-2 Contacts:
              ul.nav.flex-column
                li.nav-item.mb-2
                  a(href='#').nav-link.p-0.fw-normal.d-flex.align-items-start
                    i.fi-map-pin.mt-1.me-2.align-middle.opacity-70
                    | Ollenhauer Str. 29, 10118, Berlin
                li.nav-item.mb-2
                  a(href='tel:3025550107').nav-link.d-inline-block.p-0.fw-normal.d-inline-flex.align-items-start
                    i.fi-phone.mt-1.me-2.align-middle.opacity-70
                    | (302) 555-0107
                  | , 
                  a(href='tel:3025550208').nav-link.d-inline-block.p-0.fw-normal
                    | (302) 555-0208
                li.nav-item.mb-2
                  a(href='#').nav-link.p-0.fw-normal.d-flex.align-items-start
                    i.fi-globe.mt-1.me-2.align-middle.opacity-60
                    | bb-hotel.com
                li.nav-item
                  a(href='mailto:bb-hotel@example.com').nav-link.p-0.fw-normal.d-flex.align-items-start
                    i.fi-mail.mt-1.me-2.align-middle.opacity-70
                    | bb-hotel@example.com

            // Place pricing
            .mb-3.pb-4.border-bottom
              .row.row-cols-1
                .col.mb-3
                  h4.h5.mb-0
                    span.fs-4 $50-100&nbsp;
                    span.fs-base.fw-normal.text-body /night
                .col
                  a(href='#').btn.btn-primary.btn-lg.rounded-pill.w-sm-auto.w-100
                    | Book now
                    i.fi-chevron-right.fs-sm.ms-2

            // Place following
            .d-flex.align-items-center
              h4.h5.mb-0.me-3 Follow:
              .text-nowrap
                a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2
                  i.fi-facebook
                a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2
                  i.fi-instagram
                a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle
                  i.fi-twitter

        // Location (Map)
        .position-relative
          img(src='img/city-guide/single/map-sm.jpg' alt='Map').rounded-3
          .d-flex.w-100.h-100.flex-column.align-items-center.justify-content-center.position-absolute.top-0.start-0
            img(src='img/city-guide/brands/hotel.svg' width='40' alt='Place logo').d-block.mx-auto.mb-4.rounded-circle.bg-white.shadow
            a(href='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2423.924340088787!2d13.428504251724927!3d52.58906113876177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85284201593ab%3A0x28af69e02ce0e2fc!2sBusinesshotel%20Berlin!5e0!3m2!1sru!2sua!4v1618908622013!5m2!1sru!2sua' data-iframe='true' data-bs-toggle='lightbox').btn.btn-primary.rounded-pill.stretched-link
              i.fi-route.me-2
              | Get directions


  // Recently viewed
  section.container.pb-5.mb-lg-4
    .d-flex.align-items-center.justify-content-between.mb-4.pb-2
      h2.h3.mb-0 Recently viewed
      a(href='city-guide-catalog.html').btn.btn-link.fw-normal.ms-sm-3.p-0
        | View all
        i.fi-arrow-long-right.ms-2
    .tns-carousel-wrapper.tns-controls-outside-xxl.tns-nav-outside.mb-xxl-2
      .tns-carousel-inner(data-carousel-options='{"items": 3, "gutter": 24, "responsive": {"0":{"items":1,"nav":true},"500":{"items":2},"850":{"items":3},"1400":{"items":3,"nav":false}}}')

        // Item
        div
          .position-relative
            .position-relative.mb-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light-primary.btn-xs.text-primary.rounded-circle.position-absolute.top-0.end-0.m-3.zindex-5
                i.fi-heart
              img(src='img/city-guide/catalog/09.jpg' alt='Article img').rounded-3
            h3.mb-2.fs-lg
              a(href='#').nav-link.stretched-link Repose Hotel
            ul.list-inline.mb-0.fs-xs
              li.list-inline-item.pe-1
                i.fi-star-filled.mt-n1.me-1.fs-base.text-warning.align-middle
                b 5.0
                span.text-muted &nbsp;(48)
              li.list-inline-item.pe-1
                i.fi-credit-card.mt-n1.me-1.fs-base.text-muted.align-middle
                | $$
              li.list-inline-item.pe-1
                i.fi-map-pin.mt-n1.me-1.fs-base.text-muted.align-middle
                | 1.4 km from center

        // Item
        div
          .position-relative
            .position-relative.mb-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light-primary.btn-xs.text-primary.rounded-circle.position-absolute.top-0.end-0.m-3.zindex-5
                i.fi-heart
              img(src='img/city-guide/catalog/05.jpg' alt='Article img').rounded-3
            h3.mb-2.fs-lg
              a(href='#').nav-link.stretched-link Leisure Inn
            ul.list-inline.mb-0.fs-xs
              li.list-inline-item.pe-1
                i.fi-star-filled.mt-n1.me-1.fs-base.text-warning.align-middle
                b 4.8
                span.text-muted &nbsp;(24)
              li.list-inline-item.pe-1
                i.fi-credit-card.mt-n1.me-1.fs-base.text-muted.align-middle
                | $$$
              li.list-inline-item.pe-1
                i.fi-map-pin.mt-n1.me-1.fs-base.text-muted.align-middle
                | 0.5 km from center

        // Item
        div
          .position-relative
            .position-relative.mb-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light-primary.btn-xs.text-primary.rounded-circle.position-absolute.top-0.end-0.m-3.zindex-5
                i.fi-heart
              img(src='img/city-guide/catalog/11.jpg' alt='Article img').rounded-3
            h3.mb-2.fs-lg
              a(href='#').nav-link.stretched-link Soothe &amp; Stay
            ul.list-inline.mb-0.fs-xs
              li.list-inline-item.pe-1
                i.fi-star-filled.mt-n1.me-1.fs-base.text-warning.align-middle
                b 4.9
                span.text-muted &nbsp;(43)
              li.list-inline-item.pe-1
                i.fi-credit-card.mt-n1.me-1.fs-base.text-muted.align-middle
                | $$$
              li.list-inline-item.pe-1
                i.fi-map-pin.mt-n1.me-1.fs-base.text-muted.align-middle
                | 1.8 km from center

        // Item
        div
          .position-relative
            .position-relative.mb-3
              button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light-primary.btn-xs.text-primary.rounded-circle.position-absolute.top-0.end-0.m-3.zindex-5
                i.fi-heart
              img(src='img/city-guide/catalog/04.jpg' alt='Article img').rounded-3
            h3.mb-2.fs-lg
              a(href='#').nav-link.stretched-link Merry Berry Motel
            ul.list-inline.mb-0.fs-xs
              li.list-inline-item.pe-1
                i.fi-star-filled.mt-n1.me-1.fs-base.text-warning.align-middle
                b 4.5
                span.text-muted &nbsp;(13)
              li.list-inline-item.pe-1
                i.fi-credit-card.mt-n1.me-1.fs-base.text-muted.align-middle
                | $$
              li.list-inline-item.pe-1
                i.fi-map-pin.mt-n1.me-1.fs-base.text-muted.align-middle
                | 0.4 km from center


//- Footer
block footer
  include partials/footer-city-guide
