extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['nouislider/dist/nouislider.min.css', 'tiny-slider/dist/tiny-slider.css']
  - var vendorScripts = ['nouislider/dist/nouislider.min.js', 'tiny-slider/dist/min/tiny-slider.js']
  - var parentMenu = 'Home'
  - var pageTitle = 'Real Estate | Home v.1'

//- Navbar
block navbar
  include partials/navbar-real-estate

//- Page Content
block content

  // Property cost calculator modal
  #cost-calculator.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header.d-block.position-relative.border-0.px-sm-5.px-4
          h3.h4.modal-title.mt-4.text-center Explore your property’s value
          button(type='button' data-bs-dismiss='modal' aria-label='Close').btn-close.position-absolute.top-0.end-0.mt-3.me-3
        .modal-body.px-sm-5.px-4
          form(novalidate).needs-validation
            .mb-3
              label(for='property-city').form-label.fw-bold.mb-2 Property location
              select(id='property-city' required).form-control.form-select
                option(value='' selected disabled hidden) Choose city
                option(value='Chicago') Chicago
                option(value='Dallas') Dallas
                option(value='Los Angeles') Los Angeles
                option(value='New York') New York
                option(value='San Diego') San Diego
              .invalid-feedback Please choose the city.
            .mb-3
              select(id='property-district' required).form-control.form-select
                option(value='' selected disabled hidden) Choose district
                option(value='Brooklyn') Brooklyn
                option(value='Manhattan') Manhattan
                option(value='Staten Island') Staten Island
                option(value='The Bronx') The Bronx
                option(value='Queens') Queens
              .invalid-feedback Please choose the district.
            .pt-2.mb-3
              label(for='property-address').form-label.fw-bold.mb-2 Address
              input(type='text' id='property-address' placeholder='Enter your address' required).form-control
              .invalid-feedback Please enter your property's address.
            .pt-2.mb-3
              label.form-label.fw-bold.mb-2 Number of rooms
              .btn-group(role='group' aria-label='Choose number of rooms')
                input(type='radio' id='rooms-1' name='rooms').btn-check
                label(for='rooms-1').btn.btn-outline-secondary 1
                input(type='radio' id='rooms-2' name='rooms').btn-check
                label(for='rooms-2').btn.btn-outline-secondary 2
                input(type='radio' id='rooms-3' name='rooms').btn-check
                label(for='rooms-3').btn.btn-outline-secondary 3
                input(type='radio' id='rooms-4' name='rooms').btn-check
                label(for='rooms-4').btn.btn-outline-secondary 4
                input(type='radio' id='rooms-5' name='rooms').btn-check
                label(for='rooms-5').btn.btn-outline-secondary 5+
            .pt-2.mb-4
              label(for='property-area').form-label.fw-bold.mb-2 Total area, sq.m.
              input(type='text' id='property-area' placeholder='Enter your area' required).form-control
              .invalid-feedback Please enter your property's area.
            button(type='submit').btn.btn-primary.d-block.w-100.mb-4
              i.fi-calculator.me-2
              | Calculate


  // Hero
  section.container.pt-5.my-5.pb-lg-4
    .row.pt-0.pt-md-2.pt-lg-0
      .col-xl-7.col-lg-6.col-md-5.order-md-2.mb-4.mb-lg-3
        img(src='img/real-estate/hero-image.jpg' alt='Hero image')
      .col-xl-5.col-lg-6.col-md-7.order-md-1.pt-xl-5.pe-lg-0.mb-3.text-md-start.text-center
        h1.display-4.mt-lg-5.mb-md-4.mb-3.pt-md-4.pb-lg-2 Easy way to find <br> a perfect property
        p.position-relative.lead.me-lg-n5 We provide a complete service for the sale, purchase or rental of real estate. We have been operating more than 10 years. Search millions of apartments and houses on Finder.
      
      // Search property form group
      .col-xl-8.col-lg-10.order-3.mt-lg-n5
        form.form-group.d-block
          .row.g-0.ms-sm-n2
            .col-md-8.d-sm-flex.align-items-center
              .dropdown.w-sm-50.border-end-sm(data-bs-toggle='select')
                button(type='button' data-bs-toggle='dropdown').btn.btn-link.dropdown-toggle.ps-2.ps-sm-3
                  i.fi-home.me-2
                  span.dropdown-toggle-label For rent
                input(type='hidden')
                ul.dropdown-menu
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label For rent
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label For sale
              hr.d-sm-none.my-2
              .dropdown.w-sm-50.border-end-sm(data-bs-toggle='select')
                button(type='button' data-bs-toggle='dropdown').btn.btn-link.dropdown-toggle.ps-2.ps-sm-3
                  i.fi-map-pin.me-2
                  span.dropdown-toggle-label Location
                input(type='hidden')
                ul.dropdown-menu
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label New York
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label Chicago
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label Los Angeles
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label San Diego
              hr.d-sm-none.my-2
              .dropdown.w-sm-50.border-end-md(data-bs-toggle='select')
                button(type='button' data-bs-toggle='dropdown').btn.btn-link.dropdown-toggle.ps-2.ps-sm-3
                  i.fi-list.me-2
                  span.dropdown-toggle-label Property type
                input(type='hidden')
                ul.dropdown-menu
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label Houses
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label Apartments
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label Commercial
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label Daily rental
                  li
                    a(href='#').dropdown-item
                      span.dropdown-item-label New buildings
            hr.d-md-none.mt-2
            .col-md-4.d-sm-flex.align-items-center.pt-4.pt-md-0
              .d-flex.align-items-center.w-100.pt-2.pb-4.py-sm-0.ps-2.ps-sm-3
                i.fi-cash.fs-lg.text-muted.me-2
                span.text-muted Price
                .range-slider.pe-0.pe-sm-3(data-start-min='450' data-min='0' data-max='1000' data-step='1')
                  .range-slider-ui
                  input(type='hidden').form-control.range-slider-value-min
              button(type='button').btn.btn-icon.btn-primary.px-3.w-100.w-sm-auto.flex-shrink-0
                i.fi-search
                span.d-sm-none.d-inline-block.ms-2 Search


  // Property categories
  section.container.mb-5
    .row.row-cols-lg-6.row-cols-sm-3.row-cols-2.g-3.g-xl-4
      .col
        a(href='real-estate-catalog-rent.html').icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center
          .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
            i.fi-real-estate-house
          h3.icon-box-title.fs-base.mb-0 Houses
      .col
        a(href='real-estate-catalog-sale.html').icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center
          .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
            i.fi-apartment
          h3.icon-box-title.fs-base.mb-0 Apartments
      .col
        a(href='real-estate-catalog-rent.html').icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center
          .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
            i.fi-shop
          h3.icon-box-title.fs-base.mb-0 Commercial
      .col
        a(href='real-estate-catalog-sale.html').icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center
          .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
            i.fi-rent
          h3.icon-box-title.fs-base.mb-0 Daily rental
      .col
        a(href='real-estate-catalog-rent.html').icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center
          .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
            i.fi-house-chosen
          h3.icon-box-title.fs-base.mb-0 New buildings
      .col
        .dropdown.h-100
          a(href='#' data-bs-toggle='dropdown').icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.text-center
            .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
              i.fi-dots-horisontal
            h3.icon-box-title.fs-base.mb-0 More
          .dropdown-menu.dropdown-menu-end.my-1
            a(href='real-estate-catalog-sale.html').dropdown-item.fw-bold
              i.fi-single-bed.fs-base.opacity-60.me-2
              | Room
            a(href='real-estate-catalog-rent.html').dropdown-item.fw-bold
              i.fi-computer.fs-base.opacity-60.me-2
              | Office
            a(href='real-estate-catalog-sale.html').dropdown-item.fw-bold
              i.fi-real-estate-buy.fs-base.opacity-60.me-2
              | Land
            a(href='real-estate-catalog-rent.html').dropdown-item.fw-bold
              i.fi-parking.fs-base.opacity-60.me-2
              | Parking lot


  // Services
  section.container.mb-5.mt-n3.mt-lg-0
    .tns-carousel-wrapper.tns-nav-outside.tns-nav-outside-flush.mx-n2
      .tns-carousel-inner.row.gx-4.mx-0.py-3(data-carousel-options='{"items": 3, "controls": false, "responsive": {"0":{"items":1},"500":{"items":2},"768":{"items":3}}}')
        .col
          .card.card-hover.border-0.h-100.pb-2.pb-sm-3.px-sm-3.text-center
            img(src='img/real-estate/illustrations/buy.svg' width='256' alt='Illustration').d-block.mx-auto.my-3
            .card-body
              h2.h4.card-title Buy a property
              p.card-text.fs-sm Blandit lorem dictum in velit. Et nisi at faucibus mauris pretium enim. Risus sapien nisi aliquam egestas leo dignissim.
            .card-footer.pt-0.border-0
              a(href='real-estate-catalog-sale.html').btn.btn-outline-primary.stretched-link Find a home
        .col
          .card.card-hover.border-0.h-100.pb-2.pb-sm-3.px-sm-3.text-center
            img(src='img/real-estate/illustrations/sell.svg' width='256' alt='Illustration').d-block.mx-auto.my-3
            .card-body
              h2.h4.card-title Sell a property
              p.card-text.fs-sm Amet, cras orci justo, tortor nisl aliquet. Enim tincidunt tellus nunc, nulla arcu posuere quis. Velit turpis orci venenatis.
            .card-footer.pt-0.border-0
              a(href='#').btn.btn-outline-primary.stretched-link Place an ad
        .col
          .card.card-hover.border-0.h-100.pb-2.pb-sm-3.px-sm-3.text-center
            img(src='img/real-estate/illustrations/rent.svg' width='256' alt='Illustration').d-block.mx-auto.my-3
            .card-body
              h2.h4.card-title Rent a property
              p.card-text.fs-sm Sed sed aliquet sed id purus malesuada congue viverra. Habitant quis lacus, volutpat natoque ipsum iaculis cursus.
            .card-footer.pt-0.border-0
              a(href='real-estate-catalog-rent.html').btn.btn-outline-primary.stretched-link Find a rental

  hr.mt-n1.mb-5.d-md-none

  // Top offers (carousel)
  section.container.mb-5.pb-md-4
    .d-flex.align-items-center.justify-content-between.mb-3
      h2.h3.mb-0 Top offers
      a(href='real-estate-catalog-rent.html').btn.btn-link.fw-normal.p-0
        | View all
        i.fi-arrow-long-right.ms-2
    .tns-carousel-wrapper.tns-controls-outside-xxl.tns-nav-outside.tns-nav-outside-flush.mx-n2
      .tns-carousel-inner.row.gx-4.mx-0.pt-3.pb-4(data-carousel-options='{"items": 4, "responsive": {"0":{"items":1},"500":{"items":2},"768":{"items":3},"992":{"items":4}}}')

        // Item
        .col
          .card.shadow-sm.card-hover.border-0.h-100
            .card-img-top.card-img-hover
              a(href='real-estate-single-v1.html').img-overlay
              .position-absolute.start-0.top-0.pt-3.ps-3
                span.d-table.badge.bg-success.mb-1 Verified
                span.d-table.badge.bg-info New
              .content-overlay.end-0.top-0.pt-3.pe-3
                button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                  i.fi-heart
              img(src='img/real-estate/catalog/01.jpg' alt='Image')
            .card-body.position-relative.pb-3
              h4.mb-1.fs-xs.fw-normal.text-uppercase.text-primary For rent
              h3.h6.mb-2.fs-base
                a(href='real-estate-single-v1.html').nav-link.stretched-link 3-bed Apartment | 67 sq.m
              p.mb-2.fs-sm.text-muted 3811 Ditmars Blvd Astoria, NY 11105
              .fw-bold
                i.fi-cash.mt-n1.me-2.lead.align-middle.opacity-70
                | $1,629
            .card-footer.d-flex.align-items-center.justify-content-center.mx-3.pt-3.text-nowrap
              span.d-inline-block.mx-1.px-2.fs-sm 3
                i.fi-bed.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 2
                i.fi-bath.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 2
                i.fi-car.ms-1.mt-n1.fs-lg.text-muted

        // Item
        .col
          .card.shadow-sm.card-hover.border-0.h-100
            .card-img-top.card-img-hover
              a(href='real-estate-single-v1.html').img-overlay
              .position-absolute.start-0.top-0.pt-3.ps-3
                span.d-table.badge.bg-success.mb-1 Verified
                span.d-table.badge.bg-danger Featured
              .content-overlay.end-0.top-0.pt-3.pe-3
                button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                  i.fi-heart
              img(src='img/real-estate/catalog/02.jpg' alt='Image')
            .card-body.position-relative.pb-3
              h4.mb-1.fs-xs.fw-normal.text-uppercase.text-primary For sale
              h3.h6.mb-2.fs-base
                a(href='real-estate-single-v1.html').nav-link.stretched-link Family Home| 120 sq.m
              p.mb-2.fs-sm.text-muted 67-04 Myrtle Ave Glendale, NY 11385
              .fw-bold
                i.fi-cash.mt-n1.me-2.lead.align-middle.opacity-70
                | $84,000
            .card-footer.d-flex.align-items-center.justify-content-center.mx-3.pt-3.text-nowrap
              span.d-inline-block.mx-1.px-2.fs-sm 4
                i.fi-bed.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 2
                i.fi-bath.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 2
                i.fi-car.ms-1.mt-n1.fs-lg.text-muted

        // Item
        .col
          .card.shadow-sm.card-hover.border-0.h-100
            .card-img-top.card-img-hover
              a(href='real-estate-single-v1.html').img-overlay
              .position-absolute.start-0.top-0.pt-3.ps-3
                span.d-table.badge.bg-success Verified
              .content-overlay.end-0.top-0.pt-3.pe-3
                button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                  i.fi-heart
              img(src='img/real-estate/catalog/03.jpg' alt='Image')
            .card-body.position-relative.pb-3
              h4.mb-1.fs-xs.fw-normal.text-uppercase.text-primary For rent
              h3.h6.mb-2.fs-base
                a(href='real-estate-single-v1.html').nav-link.stretched-link Greenpoint Rentals | 85 sq.m
              p.mb-2.fs-sm.text-muted 1510 Castle Hill Ave Bronx, NY 10462
              .fw-bold
                i.fi-cash.mt-n1.me-2.lead.align-middle.opacity-70
                | $1,330
            .card-footer.d-flex.align-items-center.justify-content-center.mx-3.pt-3.text-nowrap
              span.d-inline-block.mx-1.px-2.fs-sm 1
                i.fi-bed.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 1
                i.fi-bath.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 1
                i.fi-car.ms-1.mt-n1.fs-lg.text-muted

        // Item
        .col
          .card.shadow-sm.card-hover.border-0.h-100
            .card-img-top.card-img-hover
              a(href='real-estate-single-v1.html').img-overlay
              .position-absolute.start-0.top-0.pt-3.ps-3
                span.d-table.badge.bg-success.mb-1 Verified
                span.d-table.badge.bg-info New
              .content-overlay.end-0.top-0.pt-3.pe-3
                button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                  i.fi-heart
              img(src='img/real-estate/catalog/04.jpg' alt='Image')
            .card-body.position-relative.pb-3
              h4.mb-1.fs-xs.fw-normal.text-uppercase.text-primary For sale
              h3.h6.mb-2.fs-base
                a(href='real-estate-single-v1.html').nav-link.stretched-link Studio | 32 sq.m
              p.mb-2.fs-sm.text-muted 140-60 Beech Ave Flushing, NY 11355
              .fw-bold
                i.fi-cash.mt-n1.me-2.lead.align-middle.opacity-70
                | $65,000
            .card-footer.d-flex.align-items-center.justify-content-center.mx-3.pt-3.text-nowrap
              span.d-inline-block.mx-1.px-2.fs-sm 1
                i.fi-bed.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 1
                i.fi-bath.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 2
                i.fi-car.ms-1.mt-n1.fs-lg.text-muted

        // Item
        .col
          .card.shadow-sm.card-hover.border-0.h-100
            .card-img-top.card-img-hover
              a(href='real-estate-single-v1.html').img-overlay
              .position-absolute.start-0.top-0.pt-3.ps-3
                span.d-table.badge.bg-success.mb-1 Verified
              .content-overlay.end-0.top-0.pt-3.pe-3
                button(type='button' data-bs-toggle='tooltip' data-bs-placement='left' title='Add to Wishlist').btn.btn-icon.btn-light.btn-xs.text-primary.rounded-circle
                  i.fi-heart
              img(src='img/real-estate/catalog/05.jpg' alt='Image')
            .card-body.position-relative.pb-3
              h4.mb-1.fs-xs.fw-normal.text-uppercase.text-primary For sale
              h3.h6.mb-2.fs-base
                a(href='real-estate-single-v1.html').nav-link.stretched-link Cottage | 120 sq.m
              p.mb-2.fs-sm.text-muted 42 Broadway New York, NY 10004
              .fw-bold
                i.fi-cash.mt-n1.me-2.lead.align-middle.opacity-70
                | $184,000
            .card-footer.d-flex.align-items-center.justify-content-center.mx-3.pt-3.text-nowrap
              span.d-inline-block.mx-1.px-2.fs-sm 4
                i.fi-bed.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 2
                i.fi-bath.ms-1.mt-n1.fs-lg.text-muted
              span.d-inline-block.mx-1.px-2.fs-sm 1
                i.fi-car.ms-1.mt-n1.fs-lg.text-muted
  

  // Recently added
  section.container.pb-4.pt-1.mb-5
    .d-flex.align-items-end.align-items-lg-center.justify-content-between.mb-4.pb-md-2
      .d-flex.w-100.align-items-center.justify-content-between.justify-content-lg-start
        h2.h3.mb-0.me-md-4 Added today
        .dropdown.d-md-none(data-bs-toggle='select')
          button(type='button' data-bs-toggle='dropdown').btn.btn-outline-secondary.btn-sm.dropdown-toggle
            span.dropdown-toggle-label Houses
          input(type='hidden')
          .dropdown-menu
            a(href='#').dropdown-item
              span.dropdown-item-label Apartments
            a(href='#').dropdown-item
              span.dropdown-item-label Houses
            a(href='#').dropdown-item
              span.dropdown-item-label Rooms
            a(href='#').dropdown-item
              span.dropdown-item-label Commercial
        ul.nav.nav-tabs.d-none.d-md-flex.ps-lg-2.mb-0
          li.nav-item
            a(href='#').nav-link.fs-sm.mb-2.mb-md-0 Apartments
          li.nav-item
            a(href='#').nav-link.fs-sm.active.mb-2.mb-md-0 Houses
          li.nav-item
            a(href='#').nav-link.fs-sm.mb-2.mb-md-0 Rooms
          li.nav-item
            a(href='#').nav-link.fs-sm.mb-2.mb-md-0 Commercial
      a(href='real-estate-catalog-rent.html').btn.btn-link.fw-normal.d-none.d-lg-block.p-0
        | View all
        i.fi-arrow-long-right.ms-2
    .row.g-4
      .col-md-6
        .card.bg-size-cover.bg-position-center.border-0.overflow-hidden.h-100(style='background-image: url(img/real-estate/recent/01.jpg);')
          span.img-gradient-overlay
          .card-body.content-overlay.pb-0
            .d-flex
              span.badge.bg-success.fs-sm.me-2 Verified
              span.badge.bg-info.fs-sm New
          .card-footer.content-overlay.border-0.pt-0.pb-4
            .d-sm-flex.justify-content-between.align-items-end.pt-5.mt-2.mt-sm-5
              a(href='real-estate-single-v1.html').text-decoration-none.text-light.pe-2
                .fs-sm.text-uppercase.pt-2.mb-1 For rental
                h3.h5.text-light.mb-1 Luxury Rental Villa
                .fs-sm.opacity-70
                  i.fi-map-pin.me-1
                  | 118-11 Sutphin Blvd Jamaica, NY 11434
              .btn-group.ms-n2.ms-sm-0.mt-3
                a(href='real-estate-single-v1.html' style='height: 2.75rem;').btn.btn-primary.px-3 From $3,850
                button(type='button').btn.btn-primary.btn-icon.border-end-0.border-top-0.border-bottom-0.border-light.fs-sm
                  i.fi-heart
      .col-md-6
        .card.bg-size-cover.bg-position-center.border-0.overflow-hidden.mb-4(style='background-image: url(img/real-estate/recent/02.jpg);')
          span.img-gradient-overlay
          .card-body.content-overlay.pb-0
            span.badge.bg-info.fs-sm New
          .card-footer.content-overlay.border-0.pt-0.pb-4
            .d-sm-flex.justify-content-between.align-items-end.pt-5.mt-2.mt-sm-5
              a(href='real-estate-single-v1.html').text-decoration-none.text-light.pe-2
                .fs-sm.text-uppercase.pt-2.mb-1 For sale
                h3.h5.text-light.mb-1 Duplex with Garage
                .fs-sm.opacity-70
                  i.fi-map-pin.me-1
                  | 21 Pulaski Road Kings Park, NY 11754
              .btn-group.ms-n2.ms-sm-0.mt-3
                a(href='real-estate-single-v1.html' style='height: 2.75rem;').btn.btn-primary.px-3 $200,410
                button(type='button').btn.btn-primary.btn-icon.border-end-0.border-top-0.border-bottom-0.border-light.fs-sm
                  i.fi-heart
        .card.bg-size-cover.bg-position-center.border-0.overflow-hidden(style='background-image: url(img/real-estate/recent/03.jpg);')
          span.img-gradient-overlay
          .card-body.content-overlay.pb-0
            span.badge.bg-info.fs-sm New
          .card-footer.content-overlay.border-0.pt-0.pb-4
            .d-sm-flex.justify-content-between.align-items-end.pt-5.mt-2.mt-sm-5
              a(href='real-estate-single-v1.html').text-decoration-none.text-light.pe-2
                .fs-sm.text-uppercase.pt-2.mb-1 For sale
                h3.h5.text-light.mb-1 Country House
                .fs-sm.opacity-70
                  i.fi-map-pin.me-1
                  | 6954 Grand AveMaspeth, NY 11378
              .btn-group.ms-n2.ms-sm-0.mt-3
                a(href='real-estate-single-v1.html' style='height: 2.75rem;').btn.btn-primary.px-3 $162,000
                button(type='button').btn.btn-primary.btn-icon.border-end-0.border-top-0.border-bottom-0.border-light.fs-sm
                  i.fi-heart


  // Property cost calculator
  section.container.mb-5.pb-2.pb-lg-4
    .row.align-items-center
      .col-md-5
        img(src='img/real-estate/illustrations/calculator.svg' width='416' alt='Illustration').d-block.mx-md-0.mx-auto.mb-md-0.mb-4
      .col-xxl-6.col-md-7.text-md-start.text-center
        h2 Сalculate the cost of your property
        p.pb-3.fs-lg Real estate appraisal is a procedure that allows you to determine the average market value of real estate (apartment, house, land, etc.). Сalculate the cost of your property with our new Calculation Service.
        a(href='#cost-calculator' data-bs-toggle='modal').btn.btn-lg.btn-primary
          i.fi-calculator.me-2
          | Calculate


  // Cities (carousel)
  section.container.mb-5.pb-2
    .d-flex.align-items-center.justify-content-between.mb-3
      h2.h3.mb-0 Search property by city
      a(href='real-estate-catalog-rent.html').btn.btn-link.fw-normal.ms-md-3.pb-0
        | View all
        i.fi-arrow-long-right.ms-2
    .tns-carousel-wrapper.tns-controls-outside-xxl.tns-nav-outside.tns-nav-outside-flush.mx-n2
      .tns-carousel-inner.row.gx-4.mx-0.py-md-4.py-3(data-carousel-options='{"items": 4, "responsive": {"0":{"items":1},"500":{"items":2},"768":{"items":3},"992":{"items":4}}}')

        // Item
        .col
          a(href='real-estate-catalog-sale.html').card.shadow-sm.card-hover.border-0
            .card-img-top.card-img-hover
              span.img-overlay.opacity-65
              img(src='img/real-estate/city/new-york.jpg' alt='New York')
              .content-overlay.start-0.top-0.d-flex.align-items-center.justify-content-center.w-100.h-100.p-3
                .w-100.p-1
                  .mb-2
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-wallet.mt-n1.me-2.fs-sm.align-middle
                      | Property for sale
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-danger(role='progressbar' style='width: 30%' aria-valuenow='30' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 893
                  .pt-1
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-home.mt-n1.me-2.fs-sm.align-middle
                      | Property for rent
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-success(role='progressbar' style='width: 85%' aria-valuenow='85' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 3756
            .card-body.text-center
              h3.mb-0.fs-base.text-nav New York

        // Item
        .col
          a(href='real-estate-catalog-rent.html').card.shadow-sm.card-hover.border-0
            .card-img-top.card-img-hover
              span.img-overlay.opacity-65
              img(src='img/real-estate/city/chicago.jpg' alt='Chicago')
              .content-overlay.start-0.top-0.d-flex.align-items-center.justify-content-center.w-100.h-100.p-3
                .w-100.p-1
                  .mb-2
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-wallet.mt-n1.me-2.fs-sm.align-middle
                      | Property for sale
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-danger(role='progressbar' style='width: 37%' aria-valuenow='37' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 268
                  .pt-1
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-home.mt-n1.me-2.fs-sm.align-middle
                      | Property for rent
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-success(role='progressbar' style='width: 80%' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 1540
            .card-body.text-center
              h3.mb-0.fs-base.text-nav Chicago

        // Item
        .col
          a(href='real-estate-catalog-sale.html').card.shadow-sm.card-hover.border-0
            .card-img-top.card-img-hover
              span.img-overlay.opacity-65
              img(src='img/real-estate/city/los-angeles.jpg' alt='Los Angeles')
              .content-overlay.start-0.top-0.d-flex.align-items-center.justify-content-center.w-100.h-100.p-3
                .w-100.p-1
                  .mb-2
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-wallet.mt-n1.me-2.fs-sm.align-middle
                      | Property for sale
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-danger(role='progressbar' style='width: 75%' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 2750
                  .pt-1
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-home.mt-n1.me-2.fs-sm.align-middle
                      | Property for rent
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-success(role='progressbar' style='width: 40%' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 692
            .card-body.text-center
              h3.mb-0.fs-base.text-nav Los Angeles

        // Item
        .col
          a(href='real-estate-catalog-rent.html').card.shadow-sm.card-hover.border-0
            .card-img-top.card-img-hover
              span.img-overlay.opacity-65
              img(src='img/real-estate/city/san-diego.jpg' alt='San Diego')
              .content-overlay.start-0.top-0.d-flex.align-items-center.justify-content-center.w-100.h-100.p-3
                .w-100.p-1
                  .mb-2
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-wallet.mt-n1.me-2.fs-sm.align-middle
                      | Property for sale
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-danger(role='progressbar' style='width: 55%' aria-valuenow='55' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 1739
                  .pt-1
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-home.mt-n1.me-2.fs-sm.align-middle
                      | Property for rent
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-success(role='progressbar' style='width: 60%' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 1854
            .card-body.text-center
              h3.mb-0.fs-base.text-nav San Diego

        // Item
        .col
          a(href='real-estate-catalog-sale.html').card.shadow-sm.card-hover.border-0
            .card-img-top.card-img-hover
              span.img-overlay.opacity-65
              img(src='img/real-estate/city/dallas.jpg' alt='Dallas')
              .content-overlay.start-0.top-0.d-flex.align-items-center.justify-content-center.w-100.h-100.p-3
                .w-100.p-1
                  .mb-2
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-wallet.mt-n1.me-2.fs-sm.align-middle
                      | Property for sale
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-danger(role='progressbar' style='width: 90%' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 2567
                  .pt-1
                    h4.mb-2.fs-xs.fw-normal.text-light
                      i.fi-home.mt-n1.me-2.fs-sm.align-middle
                      | Property for rent
                    .d-flex.align-items-center
                      .progress.progress-light.w-100
                        .progress-bar.bg-success(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                      span.text-light.fs-sm.ps-1.ms-2 1204
            .card-body.text-center
              h3.mb-0.fs-base.text-nav Dallas
  
  
  // Partners (carousel)
  section.container.mb-5.pb-2.pb-lg-4
    h2.h3.mb-4.text-center.text-md-start Our partners
    .tns-carousel-wrapper.tns-nav-outside.tns-nav-outside-flush
      .tns-carousel-inner(data-carousel-options='{"items": 6, "controls": false, "responsive": {"0":{"items":2}, "500":{"items":4}, "992":{"items":5, "gutter": 16}, "1200":{"items":6, "gutter": 24}}}')
        div
          a(href='#').swap-image
            img(src='img/real-estate/brands/01_color.svg' alt='Logo' width='196').swap-to
            img(src='img/real-estate/brands/01_gray.svg' alt='Logo' width='196').swap-from
        div
          a(href='#').swap-image
            img(src='img/real-estate/brands/02_color.svg' alt='Logo' width='196').swap-to
            img(src='img/real-estate/brands/02_gray.svg' alt='Logo' width='196').swap-from
        div
          a(href='#').swap-image
            img(src='img/real-estate/brands/03_color.svg' alt='Logo' width='196').swap-to
            img(src='img/real-estate/brands/03_gray.svg' alt='Logo' width='196').swap-from
        div
          a(href='#').swap-image
            img(src='img/real-estate/brands/04_color.svg' alt='Logo' width='196').swap-to
            img(src='img/real-estate/brands/04_gray.svg' alt='Logo' width='196').swap-from
        div
          a(href='#').swap-image
            img(src='img/real-estate/brands/05_color.svg' alt='Logo' width='196').swap-to
            img(src='img/real-estate/brands/05_gray.svg' alt='Logo' width='196').swap-from
        div
          a(href='#').swap-image
            img(src='img/real-estate/brands/06_color.svg' alt='Logo' width='196').swap-to
            img(src='img/real-estate/brands/06_gray.svg' alt='Logo' width='196').swap-from
  
  
  // Top agents (lnked carousel)
  section.container.mb-5.pb-2.pb-lg-4
    h2.h3.mb-4.pb-3.text-center.text-md-start Top real estate agents
    .tns-carousel-wrapper
      .tns-carousel-inner(data-carousel-options='{"items": 1, "mode": "gallery", "controlsContainer": "#agents-carousel-controls", "nav": false}')
        div
          .row.align-items-center
            .col-xl-4.d-none.d-xl-block
              img(src='img/real-estate/agents/01.jpg' alt='Agent picture').rounded-3
            .col-xl-4.col-md-5.col-sm-4
              img(src='img/real-estate/agents/02.jpg' alt='Agent picture').rounded-3
            .col-xl-4.col-md-7.col-sm-8.px-4.px-sm-3.px-md-0.ms-md-n4.mt-n5.mt-sm-0.py-3
              .card.border-0.shadow-sm.ms-sm-n5
                blockquote.blockquote.card-body
                  h4(style='max-width: 22rem;') &quot;I will select the best accommodation for you&quot;
                  p.d-sm-none.d-lg-block Amet libero morbi venenatis ut est. Iaculis leo ultricies nunc id ante adipiscing. Vel metus odio at faucibus ac. Neque id placerat et id ut. Scelerisque eu mi ullamcorper sit urna. Est volutpat dignissim nec.
                  footer.d-flex.justify-content-between
                    .pe-3
                      a(href='real-estate-vendor-properties.html').text-decoration-none
                        h6.mb-0 Floyd Miles
                        .text-muted.fw-normal.fs-sm.mb-3 Imperial Property Group Agent
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-facebook
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-twitter
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-linkedin
                    div
                      +star-rating(5)
                      .text-muted.fs-sm.mt-1 45 reviews
        div
          .row.align-items-center
            .col-xl-4.d-none.d-xl-block
              img(src='img/real-estate/agents/02.jpg' alt='Agent picture').rounded-3
            .col-xl-4.col-md-5.col-sm-4
              img(src='img/real-estate/agents/03.jpg' alt='Agent picture').rounded-3
            .col-xl-4.col-md-7.col-sm-8.px-4.px-sm-3.px-md-0.ms-md-n4.mt-n5.mt-sm-0.py-3
              .card.border-0.shadow-sm.ms-sm-n5
                blockquote.blockquote.card-body
                  h4(style='max-width: 22rem;') &quot;I don't say no, I just figure out a way to make it work&quot;
                  p.d-sm-none.d-lg-block Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                  footer.d-flex.justify-content-between
                    .pe-3
                      a(href='real-estate-vendor-properties.html').text-decoration-none
                        h6.mb-0 Guy Hawkins
                        .text-muted.fw-normal.fs-sm.mb-3 Imperial Property Group Agent
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-facebook
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-twitter
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-linkedin
                    div
                      +star-rating(5)
                      .text-muted.fs-sm.mt-1 16 reviews
        div
          .row.align-items-center
            .col-xl-4.d-none.d-xl-block
              img(src='img/real-estate/agents/03.jpg' alt='Agent picture').rounded-3
            .col-xl-4.col-md-5.col-sm-4
              img(src='img/real-estate/agents/01.jpg' alt='Agent picture').rounded-3
            .col-xl-4.col-md-7.col-sm-8.px-4.px-sm-3.px-md-0.ms-md-n4.mt-n5.mt-sm-0.py-3
              .card.border-0.shadow-sm.ms-sm-n5
                blockquote.blockquote.card-body
                  h4(style='max-width: 22rem;') &quot;Over 10 years of experience as a real estate agent&quot;
                  p.d-sm-none.d-lg-block Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                  footer.d-flex.justify-content-between
                    .pe-3
                      a(href='real-estate-vendor-properties.html').text-decoration-none
                        h6.mb-0 Kristin Watson
                        .text-muted.fw-normal.fs-sm.mb-3 Imperial Property Group Agent
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-facebook
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-twitter
                      a(href='#').btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2
                        i.fi-linkedin
                    div
                      +star-rating(5)
                      .text-muted.fs-sm.mt-1 24 reviews

    #agents-carousel-controls.tns-carousel-controls.justify-content-center.justify-content-md-start.my-2.mt-md-4
      button(type='button').mx-2
        i.fi-chevron-left
      button(type='button').mx-2
        i.fi-chevron-right


//- Footer
block footer
  include partials/footer-real-estate
