extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['leaflet/dist/leaflet.css', 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css', 'filepond/dist/filepond.min.css']
  - var vendorScripts = ['leaflet/dist/leaflet.js', 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js', 'filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js', 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js', 'filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js', 'filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js', 'filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js', 'filepond/dist/filepond.min.js', 'cleave.js/dist/cleave.min.js']
  - var parentMenu = 'Vendor'
  - var pageTitle = 'Real Estate | Add Property'

//- Navbar
block navbar
  include partials/navbar-real-estate

//- Page Content
block content

  // Preview modal
  #preview-modal.modal.fade(tabindex='-1')
    .modal-dialog.modal-fullscreen(role='document')
      .modal-content
        .modal-header.d-block.d-sm-flex
          h3.h5.text-muted.fw-normal.modal-title.d-none.d-sm-block Property preview
          .d-flex.align-items-center
            a(href='real-estate-property-promotion.html').btn.btn-primary.btn-sm.me-4 Save and continue
            span.fs-xs.text-muted.ms-auto.me-2 [ESC]
            button(type='button' data-bs-dismiss='modal').btn-close.ms-0
        .modal-body.p-0
          .container.mt-2.mt-sm-0.py-4.py-sm-5
            h1.h2.mb-2 Pine Apartments
            p.mb-2.pb-1.fs-lg 28 Jackson Ave Long Island City, NY 67234
            ul.d-flex.mb-4.list-unstyled
              li.me-3.pe-3.border-end
                b.me-1 4
                i.fi-bed.mt-n1.lead.align-middle.text-muted
              li.me-3.pe-3.border-end
                b.me-1 2
                i.fi-bath.mt-n1.lead.align-middle.text-muted
              li.me-3.pe-3.border-end
                b.me-1 2
                i.fi-car.mt-n1.lead.align-middle.text-muted
              li
                b 56 
                | sq.m
            .overflow-auto.pb-3.px-2.mx-n2.mb-4(data-simplebar)
              .row.g-2.g-md-3(style='min-width: 30rem;')
                .col-8
                  img(src='img/real-estate/single/01.jpg' alt='Gallery thumbnail').rounded.rounded-md-3
                .col-4
                  img(src='img/real-estate/single/02.jpg' alt='Gallery thumbnail').rounded.rounded-md-3.mb-2.mb-md-3
                  img(src='img/real-estate/single/03.jpg' alt='Gallery thumbnail').rounded.rounded-md-3
            .row
              .col-md-7.mb-md-0.mb-4
                span.badge.bg-success.me-2.mb-3 Verified
                span.badge.bg-info.me-2.mb-3 New
                h2.h3.mb-4.pb-4.border-bottom $2,000
                  span.d-inline-block.ms-1.fs-base.fw-normal.text-body /month

                // Overview
                .mb-4.pb-md-3
                  h3.h4 Overview
                  p.mb-1 Lorem tincidunt lectus vitae id vulputate diam quam. Imperdiet non scelerisque turpis sed etiam ultrices. Blandit mollis dignissim egestas consectetur porttitor. Vulputate dolor pretium, dignissim eu augue sit ut convallis. Lectus est, magna urna feugiat sed ultricies sed in lacinia. Fusce potenti sit id pharetra vel ornare. Vestibulum sed tellus ullamcorper arcu.
                  #seeMoreOverview.collapse
                    p.mb-1 Asperiores eos molestias, aspernatur assumenda vel corporis ex, magni excepturi totam exercitationem quia inventore quod amet labore impedit quae distinctio? Officiis blanditiis consequatur alias, atque, sed est incidunt accusamus repudiandae tempora repellendus obcaecati delectus ducimus inventore tempore harum numquam autem eligendi culpa.
                  a(href='#seeMoreOverview' data-bs-toggle='collapse' data-bs-label-collapsed='Show more' data-bs-label-expanded='Show less' role='button' aria-expanded='false' aria-controls='seeMoreOverview').collapse-label.collapsed

                // Property Details
                .mb-4.pb-md-3
                  h3.h4 Property Details
                  ul.list-unstyled.mb-0
                    li
                      b Type: 
                      | apartment
                    li
                      b Apartment area: 
                      | 56 sq.m
                    li
                      b Built: 
                      | 2015
                    li
                      b Bedrooms: 
                      | 4
                    li
                      b Bathrooms: 
                      | 2
                    li
                      b Parking places: 
                      | 2
                    li
                      b Pets allowed: 
                      | No

                // Amenities
                .mb-sm-3
                  h3.h4 Amenities
                  ul.list-unstyled.row.row-cols-lg-3.row-cols-md-2.row-cols-1.gy-1.mb-1.text-nowrap
                    li.col
                      i.fi-wifi.mt-n1.me-2.fs-lg.align-middle
                      | WiFi
                    li.col
                      i.fi-thermometer.mt-n1.me-2.fs-lg.align-middle
                      | Heating
                    li.col
                      i.fi-dish.mt-n1.me-2.fs-lg.align-middle
                      | Dishwasher
                    li.col
                      i.fi-parking.mt-n1.me-2.fs-lg.align-middle
                      | Parking place
                    li.col
                      i.fi-snowflake.mt-n1.me-2.fs-lg.align-middle
                      | Air conditioning
                    li.col
                      i.fi-iron.mt-n1.me-2.fs-lg.align-middle
                      | Iron
                    li.col
                      i.fi-tv.mt-n1.me-2.fs-lg.align-middle
                      | TV
                    li.col
                      i.fi-laundry.mt-n1.me-2.fs-lg.align-middle
                      | Laundry
                    li.col
                      i.fi-cctv.mt-n1.me-2.fs-lg.align-middle
                      | Security cameras
                  #seeMoreAmenities.collapse
                    ul.list-unstyled.row.row-cols-lg-3.row-cols-md-2.row-cols-1.gy-1.mb-1.text-nowrap
                      li.col
                        i.fi-no-smoke.mt-n1.me-2.fs-lg.align-middle
                        | No smocking
                      li.col
                        i.fi-pet.mt-n1.me-2.fs-lg.align-middle
                        | Cats
                      li.col
                        i.fi-swimming-pool.mt-n1.me-2.fs-lg.align-middle
                        | Swimming pool
                      li.col
                        i.fi-double-bed.mt-n1.me-2.fs-lg.align-middle
                        | Double bed
                      li.col
                        i.fi-bed.mt-n1.me-2.fs-lg.align-middle
                        | Single bed
                  a(href='#seeMoreAmenities' data-bs-toggle='collapse' data-bs-label-collapsed='Show more' data-bs-label-expanded='Show less' role='button' aria-expanded='false' aria-controls='seeMoreAmenities').collapse-label.collapsed


  // Page container
  .container.mt-5.mb-md-4.py-5
    .row
          
      // Page content
      .col-lg-8

        // Breadcrumb
        nav(aria-label='Breadcrumb').mb-3.pt-md-3
          ol.breadcrumb
            li.breadcrumb-item
              a(href='real-estate-home-v1.html') Home
            li(aria-current='page').breadcrumb-item.active
              | Add property
        
        // Title
        .mb-4
          h1.h2.mb-0 Add property
          .d-lg-none.pt-3.mb-2 65% content filled
          .progress.d-lg-none.mb-4(style='height: .25rem;')
            .progress-bar.bg-warning(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')

        // Basic info
        section#basic-info.card.card-body.border-0.shadow-sm.p-4.mb-4
          h2.h4.mb-4
            i.fi-info-circle.text-primary.fs-5.mt-n1.me-2
            | Basic info
          .mb-3
            label(for='ap-title').form-label
              | Title 
              span.text-danger *
            input(type='text' id='ap-title' placeholder='Title for your property' value='Pine Apartments' required).form-control
            span.form-text 48 characters left
          .row
            .col-sm-6.mb-3
              label(for='ap-category').form-label
                | Category 
                span.text-danger *
              select(id='ap-category' required).form-select
                option(value='' disabled hidden) Choose category
                option(value='Rent') For rent
                option(value='Sell') For sale
            .col-sm-6.mb-3
              label(for='ap-type').form-label
                | Property type 
                span.text-danger *
              select(id='ap-type' required).form-select
                option(value='' disabled hidden) Choose property type
                option(value='Apartment') Apartment
                option(value='House') House
                option(value='Commercial') Commercial
                option(value='Commercial') Daily rental
                option(value='New building') New building
          .form-label.fw-bold.pt-3.pb-2 Are you listing on Finder as part of a company?
          .form-check
            input(type='radio' id='ap-company' name='ap-business-type').form-check-input
            label(for='ap-company').form-check-label
              | I am a registered business
          .form-check
            input(type='radio' id='ap-individual' name='ap-business-type' checked).form-check-input
            label(for='ap-individual').form-check-label
              | I am a private seller

        // Location
        section#location.card.card-body.border-0.shadow-sm.p-4.mb-4
          h2.h4.mb-4
            i.fi-map-pin.text-primary.fs-5.mt-n1.me-2
            | Location
          .row
            .col-sm-6.mb-3
              label(for='ap-country').form-label
                | Country / region 
                span.text-danger *
              select(id='ap-country' required).form-select
                option(value='' disabled) Choose country
                option(value='Australia') Australia
                option(value='Belgium') Belgium
                option(value='Canada') Canada
                option(value='Germany') Germany
                option(value='United States' selected) United States
            .col-sm-6.mb-3
              label(for='ap-city').form-label
                | City 
                span.text-danger *
              select(id='ap-city' required).form-select
                option(value='' disabled) Choose city
                option(value='Chicago') Chicago
                option(value='Dallas') Dallas
                option(value='Los Angeles') Los Angeles
                option(value='New York' selected) New York
                option(value='San Diego') San Diego
          .row
            .col-sm-8.mb-3
              label(for='ap-district').form-label
                | District 
                span.text-danger *
              select(id='ap-district' required).form-select
                option(value='' disabled) Choose district
                option(value='Brooklyn') Brooklyn
                option(value='Manhattan') Manhattan
                option(value='Staten Island') Staten Island
                option(value='The Bronx') The Bronx
                option(value='Queens' selected) Queens
            .col-sm-4.mb-3
              label(for='ap-zip').form-label
                | Zip code  
                span.text-danger *
              input(type='text' id='ap-zip' placeholder='Enter Zip code' value='67234' required).form-control
          .mb-3
            label(for='ap-address').form-label
              | Street address 
              span.text-danger *
            input(type='text' id='ap-address' value='28 Jackson Avenue' required).form-control
          .form-label.fw-bold.pt-3.pb-2 Display on the map
          .interactive-map.rounded-3(data-map-options='{"mapLayer": "https://api.maptiler.com/maps/pastel/{z}/{x}/{y}.png?key=5vRQzd34MMsINEyeKPIs", "coordinates": [40.7447, -73.9485], "zoom": 13, "scrollWheelZoom": false, "markers": [{"coordinates": [40.7447, -73.9485], "className": "custom-marker-dot", "popup": "<div class=\'p-3\'><h6 class=\'fs-base\'>Pine Apartments</h6><p class=\'fs-xs text-muted pt-1 mt-n3 mb-0\'>28 Jackson Ave Long Island City, NY</p></div>"}]}' style='height: 250px;')

        // Property details
        section#details.card.card-body.border-0.shadow-sm.p-4.mb-4
          h2.h4.mb-4
            i.fi-edit.text-primary.fs-5.mt-n1.me-2
            | Property details
          .mb-4(style='max-width: 25rem;')
            label(for='ap-area').form-label Total area, sq.m
            input(type='number' id='ap-area' min='20' placeholder='Enter your area' value='56' required).form-control
          .mb-4
            label.form-label.d-block.fw-bold.mb-2.pb-1 Bedrooms
            .btn-group.btn-group-sm(role='group' aria-label='Choose number of bedrooms')
              input(type='radio' id='studio' name='bedrooms').btn-check
              label(for='studio').btn.btn-outline-secondary.fw-normal Studio
              input(type='radio' id='bedrooms-1' name='bedrooms').btn-check
              label(for='bedrooms-1').btn.btn-outline-secondary.fw-normal 1
              input(type='radio' id='bedrooms-2' name='bedrooms').btn-check
              label(for='bedrooms-2').btn.btn-outline-secondary.fw-normal 2
              input(type='radio' id='bedrooms-3' name='bedrooms').btn-check
              label(for='bedrooms-3').btn.btn-outline-secondary.fw-normal 3
              input(type='radio' id='bedrooms-4' name='bedrooms' checked).btn-check
              label(for='bedrooms-4').btn.btn-outline-secondary.fw-normal 4
              input(type='radio' id='bedrooms-5' name='bedrooms').btn-check
              label(for='bedrooms-5').btn.btn-outline-secondary.fw-normal 5+
          .mb-4
            label.form-label.d-block.fw-bold.mb-2.pb-1 Bathrooms
            .btn-group.btn-group-sm(role='group' aria-label='Choose number of bathrooms')
              input(type='radio' id='bathrooms-1' name='bathrooms').btn-check
              label(for='bathrooms-1').btn.btn-outline-secondary.fw-normal 1
              input(type='radio' id='bathrooms-2' name='bathrooms' checked).btn-check
              label(for='bathrooms-2').btn.btn-outline-secondary.fw-normal 2
              input(type='radio' id='bathrooms-3' name='bathrooms').btn-check
              label(for='bathrooms-3').btn.btn-outline-secondary.fw-normal 3
              input(type='radio' id='bathrooms-4' name='bathrooms').btn-check
              label(for='bathrooms-4').btn.btn-outline-secondary.fw-normal 4
          .mb-4
            label.form-label.d-block.fw-bold.mb-2.pb-1 Parking spots
            .btn-group.btn-group-sm(role='group' aria-label='Choose number of parking spots')
              input(type='radio' id='parking-1' name='parking').btn-check
              label(for='parking-1').btn.btn-outline-secondary.fw-normal 1
              input(type='radio' id='parking-2' name='parking' checked).btn-check
              label(for='parking-2').btn.btn-outline-secondary.fw-normal 2
              input(type='radio' id='parking-3' name='parking').btn-check
              label(for='parking-3').btn.btn-outline-secondary.fw-normal 3
              input(type='radio' id='parking-4' name='parking').btn-check
              label(for='parking-4').btn.btn-outline-secondary.fw-normal 4
          .mb-4
            label.form-label.d-block.fw-bold.mb-2.pb-1 Amenities
            .row
              .col-sm-4
                .form-check
                  input(type='checkbox' id='wifi' checked).form-check-input
                  label(for='wifi').form-check-label
                    | WiFi
                .form-check
                  input(type='checkbox' id='air-condition' checked).form-check-input
                  label(for='air-condition').form-check-label
                    | Air conditioning
                .form-check
                  input(type='checkbox' id='balcony').form-check-input
                  label(for='balcony').form-check-label
                    | Balcony
                .form-check
                  input(type='checkbox' id='garage').form-check-input
                  label(for='garage').form-check-label
                    | Garage
                .form-check
                  input(type='checkbox' id='gym').form-check-input
                  label(for='gym').form-check-label
                    | Gym
                .form-check
                  input(type='checkbox' id='free-parking' checked).form-check-input
                  label(for='free-parking').form-check-label
                    | Free parking
              .col-sm-4
                .form-check
                  input(type='checkbox' id='pets-friendly').form-check-input
                  label(for='pets-friendly').form-check-label
                    | Pets-friendly
                .form-check
                  input(type='checkbox' id='pool').form-check-input
                  label(for='pool').form-check-label
                    | Pool
                .form-check
                  input(type='checkbox' id='bar').form-check-input
                  label(for='bar').form-check-label
                    | Bar
                .form-check
                  input(type='checkbox' id='tv' checked).form-check-input
                  label(for='tv').form-check-label
                    | TV
                .form-check
                  input(type='checkbox' id='linens' checked).form-check-input
                  label(for='linens').form-check-label
                    | Linens
                .form-check
                  input(type='checkbox' id='heating' checked).form-check-input
                  label(for='heating').form-check-label
                    | Heating
              .col-sm-4
                .form-check
                  input(type='checkbox' id='dishwasher').form-check-input
                  label(for='dishwasher').form-check-label
                    | Dishwasher
                .form-check
                  input(type='checkbox' id='iron' checked).form-check-input
                  label(for='iron').form-check-label
                    | Iron
                .form-check
                  input(type='checkbox' id='hair-dryer' checked).form-check-input
                  label(for='hair-dryer').form-check-label
                    | Hair dryer
                .form-check
                  input(type='checkbox' id='kitchen' checked).form-check-input
                  label(for='kitchen').form-check-label
                    | Kitchen
                .form-check
                  input(type='checkbox' id='breakfast').form-check-input
                  label(for='breakfast').form-check-label
                    | Breakfast
                .form-check
                  input(type='checkbox' id='security-cameras').form-check-input
                  label(for='security-cameras').form-check-label
                    | Security cameras
          .mb-4
            label.form-label.d-block.fw-bold.mb-2.pb-1 Pets
            .row
              .col-sm-4
                .form-check
                  input(type='checkbox' id='allow-cats').form-check-input
                  label(for='allow-cats').form-check-label
                    | Cats allowed
                .form-check
                  input(type='checkbox' id='allow-dogs').form-check-input
                  label(for='allow-dogs').form-check-label
                    | Dogs allowed
          label(for='ap-description').form-label Description 
          textarea(id='ap-description' rows='5' placeholder='Describe your property').form-control
          span.form-text 1500 characters left

        // Price
        section#price.card.card-body.border-0.shadow-sm.p-4.mb-4
          h2.h4.mb-4
            i.fi-cash.text-primary.fs-5.mt-n1.me-2
            | Price
          label(for='ap-price').form-label
            | Price 
            span.text-danger *
          .d-sm-flex
            select.form-select.w-25.me-2.mb-2
              option(value='usd') &#36;
              option(value='eur') &#8364;
              option(value='gbp') &#163;
              option(value='jpy') &#165;
            input(type='number' id='ap-price' min='200' step='50' required).form-control.w-100.me-2.mb-2
            select.form-select.w-50.mb-2
              option(value='day') per day
              option(value='week') per week
              option(value='month' selected) per month
              option(value='year') per year

        // Photos / video
        section#photos.card.card-body.border-0.shadow-sm.p-4.mb-4
          h2.h4.mb-4
            i.fi-image.text-primary.fs-5.mt-n1.me-2
            | Photos / video
          .alert.alert-info.mb-4(role='alert')
            .d-flex
              i.fi-alert-circle.me-2.me-sm-3
              p.fs-sm.mb-1 The maximum photo size is 8 MB. Formats: jpeg, jpg, png. Put the main picture first.<br>The maximum video size is 10 MB. Formats: mp4, mov.
          input(type='file' multiple data-max-file-size='10MB' accept='image/png, image/jpeg, video/mp4, video/mov' data-label-idle='<div class="btn btn-primary mb-3"><i class="fi-cloud-upload me-1"></i>Upload photos / video</div><br>or drag them in').file-uploader.file-uploader-grid

        // Contacts
        section#contacts.card.card-body.border-0.shadow-sm.p-4.mb-4
          h2.h4.mb-4
            i.fi-phone.text-primary.fs-5.mt-n1.me-2
            | Contacts
          .row
            .col-sm-6.mb-3
              label(for='ap-fn').form-label
                | First name 
                span.text-danger *
              input(type='text' id='ap-fn' value='Annette' placeholder='Enter your first name' required).form-control
            .col-sm-6.mb-3
              label(for='ap-sn').form-label
                | Second name 
                span.text-danger *
              input(type='text' id='ap-sn' value='Black' placeholder='Enter your second name' required).form-control
          .row
            .col-sm-6.mb-3
              label(for='ap-email').form-label
                | Email
                span.text-danger *
              input(type='text' id='ap-email' value='annette_black@email.com' placeholder='Enter your email').form-control
            .col-sm-6.mb-3
              label(for='ap-phone').form-label
                | Phone number 
                span.text-danger *
              input(type='tel' id='ap-phone' data-format='custom' data-delimiter='-' data-blocks='3 3 4' value='302-555-0107' placeholder='000-000-0000').form-control
          label(for='ap-company-name').form-label Company
          input(type='text' id='ap-company-name' placeholder='Enter company name').form-control

        // Action buttons 
        section.d-sm-flex.justify-content-between.pt-2
          a(href='#preview-modal' data-bs-toggle='modal').btn.btn-outline-primary.btn-lg.d-block.mb-3.mb-sm-2
            i.fi-eye-on.ms-n1.me-2
            | Preview
          a(href='real-estate-property-promotion.html').btn.btn-primary.btn-lg.d-block.mb-2 Save and continue
          

      // Progress of completion
      aside.col-lg-3.offset-lg-1.d-none.d-lg-block
        .sticky-top.pt-5
          h6.pt-5.mt-3.mb-2 65% content filled
          .progress.mb-4(style='height: .25rem;')
            .progress-bar.bg-warning(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')
          ul.list-unstyled
            li.d-flex.align-items-center
              i.fi-check.text-primary.me-2
              a(href='#basic-info' data-scroll data-scroll-offset='20').nav-link.fw-normal.ps-1.p-0 Basic info
            li.d-flex.align-items-center
              i.fi-check.text-primary.me-2
              a(href='#location' data-scroll data-scroll-offset='20').nav-link.fw-normal.ps-1.p-0 Location
            li.d-flex.align-items-center
              i.fi-check.text-primary.me-2
              a(href='#details' data-scroll data-scroll-offset='20').nav-link.fw-normal.ps-1.p-0 Property details
            li.d-flex.align-items-center
              i.fi-check.text-muted.me-2
              a(href='#price' data-scroll data-scroll-offset='20').nav-link.fw-normal.ps-1.p-0 Price
            li.d-flex.align-items-center
              i.fi-check.text-muted.me-2
              a(href='#photos' data-scroll data-scroll-offset='20').nav-link.fw-normal.ps-1.p-0 Photos / video
            li.d-flex.align-items-center
              i.fi-check.text-primary.me-2
              a(href='#contacts' data-scroll data-scroll-offset='20').nav-link.fw-normal.ps-1.p-0 Contacts


//- Footer
block footer
  include partials/footer-real-estate
