<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.kh.realfinal.apply.model.mapper.UrbtyOfctlLttotPblancDetailMapper">
	<insert id="insertUrbtyOfctlLttotPblancDetail"
		parameterType="UrbtyOfctlLttotPblancDetail">
	INSERT INTO URBTYOFCTLLTTOTPBLANCDETAIL(
		HOUSE_MANAGE_NO,
		PBLANC_NO,
		HOUSE_NM,
		HOUSE_SECD,
		HOUSE_SECD_NM,
		HOUSE_DTL_SECD,
		HOUSE_DTL_SECD_NM,
		SEARCH_HOUSE_SECD,
		HSSPLY_ZIP,
		HSSPLY_HSHLDCO,
		TOT_SUPLY_HSHLDCO,
		RCRIT_PBLANC_DE,
		SUBSCRPT_RCEPT_BGNDE,
		SUBSCRPT_RCEPT_ENDDE,
		PRZWNER_PRESNATN_DE,
		CNTRCT_CNCLS_BGNDE,
		CNTRCT_CNCLS_ENDDE,
		HMPG_ADRES,
		BSNS_MBY_NM,
		MDHS_TELNO,
		MVN_PREARNGE_YM,
		HSSPLY_ADRES
	)
	VALUES(#{house_manage_no}, #{pblanc_no}, 
	#{house_nm}, #{house_secd},
	#{house_secd_nm}, #{house_dtl_secd}, 
	#{house_dtl_secd_nm}, #{search_house_secd}, #{hssply_zip}, 
	#{hssply_hshldco}, #{tot_suply_hshldco},
	#{rcrit_pblanc_de}, #{subscrpt_rcept_bgnde}, 
	#{subscrpt_rcept_endde}, #{przwner_presnatn_de}, 
	#{cntrct_cncls_bgnde}, #{cntrct_cncls_endde}, 
	#{hmpg_adres}, #{bsns_mby_nm}, 
	#{mdhs_telno}, #{mvn_prearnge_ym}, 
	#{hssply_adres})
	</insert>
</mapper>
