// Footer
footer.footer.bg-dark.position-relative.py-4.py-md-5

  if pageTitle !== 'About - Agency'
    //- Overlay background
    .d-none.d-dark-mode-block.position-absolute.top-0.start-0.w-100.h-100(style='background-color: rgba(255,255,255, .02);')

  .dark-mode.container.position-relative.zindex-2.pt-4.pt-md-2.pt-xl-4.pt-xxl-5
    .row.py-md-3.mb-4.mb-md-5
      .col-md-7.col-lg-6.col-xxl-5.mb-sm-4.mb-md-0
        h2.display-4.mb-4.mb-md-5 Let's start building brand together
        .d-sm-flex.align-items-center
          a(href='#')&attributes(buttonShape ? {'class': `btn btn-lg btn-primary ${buttonShape} me-sm-3 me-lg-4`} : {'class': 'btn btn-lg btn-primary me-sm-3 me-lg-4'})
            | Let's work together
          p.fs-sm.py-3.py-sm-0.ps-sm-2.mb-0
            | Managers will contact you to discuss the project and select the best team
      .col-md-5.offset-lg-1.offset-xxl-2.d-flex.flex-column
        .nav.mx-n2.mx-lg-n4.mb-2.mb-sm-3
          a(href='mailto:example@email.com').nav-link.text-primary.px-2.px-lg-4
            | example@email.com
          a(href='#').nav-link.px-3.px-lg-4
            | Privay policy
        .nav.flex-column.mb-3.mb-sm-4
          a(href='tel:+15262200444').nav-link.py-1.px-0
            | + 1 526 220 0444
          a(href='tel:+15262200000').nav-link.py-1.px-0
            | + 1 526 220 0000
        .nav.mx-n2.mt-auto
          a(href='#').nav-link.py-1.px-2.me-2
            | instagram
          a(href='#').nav-link.py-1.px-2.me-2
            | behance
          a(href='#').nav-link.py-1.px-2.me-2
            | medium
          a(href='#').nav-link.py-1.px-2
            | dribbble

    p.fs-sm.pt-3.pb-2.pb-lg-0.mb-0
      span.opacity-70 &copy; All rights reserved. Made by 
      a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link.d-inline.fw-normal.p-0 Createx Studio
