// Footer
footer.footer.dark-mode.bg-dark.pb-3.pt-sm-3.py-md-4.py-lg-5
  .container.pb-4.pt-5
    .d-md-flex.align-items-center.justify-content-between.pb-1.pb-md-0.mb-4.mb-md-5
      nav.nav.justify-content-center.justify-content-md-start.pb-sm-2.pb-md-0.mb-4.mb-md-0.ms-md-n3
        a(href='#').nav-link.py-1.px-0.mx-3 Services
        a(href='#').nav-link.py-1.px-0.mx-3 Reviews
        a(href='#').nav-link.py-1.px-0.mx-3 Team
        a(href='#').nav-link.py-1.px-0.mx-3 Blog
        a(href='#').nav-link.py-1.px-0.mx-3 Contact
      .d-flex.justify-content-center.justify-content-md-start.me-md-n2
        a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-instagram.rounded-circle.mx-2
          i.ai-instagram
        a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-facebook.rounded-circle.mx-2
          i.ai-facebook
        a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-twitter.rounded-circle.mx-2
          i.ai-twitter
        a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-linkedin.rounded-circle.mx-2
          i.ai-linkedin
    .d-md-flex.align-items-center.justify-content-between.text-center.text-md-start
      a(href='#').nav-link.d-inline-block.text-muted.fs-sm.text-decoration-none.order-md-2.py-1.px-0.mb-3.mb-md-0
        | Privacy policy
      p.fs-sm.order-md-1.mb-0
        span.opacity-70 &copy; All rights reserved. Made by 
        a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link.d-inline.fw-normal.p-0 Createx Studio
        