// Subscription
.dark-mode.container.mb-2.mb-md-3.mb-xl-4.pb-2
  .position-relative.bg-dark.rounded-5.overflow-hidden.p-md-5.p-4

    //- Overlay background
    .position-absolute.top-0.start-0.w-100.h-100(style='background-color: rgba(255, 255, 255, .02);')

    //- Content
    .position-relative.p-xl-5.p-md-4.py-4.px-sm-3
      h2.h1.pb-md-4.pb-3.mt-n2 Stay up to date with important news!
      .row.gy-md-5.gy-4.gx-xl-5
        .col-lg-7
          .row.row-cols-sm-3.row-cols-2.gy-lg-4.gy-3.gx-xl-4.gx-sm-3.gx-2
            .col
              .form-check.mb-0
                label(for='advert-updates').form-check-label.fs-base.fw-medium
                  | Advertising Updates
                input(id='advert-updates' type='checkbox' checked).form-check-input
            .col
              .form-check.mb-0
                label(for='newsletter').form-check-label.fs-base.fw-medium
                  | Daily Newsletter
                input(id='newsletter' type='checkbox').form-check-input
            .col
              .form-check.mb-0
                label(for='week-in-review').form-check-label.fs-base.fw-medium
                  | Week in Review
                input(id='week-in-review' type='checkbox').form-check-input
            .col
              .form-check.mb-0
                label(for='inspiration').form-check-label.fs-base.fw-medium
                  | Inspiration
                input(id='inspiration' type='checkbox').form-check-input
            .col
              .form-check.mb-0
                label(for='psychology').form-check-label.fs-base.fw-medium
                  | Psychology
                input(id='psychology' type='checkbox').form-check-input
            .col
              .form-check.mb-0
                label(for='design').form-check-label.fs-base.fw-medium
                  | Design
                input(id='design' type='checkbox' checked).form-check-input
        .col-lg-5
          .input-group.rounded-pill
            input(type='text' placeholder='Your email').form-control
            button(type='button').btn.btn-primary.rounded-pill
              | Button
          .form-text.mt-3.fs-sm
            | * Yes, I agree to the <a href='#'>terms</a> and <a href='#'>privacy policy</a>


// Footer
footer.footer.pt-lg-5.pt-4.pb-5
  .container
    .row.gy-md-5.gy-4.mb-md-5.mb-4.pb-lg-2

      .col-lg-3
        a(href='index.html').navbar-brand.d-inline-flex.align-items-center.mb-lg-4.mb-3
          span.text-primary.flex-shrink-0.me-2
            svg(version='1.1' width='35' height='32' viewBox='0 0 36 33' xmlns='http://www.w3.org/2000/svg')
              path(fill='currentColor' d='M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z')
          span.text-nav Around
        p(style='max-width: 306px;').mb-4.pb-lg-3.fs-xs.text-muted
          | Morbi et massa fames ac scelerisque sit commodo dignissim faucibus vel quisque proin lectus laoreet sem adipiscing sollicitudin erat massa tellus lorem enim aenean phasellus in hendrerit
        .mt-n3.ms-n3
          a(href='#').btn.btn-secondary.btn-icon.btn-sm.btn-instagram.rounded-circle.mt-3.ms-3
            i.ai-instagram
          a(href='#').btn.btn-secondary.btn-icon.btn-sm.btn-facebook.rounded-circle.mt-3.ms-3
            i.ai-facebook
          a(href='#').btn.btn-secondary.btn-icon.btn-sm.btn-linkedin.rounded-circle.mt-3.ms-3
            i.ai-linkedin

      .col-xl-8.offset-xl-1.col-lg-9
        .row.row-cols-sm-4.row-cols-1
          .col
            ul.nav.flex-column.mb-0
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Relevant Blogs
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Top Author
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Latest News
          .col
            ul.nav.flex-column.mb-0
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Business
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Marketing
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Design
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Psychology
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Books
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Inspiration
          .col
            ul.nav.flex-column.mb-0
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Analytics
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Ecommerce
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Brand strategy
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Travels
          .col
            ul.nav.flex-column.mb-0
              li.nav-item.mb-2
                a(href='#').nav-link.p-0.text-primary example@gmail.com
              li.nav-item.mb-2
                a(href='#').nav-link.p-0 Privacy policy

    .fs-sm.text-muted
      | &copy; All rights reserved. Made by <a href='https://createx.studio/' target='_blank' rel='noopener' class='text-dark text-decoration-none opacity-90'>Createx Studio</a>
    if isFixedButton
      .pt-4.pt-lg-0
