// Footer
footer&attributes(pageTitle === 'SaaS v.1' ? {'class': 'footer py-5'} : {'class': 'footer dark-mode bg-dark py-5'})
  .container.pt-md-2.pt-lg-3.pt-xl-4
    .row.pb-5.pt-sm-2.mb-lg-2
      .col-md-4.col-lg-3.pb-2.pb-md-0.mb-4.mb-md-0
        a(href='index.html').navbar-brand.py-0.mb-3.mb-md-4
          span.text-primary.flex-shrink-0.me-2
            svg(version='1.1' width='35' height='32' viewBox='0 0 36 33' xmlns='http://www.w3.org/2000/svg')
              path(fill='currentColor' d='M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z')
          span&attributes(pageTitle === 'SaaS v.1' ? {'class': 'text-nav'} : {'class': 'text-light'}) Around
        p.fs-sm.pb-2.pb-md-3.mb-3 Tellus non diam morbi quam vel venenatis proin sed. Dolor elementum nunc dictum interdum amet arcu aenean eu integer
        .d-flex
          a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-facebook.rounded-circle.me-3
            i.ai-facebook
          a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-instagram.rounded-circle.me-3
            i.ai-instagram
          a(href='#').btn.btn-icon.btn-sm.btn-secondary.btn-linkedin.rounded-circle
            i.ai-linkedin
      .col-md-8.col-lg-7.col-xl-6.offset-lg-2.offset-xl-3
        .row.row-cols-1.row-cols-sm-3
          .col.mb-4.mb-md-0
            h4.h6.fw-bold.pb-lg-1 Company
            ul.nav.flex-column
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Features
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Reviews
              li: a(href='#').nav-link.fw-normal.py-1.px-0 How it works
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Pricing
          .col.mb-4.mb-md-0
            h4.h6.fw-bold.pb-lg-1 Support
            ul.nav.flex-column
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Help center
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Terms of service
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Legal
              li: a(href='#').nav-link.fw-normal.py-1.px-0 Privacy policy
          .col
            h4.h6.fw-bold.pb-2.mb-0.mb-lg-1 Install App
            a(href='#').btn.btn-secondary.px-3.py-2.mt-3.me-3.me-md-0
              img(src='assets/img/market/appstore-dark.svg' width='120' alt='App Store').mx-1.d-dark-mode-none
              img(src='assets/img/market/appstore-light.svg' width='120' alt='App Store').mx-1.d-none.d-dark-mode-block
            a(href='#').btn.btn-secondary.px-3.py-2.mt-3.me-3.me-md-0
              img(src='assets/img/market/googleplay-dark.svg' width='119' alt='Google Play').mx-1.d-dark-mode-none
              img(src='assets/img/market/googleplay-light.svg' width='119' alt='Google Play').mx-1.d-none.d-dark-mode-block

    p.fs-sm.mb-0
      span.opacity-70 &copy; All rights reserved. Made by 
      a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link.d-inline.fw-normal.p-0 Createx Studio
        