//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

//- Override default config variables
append config
  - var isNestedFile = true
  - var isPageLoading = false

doctype html
html(lang='en')

  //- head.pug template
  include head
  
  // Body
  body.bg-secondary

    if isPageLoading
      // Page loading spinner
      .page-loading.active
        .page-loading-inner
          .page-spinner
          span Loading...

    if pageTitle === 'Offcanvas'
      // Left offcanvas example
      .offcanvas.offcanvas-start(id='offcanvasLeft' tabindex='-1')
        .offcanvas-header.border-bottom
          h5.offcanvas-title Left offcanvas
          button(type='button' data-bs-dismiss='offcanvas').btn-close
        .offcanvas-body
          p Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.

      // Top offcanvas example
      .offcanvas.offcanvas-top(id='offcanvasTop' tabindex='-1')
        .offcanvas-header.border-bottom
          h5.offcanvas-title Top offcanvas
          button(type='button' data-bs-dismiss='offcanvas').btn-close
        .offcanvas-body
          p Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
        
      // Right offcanvas example
      .offcanvas.offcanvas-end(id='offcanvasRight' tabindex='-1')
        .offcanvas-header.border-bottom
          h5.offcanvas-title Right offcanvas
          button(type='button' data-bs-dismiss='offcanvas').btn-close
        .offcanvas-body
          p Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
        
      // Bottom offcanvas example
      .offcanvas.offcanvas-bottom(id='offcanvasBottom' tabindex='-1')
        .offcanvas-header.border-bottom
          h5.offcanvas-title Bottom offcanvas
          button(type='button' data-bs-dismiss='offcanvas').btn-close
        .offcanvas-body
          p Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
    
    if pageTitle === 'Modal'
      // Small modal
      div(id='modalSmall' tabindex='-1' role='dialog').modal.fade
        .modal-dialog.modal-sm(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p ...
              
      // Default modal
      div(id='modalDefault' tabindex='-1' role='dialog').modal.fade
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p Modal body text goes here.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes
              
      // Large modal
      div(id='modalLarge' tabindex='-1' role='dialog').modal.fade
        .modal-dialog.modal-lg(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p Modal body text goes here.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes
              
      // Extra large modal
      div(id='modalXL' tabindex='-1' role='dialog').modal.fade
        .modal-dialog.modal-xl(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p Modal body text goes here.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes
              
      // Long modal
      div(id='modalLong' tabindex='-1' role='dialog').modal.fade
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body.fs-sm
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes
              
      // Scrolling content
      div(id='modalScroll' tabindex='-1' role='dialog').modal.fade
        .modal-dialog.modal-dialog-scrollable(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body.fs-sm
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
              p Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
              p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
              p Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes
              
      // Vertically centered modal
      div(id='modalCentered' tabindex='-1' role='dialog').modal.fade
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p Modal body text goes here.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes
              
      // Full screen modal
      div(id='modalFullscreen' tabindex='-1' role='dialog').modal.fade
        .modal-dialog.modal-fullscreen(role='document')
          .modal-content
            .modal-header
              h4.modal-title Modal title
              button(type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              p Modal body text goes here.
            .modal-footer
              button(type='button' class='btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0' data-bs-dismiss='modal') Close
              button(type='button' class='btn btn-primary w-100 w-sm-auto ms-sm-3') Save changes


    // Navbar
    header(data-scroll-header).navbar.navbar-expand.justify-content-end.fixed-top
      .container
        a(href='typography.html').navbar-brand.pe-xl-2.me-4
          span.text-primary.flex-shrink-0.me-2
            svg(version='1.1' width='35' height='32' viewBox='0 0 36 33' xmlns='http://www.w3.org/2000/svg')
              path(fill='currentColor' d='M35.6,29c-1.1,3.4-5.4,4.4-7.9,1.9c-2.3-2.2-6.1-3.7-9.4-3.7c-3.1,0-7.5,1.8-10,4.1c-2.2,2-5.8,1.5-7.3-1.1c-1-1.8-1.2-4.1,0-6.2l0.6-1.1l0,0c0.6-0.7,4.4-5.2,12.5-5.7c0.5,1.8,2,3.1,3.9,3.1c2.2,0,4.1-1.9,4.1-4.2s-1.8-4.2-4.1-4.2c-2,0-3.6,1.4-4,3.3H7.7c-0.8,0-1.3-0.9-0.9-1.6l5.6-9.8c2.5-4.5,8.8-4.5,11.3,0L35.1,24C36,25.7,36.1,27.5,35.6,29z')
          | Around
          span.badge.bg-warning.fs-sm.ms-2 UI Kit
        ul.navbar-nav.d-none.d-lg-flex.me-auto
          li.nav-item
            a(href='../index.html').nav-link
              i.ai-monitor.fs-lg.opacity-90.me-2
              | Live demo
          li.nav-item
            a(href='../docs/getting-started.html').nav-link
              i.ai-file-text.fs-lg.opacity-90.me-2
              | Documentation
        if isThemeModeSwitch
          div(data-bs-toggle='mode').form-check.form-switch.mode-switch.pe-lg-1.ms-auto
            input(type='checkbox')#theme-mode.form-check-input
            label(for='theme-mode').form-check-label
              i.ai-sun.fs-lg
            label(for='theme-mode').form-check-label
              i.ai-moon.fs-lg
        button(type='button' data-bs-toggle='offcanvas' data-bs-target='#componentsNav').navbar-toggler.d-block.d-lg-none.ms-3.border-0
            span.navbar-toggler-icon
        a(href='https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/' target='_blank' rel='noopener').btn.btn-sm.btn-primary.d-none.d-lg-inline-flex.fs-sm.ms-4
          i.ai-cart.d-sm-inline-block.fs-xl.me-2.ms-n1
          | Buy now
      

    // Desktop sidebar navigation (on screens > 991px) (Offcanvas)
    aside.container.position-fixed.d-none.d-lg-block.start-50.translate-middle-x.h-100.pt-5
      .row.h-100.pt-5
        .col-lg-3.d-flex.flex-column.pb-3.pt-4(style='height: calc(100% - 2rem);')
          .h-100.mt-2(data-simplebar)
            h3.h5.mb-1.pb-2 Content
            +components-nav([
              {'title': 'Typography', 'link': 'typography.html'},
              {'id': 'icons', 'title': 'Icon font', 'link': 'icon-font.html'},
              {'id': 'code', 'title': 'Code', 'link': 'code.html'},
              {'id': 'imgs', 'title': 'Images & figures', 'link': 'images.html'},
              {'id': 'tables', 'title': 'Tables', 'link': 'tables.html'}
            ])
            h3.h5.mb-1.pt-4.pb-2 Components
            +components-nav([
              {'id': 'accordion', 'title': 'Accordion', 'link': 'accordion.html'},
              {'id': 'alerts', 'title': 'Alerts', 'link': 'alerts.html'},
              {'id': 'badges', 'title': 'Badges', 'link': 'badges.html'},
              {'id': 'blog', 'title': 'Blog components', 'link': 'blog-components.html'},
              {'id': 'breadcrumb', 'title': 'Breadcrumb', 'link': 'breadcrumb.html'},
              {'id': 'btns', 'title': 'Buttons', 'link': 'buttons.html'},
              {'id': 'btn-group', 'title': 'Button group', 'link': 'button-group.html'},
              {'id': 'cards-basic', 'title': 'Cards: Basic', 'link': 'cards-basic.html'},
              {'id': 'cards-hover', 'title': 'Cards: Hover effects', 'link': 'cards-hover.html'},
              {'id': 'carousel', 'title': 'Carousel (Slider)', 'link': 'carousel.html'},
              {'id': 'charts', 'title': 'Charts', 'link': 'charts.html'},
              {'id': 'collapse', 'title': 'Collapse', 'link': 'collapse.html'},
              {'id': 'countdown', 'title': 'Countdown', 'link': 'countdown.html'},
              {'id': 'picker', 'title': 'Date / time picker', 'link': 'date-picker.html'},
              {'id': 'dropdowns', 'title': 'Dropdowns', 'link': 'dropdowns.html'},
              {'id': 'calendar', 'title': 'Event calendar', 'link': 'calendar.html'},
              {'id': 'forms', 'title': 'Forms', 'link': 'forms.html'},
              {'id': 'gallery', 'title': 'Gallery (Lightbox)', 'link': 'gallery.html'},
              {'id': 'hotspots', 'title': 'Hotspots', 'link': 'hotspots.html'},
              {'id': 'ics', 'title': 'Image comparison slider', 'link': 'image-comparison-slider.html'},
              {'id': 'ig', 'title': 'Input group', 'link': 'input-group.html'},
              {'id': 'lg', 'title': 'List group', 'link': 'list-group.html'},
              {'id': 'maps', 'title': 'Maps', 'link': 'maps.html'},
              {'id': 'modal', 'title': 'Modal', 'link': 'modal.html'},
              {'id': 'navbar', 'title': 'Navbar', 'link': 'navbar.html'},
              {'id': 'offcanvas', 'title': 'Offcanvas', 'link': 'offcanvas.html'},
              {'id': 'pagination', 'title': 'Pagination', 'link': 'pagination.html'},
              {'id': 'parallax', 'title': 'Parallax', 'link': 'parallax.html'},
              {'id': 'pills', 'title': 'Pills', 'link': 'pills.html'},
              {'id': 'placeholders', 'title': 'Placeholders', 'link': 'placeholders.html'},
              {'id': 'popovers', 'title': 'Popovers', 'link': 'popovers.html'},
              {'id': 'portfolio', 'title': 'Portfolio components', 'link': 'portfolio-components.html'},
              {'id': 'pricing', 'title': 'Pricing', 'link': 'pricing.html'},
              {'id': 'progress', 'title': 'Progress', 'link': 'progress.html'},
              {'id': 'shop', 'title': 'Shop components', 'link': 'shop-components.html'},
              {'id': 'social-btns', 'title': 'Social buttons', 'link': 'social-buttons.html'},
              {'id': 'spinners', 'title': 'Spinners', 'link': 'spinners.html'},
              {'id': 'steps', 'title': 'Steps', 'link': 'steps.html'},
              {'id': 'tabs', 'title': 'Tabs', 'link': 'tabs.html'},
              {'id': 'team', 'title': 'Team', 'link': 'team.html'},
              {'id': 'testimonials', 'title': 'Testimonials / reviews', 'link': 'testimonials.html'},
              {'id': 'toasts', 'title': 'Toasts', 'link': 'toasts.html'},
              {'id': 'tooltips', 'title': 'Tooltips', 'link': 'tooltips.html'},
              {'id': 'video', 'title': 'Video popup', 'link': 'video-popup.html'}
            ])
            h3.h5.mb-1.pt-4.pb-2 Utilities
            ul.nav.flex-column.mb-0
              li.nav-item
                a(href='https://getbootstrap.com/docs/5.2/utilities/background/' target='_blank' rel='noopener').nav-link.px-0.py-2
                  i.ai-circle-arrow-right.fs-lg.opacity-90.me-2
                  | Bootstrap
            +components-nav([
              {'id': 'utils', 'title': 'Around utilities', 'link': 'utilities.html'}
            ])

    
    // Mobile offcanvas navigation (on screens < 992px)
    #componentsNav.offcanvas.offcanvas-start
      .offcanvas-header.align-items-center
        .d-flex.align-items-center
          h4.offcanvas-title Menu
        button(type='button' data-bs-dismiss='offcanvas').btn-close
      ul.nav.flex-column.border-bottom.pb-4
        li.nav-item
          a(href='../index.html').nav-link.py-2
            i.ai-monitor.fs-lg.opacity-90.me-2
            | Live demo
        li.nav-item
          a(href='../docs/getting-started.html').nav-link.py-2
            i.ai-file-text.fs-lg.opacity-90.me-2
            | Documentation
      .offcanvas-body
        h3.h5.mb-1.pb-2 Content
        +components-nav([
          {'title': 'Typography', 'link': 'typography.html'},
          {'id': 'icons=m', 'title': 'Icon font', 'link': 'icon-font.html'},
          {'id': 'code=m', 'title': 'Code', 'link': 'code.html'},
          {'id': 'imgs=m', 'title': 'Images & figures', 'link': 'images.html'},
          {'id': 'tables=m', 'title': 'Tables', 'link': 'tables.html'}
        ])
        h3.h5.mb-1.pt-4.pb-2 Components
        +components-nav([
          {'id': 'accordion=m', 'title': 'Accordion', 'link': 'accordion.html'},
          {'id': 'alerts=m', 'title': 'Alerts', 'link': 'alerts.html'},
          {'id': 'badges=m', 'title': 'Badges', 'link': 'badges.html'},
          {'id': 'blog=m', 'title': 'Blog components', 'link': 'blog-components.html'},
          {'id': 'breadcrumb=m', 'title': 'Breadcrumb', 'link': 'breadcrumb.html'},
          {'id': 'btns=m', 'title': 'Buttons', 'link': 'buttons.html'},
          {'id': 'btn-group=m', 'title': 'Button group', 'link': 'button-group.html'},
          {'id': 'cards-basic=m', 'title': 'Cards: Basic', 'link': 'cards-basic.html'},
          {'id': 'cards-hover=m', 'title': 'Cards: Hover effects', 'link': 'cards-hover.html'},
          {'id': 'carousel=m', 'title': 'Carousel (Slider)', 'link': 'carousel.html'},
          {'id': 'charts=m', 'title': 'Charts', 'link': 'charts.html'},
          {'id': 'collapse=m', 'title': 'Collapse', 'link': 'collapse.html'},
          {'id': 'countdown=m', 'title': 'Countdown', 'link': 'countdown.html'},
          {'id': 'picker=m', 'title': 'Date / time picker', 'link': 'date-picker.html'},
          {'id': 'dropdowns=m', 'title': 'Dropdowns', 'link': 'dropdowns.html'},
          {'id': 'calendar=m', 'title': 'Event calendar', 'link': 'calendar.html'},
          {'id': 'forms=m', 'title': 'Forms', 'link': 'forms.html'},
          {'id': 'gallery=m', 'title': 'Gallery (Lightbox)', 'link': 'gallery.html'},
          {'id': 'hotspots=m', 'title': 'Hotspots', 'link': 'hotspots.html'},
          {'id': 'ics=m', 'title': 'Image comparison slider', 'link': 'image-comparison-slider.html'},
          {'id': 'ig=m', 'title': 'Input group', 'link': 'input-group.html'},
          {'id': 'lg=m', 'title': 'List group', 'link': 'list-group.html'},
          {'id': 'maps=m', 'title': 'Maps', 'link': 'maps.html'},
          {'id': 'modal=m', 'title': 'Modal', 'link': 'modal.html'},
          {'id': 'navbar=m', 'title': 'Navbar', 'link': 'navbar.html'},
          {'id': 'offcanvas=m', 'title': 'Offcanvas', 'link': 'offcanvas.html'},
          {'id': 'pagination=m', 'title': 'Pagination', 'link': 'pagination.html'},
          {'id': 'parallax=m', 'title': 'Parallax', 'link': 'parallax.html'},
          {'id': 'pills=m', 'title': 'Pills', 'link': 'pills.html'},
          {'id': 'placeholders=m', 'title': 'Placeholders', 'link': 'placeholders.html'},
          {'id': 'popovers=m', 'title': 'Popovers', 'link': 'popovers.html'},
          {'id': 'portfolio=m', 'title': 'Portfolio components', 'link': 'portfolio-components.html'},
          {'id': 'pricing=m', 'title': 'Pricing', 'link': 'pricing.html'},
          {'id': 'progress=m', 'title': 'Progress', 'link': 'progress.html'},
          {'id': 'shop=m', 'title': 'Shop components', 'link': 'shop-components.html'},
          {'id': 'social-btns=m', 'title': 'Social buttons', 'link': 'social-buttons.html'},
          {'id': 'spinners=m', 'title': 'Spinners', 'link': 'spinners.html'},
          {'id': 'steps=m', 'title': 'Steps', 'link': 'steps.html'},
          {'id': 'tabs=m', 'title': 'Tabs', 'link': 'tabs.html'},
          {'id': 'team=m', 'title': 'Team', 'link': 'team.html'},
          {'id': 'testimonials=m', 'title': 'Testimonials / reviews', 'link': 'testimonials.html'},
          {'id': 'toasts=m', 'title': 'Toasts', 'link': 'toasts.html'},
          {'id': 'tooltips=m', 'title': 'Tooltips', 'link': 'tooltips.html'},
          {'id': 'video=m', 'title': 'Video popup', 'link': 'video-popup.html'}
        ])
        h3.h5.mb-1.pt-4.pb-2 Utilities
        ul.nav.flex-column.mb-0
          li.nav-item
            a(href='https://getbootstrap.com/docs/5.2/utilities/background/' target='_blank' rel='noopener').nav-link.px-0.py-2
              i.ai-circle-arrow-right.fs-lg.opacity-90.me-2
              | Bootstrap
        +components-nav([
          {'id': 'utils=m', 'title': 'Around utilities', 'link': 'utilities.html'}
        ])
      .offcanvas-header.border-top
        a(href='https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/' target='_blank' rel='noopener').btn.btn-primary.w-100
          i.ai-cart.d-sm-inline-block.fs-xl.me-2.ms-n1
          | Buy now


    // Page content
    section.container.pt-5.pb-4
      .row.pt-5.pb-2.pb-sm-3
        .col-lg-9.offset-lg-3.position-relative.zindex-5
          h1.pt-lg-4 !{pageTitle}
          .d-flex.flex-wrap.flex-md-nowrap.justify-content-between.pb-3
            p.text-muted !{pageSubtitle}
            if Object.keys(pageTitleLink).length
              p.fs-sm.fw-semibold.ps-md-4
                a()&attributes({'href': pageTitleLink.link, 'class': 'text-decoration-none text-nowrap', 'target': '_blank', 'rel': 'noopener'})= pageTitleLink.title
                  i.ai-external-link.fs-lg.ms-2
            if isPageTitleBadge
              .ps-md-4.mb-3
                span.badge.bg-warning.fs-sm Around component
          
          block content


    // Back to top button
    a(href='#top' data-scroll).btn-scroll-top
      svg(viewBox='0 0 40 40' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
        circle(cx='20' cy='20' r='19' fill='none' stroke='currentColor' stroke-width='1.5' stroke-miterlimit='10')
      i.ai-arrow-up    
      
    
    // Vendor scripts: js libraries and plugins
    script(src='../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js')
    +scripts

    // Main theme script
    script(src='../assets/js/theme.min.js')
