<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.kh.realfinal.politics.model.mapper.CardCutMapper">
 
	<resultMap type="CardCut" id="CardCutMap">
		<id property="title" column="TITLE"/>
		<result property="link" column="LINK"/>
		<result property="descriptionOrigin" column="DESCRIPTION"/>
		<result property="pubDate" column="PUBDATE"/>
	</resultMap>


	<insert id="insertCardCut"
		parameterType="CardCut">
		INSERT INTO CARDCUT(		
			CARDCUT_NO, TITLE, LINK, DESCRIPTION, PUBDATE
		) VALUES(
			SEQ_CARDCUT_NO.NEXTVAL, #{title}, #{link}, #{descriptionOrigin}, #{pubDate}
		)
	</insert>

	<select id="selectCardCut" resultMap="CardCutMap">
		SELECT CARDCUT_NO, TITLE, LINK, DESCRIPTION, PUBDATE
		FROM CARDCUT
	</select>
	
	
	<select id="selectCardCutCount" resultType="int"  parameterType="map">
		SELECT COUNT(*)
		FROM CARDCUT
	</select>
	
	<!-- 검색 후 갯수
	<select id="selectListCount" resultType="int"  parameterType="map">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN USER_T U ON(B.WRITER_NO = U.USER_NO)
		WHERE B.BOARD_STATUS = 'Y'
		<if test="no != null and !board_list_no.equals('')">
			AND B.BOARD_LIST_NO = #{board_list_no}
		</if>
	</select> -->
	
	
</mapper>