<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.kh.realfinal.politics.model.mapper.LawProposedMapper">


	<resultMap type="LawProposed" id="LawProposedMap">
		<id property="billNo" column="BILL_NO"/>
		<result property="rstProposer" column="RST_PROPOSER"/>
		<result property="age" column="AGE"/>
		<result property="billName" column="BILL_NAME"/>
		<result property="proposer" column="PROPOSER"/>
		<result property="committee" column="COMMITTEE"/>
		<result property="proposeDt" column="PROPOSE_DT"/>
		<result property="procResult" column="PROC_RESULT"/>
		<result property="detailLink" column="DETAIL_LINK"/>
	</resultMap>


	<insert id="insertLawProposed" parameterType="LawProposed">
		INSERT INTO MNA_LEGISLATION(		
			MNA_LEGISLATION_NO, BILL_NO, RST_PROPOSER, AGE, BILL_NAME,
			PROPOSER, COMMITTEE, PROPOSE_DT, PROC_RESULT, DETAIL_LINK
		) VALUES(
			SEQ_MNA_LEGISLATION_NO.NEXTVAL, #{billNo}, #{rstProposer}, #{age}, #{billName},
			#{proposer}, #{committee}, #{proposeDt}, #{procResult}, #{detailLink}
		)
	</insert>
	
  <select id="selectLawProposed" resultMap="LawProposedMap" parameterType="int">
		SELECT MNA_LEGISLATION_NO, BILL_NO, RST_PROPOSER, AGE, BILL_NAME,
		PROPOSER, COMMITTEE, PROPOSE_DT, PROC_RESULT, DETAIL_LINK
		FROM MNA_LEGISLATION ORDER BY MNA_LEGISLATION_NO
		WHERE MNA_LEGISLATION_NO = #{lawNo}
	</select> 
	
	<select id="selectLawProposedList" resultMap="LawProposedMap" parameterType="map">
		SELECT MNA_LEGISLATION_NO, BILL_NO, RST_PROPOSER, AGE, BILL_NAME,
		PROPOSER, COMMITTEE, PROPOSE_DT, PROC_RESULT, DETAIL_LINK
		FROM MNA_LEGISLATION 
		WHERE 1=1
		<if test="name != null">
			 AND RST_PROPOSER = #{name}
		</if>
		<if test="searchKey != null">
			 AND BILL_NAME LIKE '%' || #{searchKey} || '%'
		</if>
		
	</select>
	
	<!-- 카운트 (검색페이지랑 항상 쌍둥이처럼 쳐야함) : 페이징 처리할때 현재 검색되는 글이 몇개인줄 알아야함-->
	<select id="selectLawProposedCount" resultType="int"  parameterType="map">
		SELECT COUNT(*)
		FROM MNA_LEGISLATION
		WHERE 1=1 
		<if test="name != null">
			 AND  RST_PROPOSER = #{name}
		</if>
		<if test="searchKey != null">
			 AND BILL_NAME LIKE '%'||#{searchKey}||'%'
		</if>
		
	</select>
</mapper>