//- Vendor scripts and styles
- var vendorStyles = []
- var vendorScripts = []

//- Page title
- var pageTitle = 'Directory & Listings Bootstrap Template'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isPageTitleBadge = false
- var isNestedFile = false
- var isPageLoading = true

//- Active menu item
- var parentMenu

//- Body class
- var bodyClass = ''
