<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼를 쓸려면 이렇게 가야된다. -->
<!-- com.kh.realfinal.financialterm.model.mapper.FinancialtermMapper.insertFinancialterm -->
<mapper	namespace="com.kh.realfinal.financialsupervisory.model.mapper.CreditLoanMapper">
	<insert id="insertCreditLoan"
		parameterType="hashMap">
		INSERT INTO CREDITLOAN(
		
			CREDITLOAN_ID, CREDITLOAN_TOP_FIN_GRP_NO, CREDITLOAN_DCLS_MONTH, CREDITLOAN_FIN_CO_NO, CREDITLOAN_KOR_CO_NM, 
			CREDITLOAN_FIN_PRDT_CD, CREDITLOAN_FIN_PRDT_NM, CREDITLOAN_JOIN_WAY, 
			CREDITLOAN_CRDT_PRDT_TYPE, CREDITLOAN_CRDT_PRDT_TYPE_NM, CREDITLOAN_CB_NAME, 
			CREDITLOAN_DCLS_STRT_DAY, CREDITLOAN_DCLS_END_DAY, CREDITLOAN_FIN_CO_SUBM_DAY, 
			CREDITLOAN_CRDT_LEND_RATE_TYPE, CREDITLOAN_CRDT_LEND_TYPE_NM, 
			CREDITLOAN_CRDT_GRAD_1, CREDITLOAN_CRDT_GRAD_4, CREDITLOAN_CRDT_GRAD_5, CREDITLOAN_CRDT_GRAD_6, 
			CREDITLOAN_CRDT_GRAD_10, CREDITLOAN_CRDT_GRAD_11, CREDITLOAN_CRDT_GRAD_12, CREDITLOAN_CRDT_GRAD_13, CREDITLOAN_CRDT_GRAD_AVG
		) VALUES
		<!-- 중복컬럼 -->
			(#{creditloan_id}, #{topFinGrpNo}, #{dcls_month}, #{fin_co_no}, #{kor_co_nm}, 
			#{fin_prdt_cd}, #{fin_prdt_nm}, #{join_way},
			<!-- 비중복컬럼 -->
			#{crdt_prdt_type}, #{crdt_prdt_type_nm}, #{cb_name}, 
			<!-- 중복컬럼 -->
			#{dcls_strt_day}, #{dcls_end_day}, #{fin_co_subm_day},
			<!-- 옵션 -->
			#{crdt_lend_rate_type}, #{crdt_lend_rate_type_nm}, 
			#{crdt_grad_1}, #{crdt_grad_4}, #{crdt_grad_5}, #{crdt_grad_6}, 
			#{crdt_grad_10}, #{crdt_grad_11}, #{crdt_grad_12}, #{crdt_grad_13}, #{crdt_grad_avg})
	</insert>
	
	<insert id="insertCreditLoanOption"
		parameterType="hashMap">
		INSERT INTO CREDITLOAN_OPTION(
			CREDITLOAN_ID, CREDITLOAN_CRDT_LEND_RATE_TYPE, CREDITLOAN_CRDT_LEND_TYPE_NM, 
			CREDITLOAN_CRDT_GRAD_1, CREDITLOAN_CRDT_GRAD_4, CREDITLOAN_CRDT_GRAD_5, CREDITLOAN_CRDT_GRAD_6, 
			CREDITLOAN_CRDT_GRAD_10, CREDITLOAN_CRDT_GRAD_11, CREDITLOAN_CRDT_GRAD_12, CREDITLOAN_CRDT_GRAD_13, CREDITLOAN_CRDT_GRAD_AVG
		) VALUES(
			#{creditloan_id}, #{crdt_lend_rate_type}, #{crdt_lend_rate_type_nm}, 
			#{crdt_grad_1}, #{crdt_grad_4}, #{crdt_grad_5}, #{crdt_grad_6}, 
			#{crdt_grad_10}, #{crdt_grad_11}, #{crdt_grad_12}, #{crdt_grad_13}, #{crdt_grad_avg}
		)
	</insert>
</mapper>