<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼를 쓸려면 이렇게 가야된다. -->
<!-- com.kh.realfinal.financialterm.model.mapper.FinancialtermMapper.insertFinancialterm -->
<mapper	namespace="com.kh.realfinal.financialsupervisory.model.mapper.FixDepositMapper">
	<resultMap type="FixDeposit" id="fixDepositResultMap">
		<id property="id" column="FIXDEPOSIT_ID"/>
		<result property="finType" column="FINTYPE"/>
		<result property="dclsMonth" column="FIXDEPO_DCLS_MONTH"/>
		<result property="finCoNo" column="FIXDEPO_FIN_CO_NO"/>
		<result property="korCoNm" column="FIXDEPO_KOR_CO_NM"/>
		<result property="finPrdtCd" column="FIXDEPO_FIN_PRDT_CD"/>
		<result property="finPrdtNm" column="FIXDEPO_FIN_PRDT_NM"/>
		<result property="joinWay" column="FIXDEPO_JOIN_WAY"/>
		<result property="mtrtInt" column="FIXDEPO_MTRT_INT"/>
		<result property="spclCnd" column="FIXDEPO_SPCL_CND"/>
		<result property="joinDeny" column="FIXDEPO_JOIN_DENY"/>
		<result property="joinMember" column="FIXDEPO_JOIN_MEMBER"/>
		<result property="etcNote" column="FIXDEPO_ETC_NOTE"/>
		<result property="maxLimit" column="FIXDEPO_MAX_LIMIT"/>
		<result property="dclsStrtDay" column="FIXDEPO_DCLS_STRT_DAY"/>
		<result property="dclsEndDay" column="FIXDEPO_DCLS_END_DAY"/>
		<result property="finCoSubmDay" column="FIXDEPO_FIN_CO_SUBM_DAY"/>
	</resultMap>
	
	<resultMap type="FixDeposit" id="fixDepositListResultMap" extends="fixDepositResultMap">
		<collection property="fixOptionList" javaType="arrayList" resultMap="fixDepositOptionMap"/>
	</resultMap>
	
	<resultMap type="FixDepositOption" id="fixDepositOptionMap">
		<id property="fixdepositNo" column="FIXDEPOSIT_NO"/>
		<result property="fixId" column="FIXDEPOSIT_ID"/>
		<result property="intrRateType" column="INTR_RATE_TYPE"/>
		<result property="intrRateTypeNm" column="INTR_RATE_TYPE_NM"/>
		<result property="saveTrm" column="SAVE_TRM"/>
		<result property="intrRate" column="INTR_RATE"/>
		<result property="intrRate2" column="INTR_RATE2"/>
	</resultMap>


	<insert id="insertFixDeposit"
		parameterType="FixDeposit">
		INSERT INTO FIXDEPOSIT(		
			FIXDEPOSIT_ID, FIXDEPO_DCLS_MONTH, FIXDEPO_FIN_CO_NO, FIXDEPO_KOR_CO_NM, 
			FIXDEPO_FIN_PRDT_CD, FIXDEPO_FIN_PRDT_NM, FIXDEPO_JOIN_WAY, FIXDEPO_MTRT_INT, 
			FIXDEPO_SPCL_CND, FIXDEPO_JOIN_DENY, FIXDEPO_JOIN_MEMBER, FIXDEPO_ETC_NOTE, 
			FIXDEPO_MAX_LIMIT, FIXDEPO_DCLS_STRT_DAY, FIXDEPO_DCLS_END_DAY, FIXDEPO_FIN_CO_SUBM_DAY
		) VALUES(
			#{id}, #{dclsMonth}, #{finCoNo}, #{korCoNm}, #{finPrdtCd}, 
			#{finPrdtNm}, #{joinWay},#{mtrtInt}, #{spclCnd}, #{joinDeny}, #{joinMember}, 
			#{etcNote}, #{maxLimit}, #{dclsStrtDay}, #{dclsEndDay}, #{finCoSubmDay}
		)
	</insert>
	
	<insert id="insertFixDepositOption"
		parameterType="FixDepositOption">
		INSERT INTO FIXDEPOSIT_OPTION(
			FIXDEPOSIT_NO, FIXDEPOSIT_ID, INTR_RATE_TYPE, 
			INTR_RATE_TYPE_NM, SAVE_TRM, INTR_RATE, INTR_RATE2
		) VALUES(
			#{fixdepositNo}, #{fixId}, #{intrRateType}, 
			#{intrRateTypeNm}, #{saveTrm}, #{intrRate}, #{intrRate2}
		)
	</insert>
	
	<select id="selectDepositList" resultMap="fixDepositListResultMap">
		SELECT f.fintype, f.fixdeposit_id, f.fixdepo_kor_co_nm, f.fixdepo_fin_prdt_nm, f.fixdepo_join_way, f.fixdepo_mtrt_int,
		f.fixdepo_spcl_cnd, f.fixdepo_join_member, f.fixdepo_etc_note, f.fixdepo_max_limit,
		o.intr_rate_type_nm, o.save_trm, o.intr_rate2
		FROM FIXDEPOSIT f
		JOIN FIXDEPOSIT_OPTION o on f.fixdeposit_id = o.fixdeposit_id
		JOIN (SELECT fixdeposit_id, MAX(intr_rate2) MAX_RATE
		FROM FIXDEPOSIT_OPTION
		GROUP BY fixdeposit_id) C ON C.fixdeposit_id = f.fixdeposit_id
		AND C.MAX_RATE = o.intr_rate2
		<if test="korCoNm != null">
			WHERE f.fixdepo_kor_co_nm LIKE '%'||#{korCoNm}||'%'			
		</if>
		<if test="sort != null"> 
			<choose>
				<when test="sort == 'sortBy'">ORDER BY f.fixdeposit_id</when>
				<when test="sort == 'intRate'">ORDER BY o.intr_rate2 DESC</when>
				<when test="sort == 'prtNm'">ORDER BY f.fixdepo_fin_prdt_nm</when>
			</choose>
		</if>
	</select>
	
	<select id="selectDepositCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM(SELECT f.fixdeposit_id, f.fixdepo_kor_co_nm, f.fixdepo_fin_prdt_nm, f.fixdepo_join_way, f.fixdepo_mtrt_int,
		f.fixdepo_spcl_cnd, f.fixdepo_join_member, f.fixdepo_etc_note, f.fixdepo_max_limit,
		o.intr_rate_type_nm, o.save_trm, o.intr_rate2
		FROM FIXDEPOSIT f
		JOIN FIXDEPOSIT_OPTION o on f.fixdeposit_id = o.fixdeposit_id
		JOIN (SELECT fixdeposit_id, MAX(intr_rate2) MAX_RATE
		FROM FIXDEPOSIT_OPTION
		GROUP BY fixdeposit_id) C ON C.fixdeposit_id = f.fixdeposit_id
		AND C.MAX_RATE = o.intr_rate2
		<if test="korCoNm != null">
			WHERE f.fixdepo_kor_co_nm LIKE '%'||#{korCoNm}||'%'		
		</if>
		)
	</select>
	
	<select id="selectByDepositId" parameterType="int" resultMap="fixDepositListResultMap">
		SELECT f.fintype, f.fixdeposit_id, f.fixdepo_kor_co_nm, f.fixdepo_fin_prdt_nm, f.fixdepo_join_way, f.fixdepo_mtrt_int,
		f.fixdepo_spcl_cnd, f.fixdepo_join_member, f.fixdepo_etc_note, f.fixdepo_max_limit,
		o.intr_rate_type_nm, o.save_trm, o.intr_rate2
		FROM FIXDEPOSIT f
		JOIN FIXDEPOSIT_OPTION o on f.fixdeposit_id = o.fixdeposit_id
		JOIN (SELECT fixdeposit_id, MAX(intr_rate2) MAX_RATE
		FROM FIXDEPOSIT_OPTION
		GROUP BY fixdeposit_id) C ON C.fixdeposit_id = f.fixdeposit_id
		AND C.MAX_RATE = o.intr_rate2
		WHERE C.fixdeposit_id = #{id}
	</select>
	
</mapper>