<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼를 쓸려면 이렇게 가야된다. -->
<!-- com.kh.realfinal.financialterm.model.mapper.FinancialtermMapper.insertFinancialterm -->
<mapper	namespace="com.kh.realfinal.financialsupervisory.model.mapper.InstallmentSavingsMapper">
		<resultMap type="InstallmentSavings" id="installmentResultMap">
		<id property="id" column="INSSVN_ID"/>
		<result property="finType" column="FINTYPE"/>
		<result property="dclsMonth" column="INSSVN_DCLS_MONTH"/>
		<result property="finCoNo" column="INSSVN_FIN_CO_NO"/>
		<result property="korCoNm" column="INSSVN_KOR_CO_NM"/>
		<result property="finPrdtCd" column="INSSVN_FIN_PRDT_CD"/>
		<result property="finPrdtNm" column="INSSVN_FIN_PRDT_NM"/>
		<result property="joinWay" column="INSSVN_JOIN_WAY"/>
		<result property="mtrtInt" column="INSSVN_MTRT_INT"/>
		<result property="spclCnd" column="INSSVN_SPCL_CND"/>
		<result property="joinDeny" column="INSSVN_JOIN_DENY"/>
		<result property="joinMember" column="INSSVN_JOIN_MEMBER"/>
		<result property="etcNote" column="INSSVN_ETC_NOTE"/>
		<result property="maxLimit" column="INSSVN_MAX_LIMIT"/>
		<result property="dclsStrtDay" column="INSSVN_DCLS_STRT_DAY"/>
		<result property="dclsEndDay" column="INSSVN_DCLS_END_DAY"/>
		<result property="finCoSubmDay" column="INSSVN_FIN_CO_SUBM_DAY"/>
	</resultMap>
	
	<resultMap type="InstallmentSavings" id="installListResultMap" extends="installmentResultMap">
		<collection property="installOptionList" javaType="arrayList" resultMap="installOptionMap"/>
	</resultMap>
	
	<resultMap type="InstallmentSavingsOption" id="installOptionMap">
		<id property="inssvnNo" column="INSSVN_NO"/>
		<result property="insId" column="INSSVN_ID"/>
		<result property="intrRateType" column="INTR_RATE_TYPE"/>
		<result property="intrRateTypeNm" column="INTR_RATE_TYPE_NM"/>
		<result property="rsrvType" column="RSRV_TYPE"/>
		<result property="rsrvTypeNm" column="RSRV_TYPE_NM"/>
		<result property="saveTrm" column="SAVE_TRM"/>
		<result property="intrRate" column="INTR_RATE"/>
		<result property="intrRate2" column="INTR_RATE2"/>
	</resultMap>
	
	<select id="selectInstallList" resultMap="installListResultMap">
		SELECT I.fintype, I.inssvn_id, I.inssvn_kor_co_nm, I.inssvn_fin_prdt_nm, I.inssvn_join_way, I.inssvn_mtrt_int,
		I.inssvn_spcl_cnd, I.inssvn_join_member, I.inssvn_etc_note, I.inssvn_max_limit,
		O.intr_rate_type_nm, O.rsrv_type_nm, O.save_trm, O.intr_rate2
		FROM INSTLSAVING I
		JOIN INSSVN_OPTION O ON I.inssvn_id = O.inssvn_id
		JOIN (SELECT inssvn_id, MAX(intr_rate2) MAX_RATE
		FROM INSSVN_OPTION
		GROUP BY inssvn_id) C ON C.inssvn_id = I.inssvn_id
		AND C.MAX_RATE = O.intr_rate2	
		<if test="korCoNm != null">
			WHERE I.inssvn_kor_co_nm LIKE '%'||#{korCoNm}||'%'	
		</if>
		<if test="sort != null"> 
			<choose>
				<when test="sort == 'sortBy'">ORDER BY I.inssvn_id</when>
				<when test="sort == 'intRate'">ORDER BY O.intr_rate2 DESC</when>
				<when test="sort == 'prtNm'">ORDER BY I.inssvn_fin_prdt_nm</when>
			</choose>
		</if>
	</select>
	
	<select id="selectInstallCount" parameterType="map" resultType="int">
		SELECT count(*) from (SELECT I.inssvn_id, I.inssvn_kor_co_nm, I.inssvn_fin_prdt_nm, I.inssvn_join_way, I.inssvn_mtrt_int,
		I.inssvn_spcl_cnd, I.inssvn_join_member, I.inssvn_etc_note, I.inssvn_max_limit,
		O.intr_rate_type_nm, O.rsrv_type_nm, O.save_trm, O.intr_rate2
		FROM INSTLSAVING I
		JOIN INSSVN_OPTION O ON I.INSSVN_ID = O.INSSVN_ID
		JOIN (SELECT inssvn_id, MAX(intr_rate2) MAX_RATE
		FROM INSSVN_OPTION
		GROUP BY inssvn_id) C ON C.inssvn_id = I.inssvn_id
		AND C.MAX_RATE = O.intr_rate2
		<if test="korCoNm != null">
			WHERE I.inssvn_kor_co_nm LIKE '%'||#{korCoNm}||'%'
		</if>
		)
	</select>
	
	<select id="selectByInssvnId" parameterType="int" resultMap="installListResultMap">
		SELECT I.fintype, I.inssvn_id, I.inssvn_kor_co_nm, I.inssvn_fin_prdt_nm, I.inssvn_join_way, I.inssvn_mtrt_int,
		I.inssvn_spcl_cnd, I.inssvn_join_member, I.inssvn_etc_note, I.inssvn_max_limit,
		O.intr_rate_type_nm, O.rsrv_type_nm, O.save_trm, O.intr_rate, O.intr_rate2
		FROM INSTLSAVING I
		JOIN INSSVN_OPTION O ON I.inssvn_id = O.inssvn_id
		JOIN (SELECT inssvn_id, MAX(intr_rate2) MAX_RATE
		FROM INSSVN_OPTION
		GROUP BY inssvn_id) C ON C.inssvn_id = I.inssvn_id
		AND C.MAX_RATE = O.intr_rate2
		WHERE I.inssvn_id = #{id}
	</select>
	
	<insert id="insertInstallmentSavings"
		parameterType="InstallmentSavings">
		INSERT INTO INSTLSAVING(		
			INSSVN_ID, INSSVN_DCLS_MONTH, INSSVN_FIN_CO_NO, INSSVN_KOR_CO_NM, 
			INSSVN_FIN_PRDT_CD, INSSVN_FIN_PRDT_NM, INSSVN_JOIN_WAY, 
			INSSVN_MTRT_INT, INSSVN_SPCL_CND, INSSVN_JOIN_DENY, INSSVN_JOIN_MEMBER, INSSVN_ETC_NOTE, INSSVN_MAX_LIMIT, 
			INSSVN_DCLS_STRT_DAY, INSSVN_DCLS_END_DAY, INSSVN_FIN_CO_SUBM_DAY
		) VALUES(
			#{id}, #{dclsMonth}, #{finCoNo}, #{korCoNm}, #{finPrdtCd}, #{finPrdtNm}, 
			#{joinWay}, #{mtrtInt}, #{spclCnd}, #{joinDeny}, #{joinMember}, #{etcNote}, 
			#{maxLimit}, #{dclsStrtDay}, #{dclsEndDay}, #{finCoSubmDay}
		)
	</insert>
	
	<insert id="insertInstallmentSavingsOption"
		parameterType="InstallmentSavingsOption">
		INSERT INTO INSSVN_OPTION(
			INSSVN_NO, INSSVN_ID, INTR_RATE_TYPE, INTR_RATE_TYPE_NM, RSRV_TYPE, 
			RSRV_TYPE_NM, SAVE_TRM, INTR_RATE, INTR_RATE2
		) VALUES(
			#{inssvnNo}, #{insId}, #{intrRateType}, #{intrRateTypeNm}, 
			#{rsrvType}, #{rsrvTypeNm}, #{saveTrm}, #{intrRate}, #{intrRate2}
		)
	</insert>
</mapper>