<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼를 쓸려면 이렇게 가야된다. -->
<!-- com.kh.realfinal.financialterm.model.mapper.FinancialtermMapper.insertFinancialterm -->
<mapper	namespace="com.kh.realfinal.financialsupervisory.model.mapper.LeaseLoanMapper">
		<resultMap type="LeaseLoan" id="leaseResultMap">
		<id property="id" column="LEASELOAN_ID"/>
		<result property="dclsMonth" column="LEASELOAN_DCLS_MONTH"/>
		<result property="finCoNo" column="LEASELOAN_FIN_CO_NO"/>
		<result property="korCoNm" column="LEASELOAN_KOR_CO_NM"/>
		<result property="finPrdtCd" column="LEASELOAN_FIN_PRDT_CD"/>
		<result property="finPrdtNm" column="LEASELOAN_FIN_PRDT_NM"/>
		<result property="joinWay" column="LEASELOAN_JOIN_WAY"/>
		<result property="loanInciExpn" column="LEASELOAN_LOAN_INCI_EXPN"/>
		<result property="erlyRpayFee" column="LEASELOAN_ERLY_RPAY_FEE"/>
		<result property="dlyRate" column="LEASELOAN_DLY_RATE"/>
		<result property="loanLmt" column="LEASELOAN_LOAN_LMT"/>
		<result property="dclsStrtDay" column="LEASELOAN_DCLS_STRT_DAY"/>
		<result property="dclsEndDay" column="LEASELOAN_DCLS_END_DAY"/>
		<result property="finCoSubmDay" column="LEASELOAN_FIN_CO_SUBM_DAY"/>
	</resultMap>
	
	<resultMap type="LeaseLoan" id="leaseListResultMap" extends="leaseResultMap">
		<collection property="leaseOptionList" javaType="arrayList" resultMap="leaseOptionMap"/>
	</resultMap>
	
	<resultMap type="LeaseLoanOption" id="leaseOptionMap">
		<id property="leaseNo" column="LEASELOAN_NO"/>
		<result property="leaseId" column="LEASELOAN_ID"/>
		<result property="rpayType" column="LEASELOAN_RPAY_TYPE"/>
		<result property="rpayTypeNm" column="LEASELOAN_RPAY_TYPE_NM"/>
		<result property="lendRateType" column="LEASELOAN_LEND_RATE_TYPE"/>
		<result property="lendRateTypeNm" column="LEASELOAN_LEND_RATE_TYPE_NM"/>
		<result property="lendRateMin" column="LEASELOAN_LEND_RATE_MIN"/>
		<result property="lendRateMax" column="LEASELOAN_LEND_RATE_MAX"/>
		<result property="lendRateAvg" column="LEASELOAN_LEND_RATE_AVG"/>
	</resultMap>


	<insert id="insertLeaseLoan"
		parameterType="hashMap">
		INSERT INTO LEASELOAN(
			LEASELOAN_ID, LEASELOAN_DCLS_MONTH, LEASELOAN_FIN_CO_NO, LEASELOAN_KOR_CO_NM, 
			LEASELOAN_FIN_PRDT_CD, LEASELOAN_FIN_PRDT_NM, LEASELOAN_JOIN_WAY, 
			LEASELOAN_LOAN_INCI_EXPN, LEASELOAN_ERLY_RPAY_FEE, LEASELOAN_DLY_RATE, LEASELOAN_LOAN_LMT, 
			LEASELOAN_DCLS_STRT_DAY, LEASELOAN_DCLS_END_DAY, LEASELOAN_FIN_CO_SUBM_DAY
		) VALUES(
			#{id}, #{dclsMonth}, #{finCoNo}, #{korCoNm}, 
			#{finPrdtCd}, #{finPrdtNm}, #{joinWay},
			#{loanInciExpn}, #{erlyRpayFee}, #{dlyRate}, #{loanLmt}, 
			#{dclsStrtDay}, #{dclsEndDay}, #{finCoSubmDay}
		)
	</insert>
	
	<insert id="insertLeaseLoanOption"
		parameterType="hashMap">
		INSERT INTO LEASELOAN_OPTION(
			LEASELOAN_NO, LEASELOAN_ID, LEASELOAN_RPAY_TYPE, LEASELOAN_RPAY_TYPE_NM, LEASELOAN_LEND_RATE_TYPE, 
			LEASELOAN_LEND_RATE_TYPE_NM, LEASELOAN_LEND_RATE_MIN, LEASELOAN_LEND_RATE_MAX, LEASELOAN_LEND_RATE_AVG
		) VALUES(
			#{leaseNo}, #{leaseId}, #{rpayType}, #{rpayTypeNm}, #{lendRateType}, 
			#{lendRateTypeNm}, #{lendRateMin}, #{lendRateMax}, #{lendRateAvg}
		)
	</insert>
	
	<select id="selectLeaseLoanList" resultMap="leaseListResultMap">
		SELECT l.leaseloan_id, l.leaseloan_kor_co_nm, l.leaseloan_fin_prdt_nm, l.leaseloan_join_way,
		l.leaseloan_loan_inci_expn, l.leaseloan_erly_rpay_fee, l.leaseloan_dly_rate, l.leaseloan_loan_lmt,
		o.leaseloan_rpay_type_nm, o.leaseloan_lend_rate_type_nm, o.leaseloan_lend_rate_min,
		o.leaseloan_lend_rate_max, o.leaseloan_lend_rate_avg
		FROM LEASELOAN l
		JOIN LEASELOAN_OPTION o ON l.leaseloan_id = o.leaseloan_id
		JOIN (SELECT leaseloan_id, MAX(leaseloan_lend_rate_max) MAX_RATE
		FROM LEASELOAN_OPTION
		GROUP BY leaseloan_id) C ON C.leaseloan_id = l.leaseloan_id
		AND c.MAX_RATE = o.leaseloan_lend_rate_max
		<if test="korCoNm != null">
			WHERE l.leaseloan_kor_co_nm LIKE '%'||#{korCoNm}||'%'			
		</if>
		<if test="sort != null"> ORDER BY
			<choose>
				<when test="sort == 'sortBy'">l.leaseloan_id</when>
				<when test="sort == 'intRate'">o.leaseloan_lend_rate_min</when>
				<when test="sort == 'coNm'">l.leaseloan_kor_co_nm</when>
			</choose>
		</if>
	</select>
	
	<select id="selectLeaseLoanCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM (SELECT l.leaseloan_id, l.leaseloan_kor_co_nm, l.leaseloan_fin_prdt_nm, l.leaseloan_join_way,
		l.leaseloan_loan_inci_expn, l.leaseloan_erly_rpay_fee, l.leaseloan_dly_rate, l.leaseloan_loan_lmt,
		o.leaseloan_rpay_type_nm, o.leaseloan_lend_rate_type_nm, o.leaseloan_lend_rate_min,
		o.leaseloan_lend_rate_max, o.leaseloan_lend_rate_avg
		FROM LEASELOAN l
		JOIN LEASELOAN_OPTION o ON l.leaseloan_id = o.leaseloan_id
		JOIN (SELECT leaseloan_id, MAX(leaseloan_lend_rate_max) MAX_RATE
		FROM LEASELOAN_OPTION
		GROUP BY leaseloan_id) C ON C.leaseloan_id = l.leaseloan_id
		AND c.MAX_RATE = o.leaseloan_lend_rate_max
		<if test="korCoNm != null">
			WHERE l.leaseloan_kor_co_nm LIKE '%'||#{korCoNm}||'%'		
		</if>
		)
	</select>
	
	<select id="selectByLeaseLoanId" parameterType="int" resultMap="leaseListResultMap">
		SELECT l.leaseloan_id, l.leaseloan_kor_co_nm, l.leaseloan_fin_prdt_nm, l.leaseloan_join_way,
		l.leaseloan_loan_inci_expn, l.leaseloan_erly_rpay_fee, l.leaseloan_dly_rate, l.leaseloan_loan_lmt,
		o.leaseloan_rpay_type_nm, o.leaseloan_lend_rate_type_nm, o.leaseloan_lend_rate_min,
		o.leaseloan_lend_rate_max, o.leaseloan_lend_rate_avg
		FROM LEASELOAN l
		JOIN LEASELOAN_OPTION o ON l.leaseloan_id = o.leaseloan_id
		JOIN (SELECT leaseloan_id, MAX(leaseloan_lend_rate_max) MAX_RATE
		FROM LEASELOAN_OPTION
		GROUP BY leaseloan_id) C ON C.leaseloan_id = l.leaseloan_id
		AND c.MAX_RATE = o.leaseloan_lend_rate_max
		WHERE l.leaseloan_id = #{id}
	</select>
	
</mapper>